<!-- <div *ngIf="path === 'selling'; else elseBlock">
    <form class="form-horizontal">
        <div class="row">
          <label class="col-lg-2 col-md-2 col-sm-3 control-label">ผู้จอง :</label>
          <div class="form-group col-lg-4 col-md-3 col-sm-8">
            <input type="hidden" [(ngModel)]="modelBooking.regiCode" name="regiCode" #regiCode>
            <input type="text" [(ngModel)]="modelBooking.regiFullName" name="regiFullName" #regiFullName
              placeholder="" class="form-control">
          </div>
          <div class="col-sm-1"></div>
          <label class="col-lg-2 col-md-2 col-sm-3 control-label">เบอร์โทร :</label>
          <div class="form-group col-lg-3 col-md-3 col-sm-8">
            <input type="text" [(ngModel)]="modelBooking.custTel" name="regiTel" #custTel placeholder=""
              class="form-control" >
          </div>
        </div>

        <div class="row">
          <label class="col-lg-2 col-md-2 col-sm-3 control-label">
            ผู้ซื้อ :
            <span class="required">*</span>
          </label>
          <div class="form-group col-lg-4 col-md-3 col-sm-8">
            <input type="hidden" [(ngModel)]="modelBooking.custCode" [value]="modelCustomer.custCode" name="custCode" #custCode>
            <input type="text" [(ngModel)]="modelBooking.custFullName" name="custFullName" #regiFullName [value]="modelCustomer.custFullName"
              placeholder="" class="form-control">
          </div>

          <div class="col-md-1 col-sm-1">
            <button type="button" class="btn btn-info btn-circle" data-toggle="modal" data-target="#modalCustomerDetail">
              <i class="fa fa-ellipsis-h"></i>
            </button>
      
            <div class="modal inmodal fade" id="modalCustomerDetail" tabindex="-1" role="dialog" aria-labelledby="" style="display: none;"
              aria-hidden="true" data-backdrop="static" data-keyboard="false">
              <app-modal-customer (customerEvent)="receiveCustomer($event)"></app-modal-customer>
            </div>
          </div>
      
          <label class="col-lg-2 col-md-2 col-sm-3 control-label">
            เบอร์โทร :
            <span class="required">*</span>
          </label>
          <div class="form-group col-lg-3 col-md-3 col-sm-8">
            <input type="text" [(ngModel)]="modelBooking.custTel" name="custTel" #custTel [value]="modelCustomer.custTel" placeholder=""
              class="form-control">
          </div>
        </div>
        
        <div class="hr-line-dashed m-t-none"></div>
      
        <div class="row">
          <label class="col-lg-2 col-md-2 col-sm-3 control-label">วันที่จอง :</label>
          <div class="form-group col-lg-4 col-md-3 col-sm-8">
            <input type="date" [(ngModel)]="modelBooking.bookingDate" name="bookingDate" #bookingDate class="form-control">
          </div>
      
          <label class="col-lg-2 col-md-2 col-sm-3 control-label">เงินมัดจำ :</label>
          <div class="form-group col-lg-4 col-md-3 col-sm-8">
            <input type="text" [(ngModel)]="modelBooking.bookingPrice" name="bookingPrice" #bookingPrice placeholder="" class="form-control"
              appInputmask>
          </div>
        </div>
      
        <div class="row">
          <label class="col-lg-2 col-md-2 col-sm-3 control-label">วันที่รับรถ :</label>
          <div class="form-group col-lg-4 col-md-3 col-sm-8">
            <input type="date" [(ngModel)]="modelBooking.bookingDate" name="bookingDate" #bookingDate placeholder="" class="form-control">
          </div>
          <label class="col-lg-2 col-md-2 col-sm-3 control-label">สถานะ :</label>
          <div class="form-group col-lg-4 col-md-3 col-sm-8">
            <ng-select 
            [items]="payStatus" bindValue="value" bindLabel="text" placeholder="" [(ngModel)]="modelBooking.payStatus" name="payStatus">
            </ng-select>
          </div>
        </div>
      
        <div class="hr-line-dashed m-t-none"></div>
      
        <div class="row">
          <label class="col-lg-2 col-md-2 col-sm-3 control-label">พนักงานขาย :</label>
          <div class="form-group col-lg-4 col-md-3 col-sm-8">
            <input type="hidden" [(ngModel)]="modelBooking.empId" name="empId" #empId>
            <input type="text" [(ngModel)]="modelBooking.empFullName" name="empFullName" id="empFullName" class="form-control" disabled>
          </div>
          <label class="col-lg-2 col-md-2 col-sm-3 control-label">สาขา :</label>
          <div class="form-group col-lg-4 col-md-3 col-sm-8">
            <input type="hidden" [(ngModel)]="modelBooking.branchId" name="branchId" #branchId>
            <input type="text" [(ngModel)]="modelBooking.branchName" name="branchName" #branchName class="form-control" disabled>
          </div>
        </div>
      
        <div class="hr-line-dashed m-t-none"></div>
      
        <div class="row">
          <label class="col-lg-2 col-md-2 col-sm-3 control-label">หมายเหตุ :</label>
          <div class="form-group col-lg-10 col-sm-8">
            <textarea [(ngModel)]="modelBooking.remark" name="remark" #remark rows="2" class="form-control"></textarea>
          </div>
        </div>
      
    </form>
</div>

<ng-template #elseBlock>
    <form class="form-horizontal">
        <div class="row">
          <label class="col-lg-2 col-md-2 col-sm-3 control-label">
            ผู้จอง :
            <span class="required">*</span>
          </label>
          <div class="form-group col-lg-4 col-md-3 col-sm-8">
            <input type="hidden" [(ngModel)]="modelBooking.regiCode" [value]="modelCustomer.custCode" name="regiCode" #regiCode>
            <input type="text" [(ngModel)]="modelBooking.regiFullName" name="regiFullName" #regiFullName [value]="modelCustomer.custFullName"
              placeholder="" class="form-control" >
          </div>
          <div class="col-md-1 col-sm-1">
            <button type="button" class="btn btn-info btn-circle" data-toggle="modal" data-target="#modalRegisterDetail">
              <i class="fa fa-ellipsis-h"></i>
            </button>
      
            <div class="modal inmodal fade" id="modalRegisterDetail" tabindex="-1" role="dialog" aria-labelledby="" style="display: none;"
              aria-hidden="true" data-backdrop="static" data-keyboard="false">
              <app-modal-customer (customerEvent)="receiveCustomer($event)"></app-modal-customer>
            </div>
          </div>
      
          <label class="col-lg-2 col-md-2 col-sm-3 control-label">
            เบอร์โทร :
            <span class="required">*</span>
          </label>
          <div class="form-group col-lg-3 col-md-3 col-sm-8">
            <input type="text" [(ngModel)]="modelBooking.custTel" name="custTel" #custTel placeholder=""
              class="form-control" >
          </div>
        </div>
   
        <div class="hr-line-dashed m-t-none"></div>
      
        <div class="row">
          <label class="col-lg-2 col-md-2 col-sm-3 control-label">
            วันที่จอง :
            <span class="required">*</span>
          </label>
          <div class="form-group col-lg-4 col-md-3 col-sm-8">
            <input type="date" [(ngModel)]="modelBooking.bookingDate" name="bookingDate" #bookingDate class="form-control">
          </div>
      
          <label class="col-lg-2 col-md-2 col-sm-3 control-label">
            เงินมัดจำ :
            <span class="required">*</span>
          </label>
          <div class="form-group col-lg-4 col-md-3 col-sm-8">
            <input type="text" [(ngModel)]="modelBooking.bookingPrice" name="bookingPrice" #bookingPrice placeholder="" class="form-control"
              appInputmask>
          </div>
        </div>
      
        <div class="row">
          <label class="col-lg-2 col-md-2 col-sm-3 control-label">
            วันที่รับรถ :
            <span class="required">*</span>
          </label>
          <div class="form-group col-lg-4 col-md-3 col-sm-8">
            <input type="date" [(ngModel)]="modelBooking.bookingDate" name="bookingDate" #bookingDate placeholder="" class="form-control">
          </div>
          <label class="col-lg-2 col-md-2 col-sm-3 control-label">
            สถานะ :
            <span class="required">*</span>
          </label>
          <div class="form-group col-lg-4 col-md-3 col-sm-8">
            <ng-select 
            [items]="payStatus" bindValue="value" bindLabel="text" placeholder="" [(ngModel)]="modelBooking.payStatus" name="payStatus">
            </ng-select>
          </div>
        </div>
      
        <div class="hr-line-dashed m-t-none"></div>
      
        <div class="row">
          <label class="col-lg-2 col-md-2 col-sm-3 control-label">
            พนักงานขาย :
          </label>
          <div class="form-group col-lg-4 col-md-3 col-sm-8">
            <input type="hidden" [(ngModel)]="modelBooking.empId" name="empId" #empId>
            <input type="text" [(ngModel)]="modelBooking.empFullName" name="empFullName" id="empFullName" class="form-control" disabled>
          </div>
          <label class="col-lg-2 col-md-2 col-sm-3 control-label">
            สาขา :
          </label>
          <div class="form-group col-lg-4 col-md-3 col-sm-8">
            <input type="hidden" [(ngModel)]="modelBooking.branchId" name="branchId" #branchId>
            <input type="text" [(ngModel)]="modelBooking.branchName" name="branchName" #branchName class="form-control" disabled>
          </div>
        </div>
      
        <div class="hr-line-dashed m-t-none"></div>
      
        <div class="row">
          <label class="col-lg-2 col-md-2 col-sm-3 control-label">หมายเหตุ :</label>
          <div class="form-group col-lg-10 col-sm-8">
            <textarea [(ngModel)]="modelBooking.remark" name="remark" #remark rows="2" class="form-control"></textarea>
          </div>
        </div>
      
    </form>
</ng-template> -->
