<form class="" [formGroup]="formGroup">
  <div class="tabs-container">
    <ul class="nav nav-tabs">
      <li class="active">
        <a data-toggle="tab" href="#tab-his-1">ประวัติรถ</a>
      </li>
      <li>
        <a data-toggle="tab" href="#tab-his-2">ผู้ถือกรรมสิทธิ์</a>
      </li>
      <li>
        <a data-toggle="tab" href="#tab-his-3">ผู้ติดต่อ</a>
      </li>
    </ul>
    <div class="tab-content">
      <div id="tab-his-1" class="tab-pane active">
        <div class="panel-body">
          <section>

            <ng-container *ngIf="$Mode != ActionMode.Detail">
              <div class="row form-group">
                <div class="col-xs-6 col-lg-6">
                  <div class="form-group"><label class="col-md-4 control-label">ค้นหาประวัติ</label>
                    <div class="col-md-8">
                      <ng-select [items]="EngineDropDown" [typeahead]="searchTypeahead"
                        (change)="patchValueForm($event)" name="logReceiveId" dropdownPosition="auto" bindLabel="text"
                        bindValue="value" labelForId="model" [virtualScroll]="true"
                        placeholder="ค้นหาด้วยเลขเครื่องหรือ เลขโครง" [loading]="searchEngineLoading"
                        [loadingText]="searchEngineLoadingTxt">
                        <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                          <h5 class="">เลขเครื่อง : {{item.eNo}}</h5>
                          <h5 class="">เลขโครง​ : {{item.fNo}}</h5>
                          <ul style="padding-left: 30px;">
                            <li><small>ทะเบียน​ : {{item.tagNo}}</small></li>
                            <li><small>จังหวัด : {{item.province}}</small></li>
                          </ul>
                          <hr class="hr-dashed m-t-xs m-b-xs">
                        </ng-template>
                      </ng-select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="hr-line-dashed"></div>
            </ng-container>

            <div class="row form-group">
              <div class="col-xs-6 col-lg-6">
                <div class="form-group"><label class="col-md-4 control-label">เลขทะเบียน</label>
                  <div class="col-md-8"><input type="text" class="form-control" formControlName="tagNo" />
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-lg-6">
                <div class="form-group"><label class="col-md-4 control-label">จังหวัด</label>
                  <div class="col-md-8">
                    <ng-select [items]="provinceDropdown" bindValue="text" bindLabel="text" formControlName="province">
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-xs-6 col-lg-6">
                <div class="form-group"><label class="col-md-4 control-label is-required">หมายเลขเครื่อง</label>
                  <div class="col-md-8"><input type="text" class="form-control" formControlName="eNo" />
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-lg-6">
                <div class="form-group"><label class="col-md-4 control-label is-required">หมายเลขตัวถัง</label>
                  <div class="col-md-8"><input type="text" class="form-control" formControlName="fNo" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-xs-6 col-lg-6">
                <div class="form-group"><label class="col-md-4 control-label">ประเภท</label>
                  <div class="col-md-8"><input type="text" class="form-control" formControlName="typeName" />
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-lg-6">
                <div class="form-group"><label class="col-md-4 control-label">ยี่ห้อ</label>
                  <div class="col-md-8"><input type="text" class="form-control" formControlName="brandName" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-xs-6 col-lg-6">
                <div class="form-group"><label class="col-md-4 control-label">รุ่น</label>
                  <div class="col-md-8"><input type="text" class="form-control" formControlName="modelName" />
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-lg-6">
                <div class="form-group"><label class="col-md-4 control-label">สี</label>
                  <div class="col-md-8"><input type="text" class="form-control" formControlName="colorName" />
                  </div>
                </div>
              </div>
            </div>

            <div class="hr-line-dashed"></div>

            <div class="row form-group">
              <div class="col-xs-6 col-lg-6">
                <div class="form-group"><label class="col-md-4 control-label">วันจดทะเบียน</label>
                  <div class="col-md-8">
                    <input formControlName="tagRegis" type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-lg-6">
                <div class="form-group"><label class="col-md-4 control-label">ทะเบียนหมดอายุ</label>
                  <div class="col-md-8">
                    <input formControlName="tagExpire" type="text" class="form-control">
                  </div>
                </div>
              </div>
            </div>

            <div class="hr-line-dashed"></div>

            <div class="row form-group">
              <div class="col-xs-6 col-lg-6">
                <div class="form-group"><label class="col-md-4 control-label">กรมธรรม์ พ.ร.บ.</label>
                  <div class="col-md-8"><input type="text" class="form-control" formControlName="prbNo" />
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-lg-6">
                <div class="form-group"><label class="col-md-4 control-label">บริษัท</label>
                  <div class="col-md-8">
                    <input type="text" class="form-control" formControlName="prbCompany" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-xs-6 col-lg-6">
                <div class="form-group"><label class="col-md-4 control-label">วันทำ พ.ร.บ.</label>
                  <div class="col-md-8">
                    <input formControlName="prbRegis" type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-lg-6">
                <div class="form-group"><label class="col-md-4 control-label">พ.ร.บ. หมดอายุ</label>
                  <div class="col-md-8">
                    <input formControlName="prbExpire" type="text" class="form-control">
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="row form-group">
              <div class="col-xs-6 col-lg-6">
                <div class="form-group"><label class="col-md-4 control-label">เลขที่ใบอนุญาต</label>
                  <div class="col-md-8"><input type="text" class="form-control" formControlName="commitNo" />
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-lg-6">
                <div class="form-group"><label class="col-md-4 control-label">ใบอนุญาตหมดอายุ</label>
                  <div class="col-md-8"><input type="text" class="form-control" formControlName="commitExpire" />
                  </div>
                </div>
              </div>
            </div> -->

            <div class="hr-line-dashed"></div>

            <div class="row form-group">
              <div class="col-xs-6 col-lg-6">
                <div class="form-group"><label class="col-md-4 control-label">กรมธรรม์ประกัน</label>
                  <div class="col-md-8"><input type="text" class="form-control" formControlName="warNo" />
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-lg-6">
                <div class="form-group"><label class="col-md-4 control-label">บริษัทประกัน</label>
                  <div class="col-md-8"><input type="text" class="form-control" formControlName="warCompany" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-xs-6 col-lg-6">
                <div class="form-group"><label class="col-md-4 control-label">วันทำประกัน</label>
                  <div class="col-md-8"><input type="text" class="form-control" formControlName="warRegis" />
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-lg-6">
                <div class="form-group"><label class="col-md-4 control-label">ประกันหมดอายุ</label>
                  <div class="col-md-8">
                    <input type="text" class="form-control" formControlName="warExpire" />
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div id="tab-his-2" class="tab-pane">
        <div class="panel-body">
          <app-owner [$Mode]="$Mode" (CustCode$)="ownerChange($event)" [$OwnerCode]="ownerCode">
          </app-owner>
        </div>
      </div>
      <div id="tab-his-3" class="tab-pane">
        <div class="panel-body">
          <app-visitor [$Mode]="$Mode" (CustCode$)="visitorChange($event)" [$VisitorCode]="visitorCode">
          </app-visitor>
        </div>
      </div>
    </div>
  </div>




</form>