<div>
   <h4>รายละเอียดรถ</h4>
   <hr class="m-t-xs m-b-sm" style="border-top:dashed 1px #ddd">
   <div class="row">
      <div class="col-sm-6 form-group">
         <strong>หมวดหมู่ : </strong>
         xxxxxxxxxx
      </div>
      <div class="col-sm-6 form-group">
         <strong>กลุ่ม/ประเภท : </strong>
         xxxxxxxxxx
      </div>
      <div class="col-sm-6 form-group">
         <strong>ยี่ห้อ : </strong>
         xxxxxxxxxx
      </div>
      <div class="col-sm-6 form-group">
         <strong>โมเดล : </strong>
         xxxxxxxxxx
      </div>
      <div class="col-sm-6 form-group">
         <strong>รายละเอียดโมเดล :</strong>
         xxxxxxxxxx
      </div>
      <div class="col-sm-6 form-group">
         <strong>สี :</strong>
         xxxxxxxxxx
      </div>
   </div>
</div>