<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th>งวดที่</th>
      <th>วันที่ครบกำหนด</th>
      <th>ค่างวด</th>
      <th>ยอดค้างชำระ</th>
      <th>ส่วนลด</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
<div class="row">
    <label class="col-md-2">ยอดรวม :</label>
    <div class="col-md-2"></div>
    <label class="col-md-2">ยอดส่วนลด :</label>
    <div class="col-md-2"></div>
    <label class="col-md-2">ยอดคงเหลือ :</label>
    <div class="col-md-2"></div>
</div>
