<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-8">
    <h2>บันทึกการชำระเงิน</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">หน้าแรก</a>
      </li>
      <li [ngSwitch]="bookingModel.bookingPaymentType">
        <span *ngSwitchCase="4">ขายเชื่อ</span>
        <span *ngSwitchDefault>เช่าซื้อ</span>
      </li>
      <li class="active">
        <strong>บันทึกการชำระเงิน</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-4 text-right pull-right">
    <button type="button" class="btn btn-success m-t-md" data-toggle="modal" data-target="#frmPrintTax">
      <i class="fa fa-print"></i>
      ใบกำกับภาษี
    </button>
    &nbsp;
    <button type="button" class="btn btn-success m-t-md" data-toggle="modal" data-target="#frmPrintReceipt">
      <i class="fa fa-print"></i>
      ใบเสร็จรับเงิน
    </button>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

  <section class="form-horizontal">
    <div class="row form-group-md">
      <label for="" class="col-sm-2 control-label">เลขที่สัญญา </label>
      <strong class="col-md-2">{{contractModel.contractNo}}</strong>
      <label for="" class="col-sm-2 control-label">วันที่ทำสัญญา </label>
      <strong class="col-md-2">{{contractModel.contractDate}}</strong>
      <label for="" class="col-sm-2 control-label">สถานะสัญญา </label>
      <strong class="col-md-2 text-danger">{{contractModel.statusDesc}}</strong>
    </div>
    <div class="row form-group-md">
      <label for="" class="col-sm-2 control-label">ชื่อลูกค้า </label>
      <strong class="col-md-2">{{contractModel.contractHire}}</strong>
      <label for="" class="col-sm-2 control-label">ชื่อผู้ขาย </label>
      <strong class="col-md-2">{{contractModel.saleName}}</strong>
    </div>
    <div class="row form-group-md">
      <label for="" class="col-sm-2 control-label">หมายเลขเครื่อง </label>
      <strong class="col-md-2">{{bookingModel.engineNo}}</strong>
      <label for="" class="col-sm-2 control-label">หมายเลขตัวถัง </label>
      <strong class="col-md-2">{{bookingModel.frameNo}}</strong>
    </div>
    <div class="row form-group-md">
      <label for="" class="col-sm-2 control-label">ยี่ห้อ </label>
      <strong class="col-md-2">{{bookingModel.brandName}}</strong>
      <label for="" class="col-md-2 control-label">รุ่น </label>
      <strong class="col-md-2">{{bookingModel.modelCode}}</strong>
      <label for="" class="col-md-2 control-label">สี </label>
      <strong class="col-md-2">{{bookingModel.color}}</strong>
    </div>
    <div class="row form-group">
      <label for="price" class="col-sm-2 control-label">เงินดาวน์ </label>
      <strong id="price" class="col-md-2 col-sm-6 text-success">{{bookingModel.depositPrice | number:'1.2-2':'en-US'}}
        บาท</strong>
      <label for="ispay" class="col-sm-2 control-label">เงินดาวน์ชำระแล้ว </label>
      <strong id="ispay"
        class="col-md-2 col-sm-6 text-navy">{{(bookingModel.depositIsPay || 0) | number:'1.2-2':'en-US'}}
        บาท
      </strong>
      <label for="" class="col-sm-2 control-label">เงินดาวน์ค้างชำระ </label>
      <strong
        class="col-md-2 col-sm-6 text-danger">{{(bookingModel.depositIsOutstanding || 0) | number:'1.2-2':'en-US'}}
        บาท
      </strong>
    </div>
    <div class="row form-group">
      <label for="price" class="col-sm-2 control-label">ยอดจัด </label>
      <strong id="price" class="col-md-2 col-sm-6 text-success">{{bookingModel.price | number:'1.2-2':'en-US'}}
        บาท</strong>
      <label for="ispay" class="col-sm-2 control-label">ค่างวดชำระแล้ว </label>
      <strong id="ispay" class="col-md-2 col-sm-6 text-navy">{{(isPayModel.isPayPrice || 0) | number:'1.2-2':'en-US'}}
        บาท
        ({{(isPayModel.isPayTerm
      || 0)}} งวด)
      </strong>
      <label for="" class="col-sm-2 control-label">ค่างวดค้างชำระ </label>
      <strong
        class="col-md-2 col-sm-6 text-danger">{{(isOutstandingModel.isOutstandingPrice || 0) | number:'1.2-2':'en-US'}}
        บาท
        ({{(isOutstandingModel.isOutstandingTerm
      || 0)}} งวด)
      </strong>
    </div>
  </section>

  <hr class="hr-dashed">

  <!-- <div class="ibox">
    <div class="ibox-content"> -->
  <div class="row">
    <div class="col-md-8">
      <div class="ibox">
        <!-- <div class="ibox-title"></div> -->
        <div class="ibox-content">

          <table [formGroup]="instalmentGroup"
            class="table table-striped table-bordered table-sm table-hover nowrap set-dataTable" style="width: 100%;">
            <thead>
              <tr>
                <th class="text-center" style="vertical-align:middle;">เลือก</th>
                <th class="text-center" style="vertical-align:middle;">งวดที่</th>
                <th class="text-center" style="vertical-align:middle;">กำหนดชำระ</th>
                <th class="" style="vertical-align:middle;">ยอดที่ต้องชำระ</th>
                <th class="" style="vertical-align:middle;">ค่าปรับล่าช้า</th>
                <th class="" style="vertical-align:middle;">ค่าปรับล่าช้า<br>คงค้าง</th>
                <th class="text-center" style="vertical-align:middle;">ยอดคงค้าง</th>
                <th class="text-center" style="vertical-align:middle;">สถานะ</th>
              </tr>
            </thead>
            <tbody formArrayName="instalment">
              <tr *ngFor="let item of InstalmentList.controls; let i=index;" [formGroupName]="i">
                <td class="text-center" [ngSwitch]="item.get('status').value"
                  [attr.data-order]="item.get('instalmentNo').value">
                  <ng-container *ngSwitchCase="11">
                    <i class="fa fa-check text-navy" aria-hidden="true"></i>
                    <!-- <button type="button" class="btn btn-danger btn-xs"
                      (click)="onCancel(item.get('contractItemId').value, item.get('instalmentNo').value)"
                      data-toggle="modal" data-target="#frmPrompt">
                      <i class="fa fa-times"></i> ยกเลิก
                    </button> -->
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    <div class="checkbox checkbox-info checkbox-inline">
                      <input formControlName="isSelect" type="checkbox" id="select{{i}}" (change)="setFormPayment()">
                      <label for="select{{i}}"></label>
                    </div>
                  </ng-container>
                </td>
                <td class="text-center" [attr.data-order]="item.get('instalmentNo').value">
                  <span *ngIf="item.get('instalmentNo').value == 0">เงินดาวน์</span>
                  <span *ngIf="item.get('instalmentNo').value > 0">
                    {{item.get('instalmentNo').value}}
                  </span>
                </td>
                <td class="text-center" [attr.data-order]="item.get('instalmentNo').value">
                  {{setLocalDate(item.get('dueDate').value)}}</td>
                <td class="text-right" [attr.data-order]="item.get('balanceNetPrice').value">
                  {{item.get('balanceNetPrice').value | number:'1.2-2':'en-US'}}
                </td>
                <td class="text-right" [attr.data-order]="item.get('fineSum').value">
                  {{item.get('fineSum').value | number:'1.2-2':'en-US'}}
                </td>
                <td class="text-right" [attr.data-order]="item.get('fineSumRemain').value">
                  {{item.get('fineSumRemain').value | number:'1.2-2':'en-US'}}
                </td>
                <td class="text-right"
                  [attr.data-order]="(item.get('remainNetPrice').value + item.get('fineSumRemain').value)">
                  {{(item.get('remainNetPrice').value + item.get('fineSumRemain').value) | number:'1.2-2':'en-US'}}
                </td>
                <td class="text-center">
                  <span [ngClass]="{
                          'text-navy': item.get('status').value == 11,
                          'text-warning': item.get('status').value == 12,
                          'text-danger': item.get('status').value == 13
                        }">
                    {{item.get('statusDesc').value}}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <div class="col-md-4">
      <form class="" autocomplete="off" action="" [formGroup]="formGroup">
        <div>
          <div class="row form-group">
            <div for="" class="col-md-4"></div>
            <div class="col-md-8">
              <button type="button" class="btn btn-primary btn-sm" (click)="contractClosing()" [disabled]="IsPay">
                <i class="fa fa-handshake-o" aria-hidden="true"></i> ปิดสัญญา
              </button>&nbsp;
              <button type="button" class="btn btn-outline btn-link btn-sm" data-toggle="modal" data-target="#frmDebit">
                <i class="fa fa-info-circle" aria-hidden="true"></i> ตารางภาระหนี้
              </button>
            </div>
          </div>

          <div class="row form-group">
            <label for="" class="col-md-4 control-label">ยอดปิดสัญญา
            </label>
            <div class="col-md-8">
              <span class="form-control disabled">{{formGroup.get('cutBalance').value | number:'1.2-2':'en-US'}}</span>
            </div>
          </div>

          <div class="row form-group">
            <label for="" class="col-md-4 control-label">ส่วนลดปิดสัญญา
            </label>
            <div class="col-md-8">
              <span
                class="form-control disabled">{{formGroup.get('discountInterest').value | number:'1.2-2':'en-US'}}</span>
            </div>
          </div>

          <hr class="hr-dashed">

          <div class="row form-group">
            <label for="" class="col-md-4 control-label">ยอดคงค้าง</label>
            <div class="col-md-8">
              <span class="form-control disabled">{{formGroup.get('outstanding').value | number:'1.2-2':'en-US'}}</span>
            </div>
          </div>
          <div class="row form-group">
            <label for="" class="col-md-4 control-label">ผู้รับเงิน</label>
            <div class="col-md-8">
              <span class="form-control disabled">{{user.fullName}}</span>
            </div>
          </div>

          <!-- <div class="row form-group">
            <label for="" class="col-md-4 control-label">จำนวน</label>
            <div class="col-md-8">
              <span class="form-control disabled">{{instalmentCount}} งวด</span>
            </div>
          </div> -->

          <div class="row form-group">
            <label for="" class="col-md-4 control-label">ค่าปรับล่าช้า</label>
            <div class="col-md-8">
              <span class="form-control disabled">{{formGroup.get('fineSum').value | number:'1.2-2':'en-US'}}</span>
            </div>
          </div>

          <div class="row form-group">
            <label for="" class="col-md-4 control-label">ค่าปรับอื่นๆ</label>
            <div class="col-md-8">
              <input (keyup)="onCalculate();" type="number" formControlName="fineSumOther" class="form-control"
                [disabled]="InstalmentListIsSelect.length == 0" placeholder="0.00">
            </div>
          </div>

          <div class="row form-group">
            <label for="" class="col-md-4 control-label">อากรแสตมป์</label>
            <div class="col-md-8">
              <input (keyup)="onCalculate();" type="number" formControlName="revenueStamp" class="form-control"
                [disabled]="InstalmentListIsSelect.length == 0" placeholder="0.00">
            </div>
          </div>

          <div class="row form-group">
            <label for="" class="col-md-4 control-label">ค่างวด</label>
            <div class="col-md-8">
              <span class="form-control disabled">{{formGroup.get('payNetPrice').value | number:'1.2-2':'en-US'}}</span>
            </div>
          </div>

          <div class="row form-group">
            <label for="" class="col-md-4 control-label">ยอดที่ต้องชำระ</label>
            <div class="col-md-8">
              <span class="form-control disabled">{{formGroup.get('totalPrice').value | number:'1.2-2':'en-US'}}</span>
            </div>
          </div>

          <hr class="hr-dashed">

          <div class="row form-group">
            <div class="">
              <label class="col-md-3 control-label">ประเภทชำระ</label>
              <div class="col-md-9">
                <div *ngFor="let item of PaymentTypeList; let i=index;" class="radio radio-info radio-inline">
                  <input type="radio" formControlName="paymentType" id="pt{{i}}" value={{item.id}}>
                  <label for="pt{{i}}">{{item.desc}}</label>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="PaymentIncorrent" class="alert alert-danger" role="alert">
            "ยอดชำระเงิน" ต้องไม่เกิน
            <span *ngIf="IsCutBalance;else notCutBalance"> "ยอดปิดสัญญา"</span>
            <ng-template #notCutBalance> "ยอดคงค้าง"</ng-template>
          </div>

          <div [ngSwitch]="formGroup.get('paymentType').value">
            <ng-container *ngSwitchCase="PaymentType.Cash">
              <app-payment-type-cash [$Data]="PaymentData" (Payment$)="formPaymentChange($event)">
              </app-payment-type-cash>
            </ng-container>
            <ng-container *ngSwitchCase="PaymentType.Transfer">
              <app-payment-type-transfer [$Data]="PaymentData" (Payment$)="formPaymentChange($event)">
              </app-payment-type-transfer>
            </ng-container>
            <ng-container *ngSwitchCase="PaymentType.Cheque">
              <app-payment-type-cheque [$Data]="PaymentData" (Payment$)="formPaymentChange($event)">
              </app-payment-type-cheque>
            </ng-container>
            <ng-container *ngSwitchCase="PaymentType.CreditCard">
              <app-payment-type-credit-card [$Data]="PaymentData" (Payment$)="formPaymentChange($event)">
              </app-payment-type-credit-card>
            </ng-container>
          </div>
        </div>
      </form>
    </div>
  </div>

  <hr class="hr-dashed">

  <div class="row form-group text-right">
    <div class="col-sm-12">
      <button type="button" class="btn btn-primary"
        [disabled]="formGroup.invalid || formPayment.options.invalid || InstalmentListIsSelect.length == 0 || PaymentIncorrent"
        (click)="onSubmit()">บันทึก</button>&nbsp;&nbsp;
      <button type="button" class="btn" (click)="onCanclePayment()">ยกเลิก</button>
    </div>
  </div>

  <!-- <form class="form-horizontal" autocomplete="off" action="" [formGroup]="formGroup">

    <div class="row" style="padding-left: 20px; padding-right: 20px;">
      <div class="col-md-6">
        <div class="row form-group">
          <div for="" class="col-md-4"></div>
          <div class="col-md-4">
            <button type="button" class="btn btn-outline btn-primary btn-sm"
              (click)="contractClosing()">ปิดสัญญา</button>
          </div>
        </div>

        <div class="row form-group">
          <label for="" class="col-sm-4 control-label">ยอดปิดสัญญา
          </label>
          <div class="col-sm-8">
            <span class="form-control disabled">{{formGroup.get('cutBalance').value | number:'1.2-2':'en-US'}}</span>
          </div>
        </div>

        <div class="row form-group">
          <label for="" class="col-sm-4 control-label">ส่วนลดปิดสัญญา
          </label>
          <div class="col-sm-8">
            <span
              class="form-control disabled">{{formGroup.get('discountInterest').value | number:'1.2-2':'en-US'}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="tabs-container">
      <ul class="nav nav-tabs">
        <li class="active">
          <a data-toggle="tab" href="#tab-his-1">ฟอร์ชำระเงิน</a>
        </li>
        <li>
          <a data-toggle="tab" href="#tab-his-2">ตารางแสดงภาระหนี้</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="tab-his-1" class="tab-pane active">
          <div class="panel-body">
            <div class="row form-group">

              <div class="col-md-6">

                <div class="row form-group">
                  <label for="" class="col-sm-4 control-label">ยอดคงค้าง</label>
                  <div class="col-sm-8">
                    <span
                      class="form-control disabled">{{formGroup.get('outstanding').value | number:'1.2-2':'en-US'}}</span>
                  </div>
                </div>
                <div class="row form-group">
                  <label for="" class="col-sm-4 control-label">ผู้รับเงิน</label>
                  <div class="col-sm-8">
                    <span class="form-control disabled">{{user.fullName}}</span>
                  </div>
                </div>

                <div class="row form-group">
                  <label for="" class="col-sm-4 control-label">จำนวน</label>
                  <div class="col-sm-8">
                    <span class="form-control disabled">{{instalmentCount}} งวด</span>
                  </div>
                </div>

                <div class="row form-group">
                  <label for="" class="col-sm-4 control-label">ค่าปรับล่าช้า</label>
                  <div class="col-sm-8">
                    <span
                      class="form-control disabled">{{formGroup.get('fineSum').value | number:'1.2-2':'en-US'}}</span>
                  </div>
                </div>

                <div class="row form-group">
                  <label for="" class="col-sm-4 control-label">ค่าปรับอื่นๆ</label>
                  <div class="col-sm-8">
                    <input (keyup)="onCalculate();" type="number" formControlName="fineSumOther" class="form-control"
                      [disabled]="checkSelectPaymentItem" placeholder="0.00">
                  </div>
                </div>

                <div class="row form-group">
                  <label for="" class="col-md-4 control-label">อากรแสตมป์</label>
                  <div class="col-md-8">
                    <input (keyup)="onCalculate();" type="number" formControlName="revenueStamp" class="form-control"
                      [disabled]="checkSelectPaymentItem" placeholder="0.00">
                  </div>
                </div>

                <div class="row form-group">
                  <label for="" class="col-md-4 control-label">ค่างวด</label>
                  <div class="col-md-8">
                    <span
                      class="form-control disabled">{{formGroup.get('payNetPrice').value | number:'1.2-2':'en-US'}}</span>
                  </div>
                </div>

                <div class="row form-group">
                  <label for="" class="col-md-4 control-label">ยอดที่ต้องชำระ</label>
                  <div class="col-md-8">
                    <span
                      class="form-control disabled">{{formGroup.get('totalPrice').value | number:'1.2-2':'en-US'}}</span>
                  </div>
                </div>
              </div>

              <div class="col-md-6">

                <div class="row form-group">
                  <div class="">
                    <label class="col-md-4 control-label">ประเภทชำระ</label>
                    <div class="col-md-8">
                      <div *ngFor="let item of PaymentTypeList; let i=index;" class="radio radio-info radio-inline">
                        <input type="radio" formControlName="paymentType" id="pt{{i}}" value={{item.id}}>
                        <label for="pt{{i}}">{{item.desc}}</label>
                      </div>
                    </div>
                  </div>
                </div>

                <div [ngSwitch]="formGroup.get('paymentType').value">
                  <ng-container *ngSwitchCase="PaymentType.Cash">
                    <app-payment-type-cash [$Data]="PaymentData" (Payment$)="formPaymentChange($event)">
                    </app-payment-type-cash>
                  </ng-container>
                  <ng-container *ngSwitchCase="PaymentType.Transfer">
                    <app-payment-type-transfer [$Data]="PaymentData" (Payment$)="formPaymentChange($event)">
                    </app-payment-type-transfer>
                  </ng-container>
                  <ng-container *ngSwitchCase="PaymentType.Cheque">
                    <app-payment-type-cheque [$Data]="PaymentData" (Payment$)="formPaymentChange($event)">
                    </app-payment-type-cheque>
                  </ng-container>
                  <ng-container *ngSwitchCase="PaymentType.CreditCard">
                    <app-payment-type-credit-card [$Data]="PaymentData" (Payment$)="formPaymentChange($event)">
                    </app-payment-type-credit-card>
                  </ng-container>
                </div>

                <div class="row form-group">
                  <label for="" class="col-sm-4 control-label">บันทึกเพิ่มเติม
                  </label>
                  <div class="col-sm-8">
                    <textarea class="form-control form-control-sm" formControlName="remark" rows="3"
                      [disabled]="checkSelectPaymentItem"></textarea>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div id="tab-his-2" class="tab-pane">
          <div class="panel-body">
            <app-contract-item [contractItemModel]="[]" [debitTable]="debitTable"></app-contract-item>
          </div>
        </div>
      </div>
    </div>

  </form> -->
</div>

<div class="modal inmodal" id="frmDebit" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
          <span class="sr-only">Close</span>
        </button>
      </div>
      <app-contract-item [contractItemModel]="[]" [debitTable]="debitTable"></app-contract-item>

    </div>
  </div>
</div>

<div class="modal inmodal" id="frmPrintTax" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-sm">
    <div class="modal-content animated fadeIn">
      <form class="form-horizontal" action="" #frmPrintTax="ngForm">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
          </button>
          <!-- <i class="fa fa-clock-o modal-icon"></i> -->
          <h4 class="modal-title">พิมพ์</h4>
          <p>ใบกำกับภาษี</p>
        </div>

        <div class="modal-body">
          <input type="hidden" name="bookingId" [(ngModel)]="contractModel.bookingId">
          <div class="row">
            <label for="" class="col-lg-4">เลขที่</label>
            <div class="col-lg-8">
              <select name="taxInvNo" class="form-control form-control-sm" required ngModel>
                <option value="" disabled></option>
                <option *ngFor="let item of receiptList" [value]="item.taxInvNo">
                  {{item.taxInvNo}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="onPrintTax(frmPrintTax.value)" class="btn btn-primary"
            [disabled]="frmPrintTax.invalid">ตกลง</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal inmodal" id="frmPrintReceipt" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-sm">
    <div class="modal-content animated fadeIn">
      <form class="form-horizontal" action="" #fmReceipt="ngForm">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
          </button>
          <!-- <i class="fa fa-clock-o modal-icon"></i> -->
          <h4 class="modal-title">พิมพ์</h4>
          <p>ใบเสร็จรับเงิน</p>
        </div>

        <div class="modal-body">
          <input type="hidden" name="bookingId" [(ngModel)]="contractModel.bookingId">
          <div class="row">
            <label for="" class="col-lg-4">เลขที่</label>
            <div class="col-lg-8">
              <select name="receiptNo" class="form-control form-control-sm" required ngModel>
                <option value="" disabled></option>
                <option *ngFor="let item of receiptList" [value]="item.receiptNo">
                  {{item.receiptNo}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="onPrintReceipt(fmReceipt.value)" class="btn btn-primary"
            [disabled]="fmReceipt.invalid">ตกลง</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal inmodal" id="frmPrompt" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-md">
    <div class="modal-content animated fadeIn">
      <form class="form-horizontal" action="" #fmPrompt="ngForm">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
          </button>
          <h2>ยืนยันการทำรายการ</h2>
          <h4 class="text-danger">{{promptMsg}}</h4>
        </div>

        <div class="modal-body">

          <input type="hidden" name="contractItemId" [(ngModel)]="contractItemId">
          <div class="row">
            <label for="" class="col-md-3 control-label is-required">สาเหตุในการยกเลิก</label>
            <div class="col-md-9">
              <ng-select required [items]="reasonDropdown | async" bindValue="text" bindLabel="text" name="reason"
                ngModel>
              </ng-select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="onConfirmCancel(fmPrompt.value)" class="btn btn-primary"
            [disabled]="fmPrompt.invalid">ตกลง</button>
          &nbsp;
          <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
        </div>
      </form>
    </div>
  </div>
</div>