<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>บันทึกการชำระเงิน</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">หน้าแรก</a>
      </li>
      <li>
        <a>เช่าซื้อ</a>
      </li>
      <li class="active">
        <strong>บันทึกการชำระเงิน</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2 text-right pull-right">
    <button type="button" class="btn btn-success m-t-md" data-toggle="modal" data-target="#frmPrint">
      <i class="fa fa-print"></i>
      พิมพ์
    </button>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight form-horizontal">
  <div class="row form-group-md">
    <label for="" class="col-sm-2 control-label">เลขที่สัญญา : </label>
    <strong class="col-md-2">{{contractModel.contractNo}}</strong>
    <label for="" class="col-sm-2 control-label">วันที่ทำสัญญา : </label>
    <strong class="col-md-2">{{contractModel.contractDate}}</strong>
    <label for="" class="col-sm-2 control-label">สถานะสัญญา : </label>
    <strong class="col-md-2 text-danger">{{contractModel.statusDesc}}</strong>
  </div>
  <div class="row form-group-md">
    <label for="" class="col-sm-2 control-label">ชื่อลูกค้า : </label>
    <strong class="col-md-2">{{contractModel.contractHire}}</strong>
    <label for="" class="col-sm-2 control-label">ชื่อผู้ขาย : </label>
    <strong class="col-md-2">{{contractModel.saleName}}</strong>
  </div>
  <div class="row form-group-md">
    <label for="" class="col-sm-2 control-label">หมายเลขเครื่อง : </label>
    <strong class="col-md-2">{{bookingModel.engineNo}}</strong>
    <label for="" class="col-sm-2 control-label">หมายเลขตัวถัง : </label>
    <strong class="col-md-2">{{bookingModel.frameNo}}</strong>
    <label for="" class="col-sm-2 control-label">ยี่ห้อ : </label>
    <strong class="col-md-2">{{bookingModel.brandName}}</strong>
  </div>
  <div class="row form-group-md">
    <label for="" class="col-md-2 control-label">รุ่น : </label>
    <strong class="col-md-2">{{bookingModel.modelCode}}</strong>
    <label for="" class="col-md-2 control-label">สี : </label>
    <strong class="col-md-2">{{bookingModel.color}}</strong>
  </div>
  <div class="row form-group">
    <label for="price" class="col-sm-2 control-label">เงินดาวน์ : </label>
    <strong id="price" class="col-md-2 col-sm-6 text-success">{{bookingModel.depositPrice | number:'1.2-2'}} บาท</strong>
    <label for="ispay" class="col-sm-2 control-label">เงินดาวน์ชำระแล้ว : </label>
    <strong id="ispay" class="col-md-2 col-sm-6 text-navy">{{(bookingModel.depositIsPay || 0) | number:'1.2-2'}} บาท
    </strong>
    <label for="" class="col-sm-2 control-label">เงินดาวน์ค้างชำระ : </label>
    <strong class="col-md-2 col-sm-6 text-danger">{{(bookingModel.depositIsOutstanding || 0) | number:'1.2-2'}} บาท
    </strong>
  </div>
  <div class="row form-group">
    <label for="price" class="col-sm-2 control-label">ยอดจัด : </label>
    <strong id="price" class="col-md-2 col-sm-6 text-success">{{bookingModel.price | number:'1.2-2'}} บาท</strong>
    <label for="ispay" class="col-sm-2 control-label">ค่างวดชำระแล้ว : </label>
    <strong id="ispay" class="col-md-2 col-sm-6 text-navy">{{(isPayModel.isPayPrice || 0) | number:'1.2-2'}} บาท
      ({{(isPayModel.isPayTerm
      || 0)}} งวด)
    </strong>
    <label for="" class="col-sm-2 control-label">ค่างวดค้างชำระ : </label>
    <strong class="col-md-2 col-sm-6 text-danger">{{(isOutstandingModel.isOutstandingPrice || 0) | number:'1.2-2'}} บาท
      ({{(isOutstandingModel.isOutstandingTerm
      || 0)}} งวด)
    </strong>
  </div>

  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <div class="row form-group">
        <div class="col-md-7">
          <table class="table table-striped table-bordered table-sm table-hover">
            <thead>
              <tr>
                <th class="text-center">งวดที่</th>
                <th class="text-center">กำหนดชำระ</th>
                <th class="text-right">ยอดที่ต้องชำระ</th>
                <th class="text-center">เลขที่ใบกำกับภาษี</th>
                <th class="text-center">วันที่ชำระ</th>
                <th class="text-right">ชำระแล้ว</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of contractItemModel;">
                <td class="text-center">
                  <span *ngIf="item.instalmentNo == 0">เงินดาวน์</span>
                  <span *ngIf="item.instalmentNo > 0">{{item.instalmentNo}}</span>
                </td>
                <td class="text-center">{{item.dueDate}}</td>
                <td class="text-right" [ngSwitch]="item.payDate">
                  <span *ngSwitchCase="null"></span>
                  {{item.balanceNetPrice | number:'1.2-2'}}
                </td>
                <td class="text-center">{{item.taxInvoiceNo}}</td>
                <td class="text-center">{{item.payDate}}</td>
                <td class="text-right">{{item.payNetPrice | number:'1.2-2'}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-md-5 b-l">
          <form class="form-horizontal" autocomplete="off" action="" #f="ngForm" (ngSubmit)="onSubmit(f.value)">
            <div class="row form-group">
              <label for="" class="col-lg-4 control-label">วันที่ครบกำหนดชำระ :</label>
              <strong class="col-lg-8">{{paymentModel.dueDate}}</strong>
            </div>
            <div class="row form-group">
              <label for="" class="col-lg-4 control-label">วันที่รับชำระ :</label>
              <strong class="col-lg-8">{{paymentModel.payDate}}</strong>
            </div>
            <div class="row form-group">
              <label for="" class="col-lg-4 control-label">ผู้รับเงิน :</label>
              <strong class="col-lg-8" *ngIf="asyncUser | async; let user">{{user.fullName}}</strong>
            </div>
            <div class="row form-group">
              <label for="" class="col-lg-4 control-label">ช่องทางการรับชำระ :
                <span class="required">*</span>
              </label>
              <div class="col-lg-8">
                <div class="radio radio-info radio-inline">
                  <input type="radio" id="paymentType0" value="1" required name="paymentType" [(ngModel)]="paymentModel.paymentType">
                  <label for="paymentType0">เงินสด</label>
                </div>
                <div class="radio radio-info radio-inline">
                  <input type="radio" id="paymentType1" value="2" required name="paymentType" [(ngModel)]="paymentModel.paymentType">
                  <label for="paymentType1">โอน</label>
                </div>
                <div class="radio radio-info radio-inline">
                  <input type="radio" id="paymentType2" value="3" required name="paymentType" [(ngModel)]="paymentModel.paymentType">
                  <label for="paymentType2">เช็ค</label>
                </div>
                <div class="radio radio-info radio-inline">
                  <input type="radio" id="paymentType3" value="4" required name="paymentType" [(ngModel)]="paymentModel.paymentType">
                  <label for="paymentType3">บัตรเครดิต</label>
                </div>
              </div>
            </div>
            <div class="row form-group">
              <label for="" class="col-lg-4 control-label">ยอดคงค้าง :</label>
              <div class="col-lg-4 text-right">
                <input type="text" name="outstanding" [(ngModel)]="paymentModel.outstanding" readonly class="form-control form-control-sm number-2-digit">
              </div>
            </div>
            <div class="row form-group">
              <label for="" class="col-lg-4 control-label">ยอดชำระขั้นต่ำ :</label>
              <div class="col-lg-4 text-right">
                <input type="text" name="balanceNetPrice" [(ngModel)]="paymentModel.balanceNetPrice" readonly class="form-control form-control-sm number-2-digit">
              </div>
            </div>
            <div class="row form-group">
              <label for="" class="col-lg-4 control-label">ยอดชำระ :
                <span class="required">*</span>
              </label>
              <div class="col-lg-4 text-right">
                <input (keyup)="changeDiscount()" type="text" required name="payNetPrice" [(ngModel)]="paymentModel.payNetPrice"
                  class="form-control form-control-sm number-2-digit">
              </div>
            </div>
            <div class="row form-group">
              <label for="" class="col-lg-4 control-label">ส่วนลด :</label>
              <div class="col-lg-4 text-right">
                <input (keyup)="changeDiscount()" required type="text" name="disCountPrice" [(ngModel)]="paymentModel.disCountPrice"
                  class="form-control form-control-sm number-2-digit">
              </div>
              <div class="col-lg-4">
                <div class="input-group">
                  <input type="text" name="disCountRate" value="{{paymentModel.disCountRate}}" readonly class="form-control form-control-sm number-2-digit">
                  <span class="input-group-addon">%</span>
                </div>
              </div>
            </div>

            <div class="row form-group">
              <label for="" class="col-lg-4 control-label">ยอดชำระจริง :
                <span class="required">*</span>
              </label>
              <div class="col-lg-4 text-right">
                <input type="text" readonly required name="totalPrice" [(ngModel)]="paymentModel.totalPrice" class="form-control form-control-sm number-2-digit">
              </div>
            </div>

            <div class="row form-group">
              <label for="" class="col-lg-4 control-label">เอกสารอ้างอิง :</label>
              <div class="col-lg-8 text-right">
                <input type="text" name="documentRef" [(ngModel)]="paymentModel.documentRef" class="form-control form-control-sm">
              </div>
            </div>
            <div class="row form-group">
              <label for="" class="col-lg-4 control-label">บันทึกเพิ่มเติม :</label>
              <div class="col-lg-8 text-right">
                <textarea class="form-control form-control-sm" name="remark" [(ngModel)]="paymentModel.remark" rows="3"></textarea>
              </div>
            </div>

            <hr class="hr-dashed">
            <div class="row">
              <div class="col-lg-4"></div>
              <div class="col-sm-8">
                <button type="submit" class="btn btn-primary" [disabled]="!f.valid">บันทึก</button>
                <button type="button" class="btn" [routerLink]="['/credit/contract-list/active']">ยกเลิก</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="modal inmodal" id="frmPrint" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-sm">
      <div class="modal-content animated fadeIn">
        <form class="form-horizontal" action="" #fm="ngForm" (ngSubmit)="onPrint(fm.value)">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">×</span>
              <span class="sr-only">Close</span>
            </button>
            <!-- <i class="fa fa-clock-o modal-icon"></i> -->
            <h4 class="modal-title">พิมพ์</h4>
            <p>ใบเสร็จรับเงิน - ใบกำกับภาษี</p>
          </div>

          <div class="modal-body">
            <input type="hidden" name="bookingId" [(ngModel)]="contractModel.bookingId">
            <div class="row">
              <div class="col-lg-12 m-b-md">
                <div class="checkbox checkbox-info checkbox-inline">
                  <input type="checkbox" value="receipt" id="rpt1" name="receipt" ngModel>
                  <label for="rpt1">
                    <strong>ใบเสร็จรับเงิน</strong>
                  </label>
                </div>
                <div class="checkbox checkbox-info checkbox-inline">
                  <input type="checkbox" value="invoice" id="rpt2" name="invoice" ngModel>
                  <label for="rpt2">
                    <strong>ใบกำกับภาษี</strong>
                  </label>
                </div>
              </div>
              <label for="" class="col-lg-5">งวดที่รับชำระ :</label>
              <div class="col-lg-7">
                <select name="contractItemId" class="form-control form-control-sm" required ngModel>
                  <option *ngFor="let item of contractItemModel" [value]="item.contractItemId" [disabled]="item.payDate == null">
                    <span *ngIf="item.instalmentNo == 0">เงินดาวน์</span>
                    <span *ngIf="item.instalmentNo > 0">{{item.instalmentNo}}</span>
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" [disabled]="!fm.valid">ตกลง</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>