<div class="row">
    <label for="" class="col-md-3">ค่าดอกผลเช่าซื้อคงเหลือ :</label>
    <div class="col-md-2"></div>
    <label for="" class="col-md-3">ค่าสินค้าคงเหลือ :</label>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <label for="" class="col-md-3">เงินประกันสัญญา :</label>
    <div class="col-md-2"></div>
</div>
<hr>
<div class="row">
    <label for="" class="col-md-3">ค่างวดที่ต้องชำระ :</label>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <label for="" class="col-md-3">เงินดาวน์ :</label>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <label for="" class="col-md-3">ดอกเบี้ยล่าช้า :</label>
    <div class="col-md-2"></div>
</div>
<hr>
<div class="row">
    <label for="" class="col-md-3">ส่วนลดสะสมคงเหลือ :</label>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <label for="" class="col-md-3">ส่วนลดตัดสด :</label>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <label for="" class="col-md-3">ยอดที่ต้องชำระ :</label>
    <div class="col-md-2"></div>
</div>