<div class="row">
    <label for="" class="col-md-2">ค่าดอกผลเช่าซื้อคงเหลือ :</label>
    <div class="col-md-1 text-right">{{cutOffSale.interestInstalment | number:'1.2-2':'en-US'}}</div>
    <label for="" class="col-md-2">ค่าสินค้าคงเหลือ :</label>
    <div class="col-md-1 text-right">{{cutOffSale.goodPrice | number:'1.2-2':'en-US'}}</div>
</div>
<!-- <div class="row">
    <label for="" class="col-md-2">เงินประกันสัญญา :</label>
    <div class="col-md-2"></div>
</div> -->
<hr>
<div class="row">
    <label for="" class="col-md-2">ค่างวดที่ต้องชำระ :</label>
    <div class="col-md-1 text-right">{{cutOffSale.balance | number:'1.2-2':'en-US'}}</div>
</div>
<div class="row">
    <label for="" class="col-md-2">เงินดาวน์ :</label>
    <div class="col-md-1 text-right">{{cutOffSale.depositPrice | number:'1.2-2':'en-US'}}</div>
</div>
<div class="row">
    <label for="" class="col-md-2">ดอกเบี้ยล่าช้า :</label>
    <div class="col-md-1 text-right">{{cutOffSale.fineSum | number:'1.2-2':'en-US'}}</div>
</div>
<hr>
<div class="row">
    <label for="" class="col-md-2">ส่วนลดสะสมคงเหลือ :</label>
    <div class="col-md-1 text-right">{{cutOffSale.discount | number:'1.2-2':'en-US'}}</div>
</div>
<div class="row">
    <label for="" class="col-md-2">ส่วนลดตัดสด :</label>
    <div class="col-md-1 text-right">{{cutOffSale.distCutOffSale | number:'1.2-2':'en-US'}}</div>
</div>
<div class="row">
    <label for="" class="col-md-2">ยอดที่ต้องชำระ :</label>
    <div class="col-md-1 text-right">{{cutOffSale.totalBalance | number:'1.2-2':'en-US'}}</div>
</div>