<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>รายงานค่าคอมมิชชั่น ตามกิจกรรมขาย</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">หน้าแรก</a>
      </li>
      <li class="active">
        <strong>รายงานค่าคอมมิชชั่น ตามกิจกรรมขาย</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2 text-right pull-right">

  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <form class="form-horizontal" action="" #fm="ngForm" (ngSubmit)="onPrint(fm)" style="margin-bottom: 15em;">

    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">สาขา</label>
      <div class="col-sm-4">
        <div class="radio radio-info">
          <input id="branchType1" type="radio" name="branchType" value="1" [(ngModel)]="formModel.branchType">
          <label for="branchType1">ทั้งหมด</label>
        </div>
        <div class="radio radio-info">
          <input id="branchType2" type="radio" name="branchType" value="2" [(ngModel)]="formModel.branchType">
          <label for="branchType2">สาขา</label>
        </div>
        <ng-select [items]="AC_Branch" [hideSelected]="true" multiple="true" bindLabel="name" name="branchId"
          [(ngModel)]="formModel.branchId" placeholder="เลือกสาขา" [disabled]="formModel.branchType == '1'">
        </ng-select>
      </div>
    </div>

    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">วันที่ขาย</label>
      <div class="col-sm-8">
        <div class="radio radio-info">
          <input id=sellDate1 type="radio" name="sellDate" value="1" checked [(ngModel)]="formModel.sellDate">
          <label for=sellDate1>ทั้งหมด</label>
        </div>
        <div class="radio radio-info">
          <input id=sellDate2 type="radio" name="sellDate" value="2" [(ngModel)]="formModel.sellDate">
          <label for=sellDate2>ตั้งแต่</label>
        </div>
        <div class="form-group">
          <div class="col-md-4">
            <my-date-picker-th [options]="myDatePickerOptions" name="sDate" [(ngModel)]="formModel.sDate"
              [disabled]="formModel.sellDate == '1'"></my-date-picker-th>
          </div>
          <label for="inputEmail3" class="col-md-1">ถึง</label>
          <div class="col-md-4">
            <my-date-picker-th [options]="myDatePickerOptions" name="eDate" [(ngModel)]="formModel.eDate"
              [disabled]="formModel.sellDate == '1'"></my-date-picker-th>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">ผู้ขาย</label>
      <div class="col-sm-4">
        <div class="radio radio-info">
          <input id="sellType1" type="radio" name="sellType" value="1" [(ngModel)]="formModel.sellType">
          <label for="sellType1">ทั้งหมด</label>
        </div>
        <div class="radio radio-info">
          <input id="sellType2" type="radio" name="sellType" value="2" [(ngModel)]="formModel.sellType">
          <label for="sellType2">ผู้ขาย</label>
        </div>
        <ng-select [items]="AC_Sell" [hideSelected]="true" multiple="true" bindLabel="name" name="sellId"
          [(ngModel)]="formModel.sellId" placeholder="เลือกผู้ขาย" [disabled]="formModel.sellType == '1'">
        </ng-select>
      </div>
    </div>

    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">ไฟแนนซ์</label>
      <div class="col-sm-4">
        <div class="radio radio-info">
          <input id="financeType1" type="radio" name="financeType" value="1" [(ngModel)]="formModel.financeType">
          <label for="financeType1">ทั้งหมด</label>
        </div>
        <div class="radio radio-info">
          <input id="financeType2" type="radio" name="financeType" value="2" [(ngModel)]="formModel.financeType">
          <label for="financeType2">ไฟแนนซ์</label>
        </div>
        <ng-select [items]="AC_Finance" [hideSelected]="true" multiple="true" bindLabel="name" name="financeId"
          [(ngModel)]="formModel.financeId" placeholder="เลือกไฟแนนซ์" [disabled]="formModel.financeType == '1'">
        </ng-select>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button id="btnReport" type="submit" class="btn btn-success">พิมพ์</button>
      </div>
    </div>
  </form>
</div>