<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>บันทึกรับสินค้า</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">หน้าแรก</a>
      </li>
      <li>จัดซื้อ</li>
      <li class="active">
        <strong>บันทึกรับสินค้า (มือสอง รายคัน)</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2 text-right pull-right">
    <h3>&nbsp;</h3>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <form class="form-horizontal" style="margin-bottom: 15em;" autocomplete="off" [formGroup]="formGroup">

    <div class="ibox float-e-margins">
      <div class="ibox-content">

        <div class="row form-group">
          <div class="col-md-4">
            <label for="receive_no" class="col-md-4 control-label">เลขที่ใบรับ</label>
            <div class="col-md-8">
              <input type="text" class="form-control" formControlName="receive_no">
            </div>
          </div>

          <div class="col-md-4">
            <label class="col-md-4 control-label is-required">ผู้รับสินค้า</label>
            <div class="col-md-8">
              <ng-select [items]="AC_User" bindLabel="text" bindValue="value" placeholder="ผู้รับสินค้า"
                formControlName="receive_id">
              </ng-select>

            </div>
          </div>

          <div class="col-md-4">
            <label class="col-md-4 control-label is-required">วันที่รับ</label>
            <div class="col-md-8">
              <span class="form-control disabled">
                {{displayLocalDate(formGroup.get('receive_date').value)}}
              </span>
            </div>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-md-4">
            <label class="col-md-4 control-label">เลขที่ใบส่งของ</label>
            <div class="col-md-8">
              <input type="text" class="form-control" formControlName="delivery_code">
            </div>
          </div>

          <div class="col-md-4">
            <label class="col-md-4 control-label is-required">ซื้อจาก</label>
            <div class="col-md-8">
              <ng-select [items]="AC_Dealer" bindLabel="text" bindValue="value" placeholder="ซื้อจาก"
                formControlName="dealer_code">
              </ng-select>
            </div>
          </div>

          <div class="col-md-4">
            <label class="col-md-4 control-label is-required">ผู้โอน</label>
            <div class="col-md-8">
              <ng-select [items]="AC_Dealer" bindLabel="text" bindValue="value" placeholder="ผู้โอน"
                formControlName="transfer_code">
              </ng-select>
            </div>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-md-4">
            <label class="col-md-4 control-label is-required">วันที่ส่งของ</label>
            <div class="col-md-8">
              <span class="form-control disabled">
                {{displayLocalDate(formGroup.get('delivery_date').value)}}
              </span>
            </div>
          </div>

          <div class="col-md-4">
            <label class="col-md-4 control-label">สถานะ</label>
            <div class="col-md-8">
              <ng-select [items]="AC_Type" bindLabel="txt" bindValue="id" placeholder="สถานะ"
                formControlName="receive_type">
              </ng-select>
            </div>
          </div>

          <div class="col-md-4">
            <label class="col-md-4 control-label">หมายเหตุ</label>
            <div class="col-md-8">
              <textarea class="form-control" formControlName="remark"></textarea>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div formArrayName="detail">

      <div class="ibox float-e-margins" *ngFor="let item of DetailList.controls; let i=index;" [formGroupName]="i">
        <div class="ibox-content" [attr.data-order]="i">
          <div class="row form-group">

            <div class="col-md-6">
              <label for="invoice_no" class="col-md-4 control-label">เลขที่ใบแจ้งหนี้</label>
              <div class="col-md-8">
                <input type="text" class="form-control" formControlName="invoice_no">
              </div>
            </div>

          </div>

          <div class="row form-group">
            <div class="col-md-6">
              <label for="receive_no" class="col-md-4 control-label is-required">ประเภทสินค้า</label>
              <div class="col-md-8">
                <ng-select [items]="AC_PrdCategory" bindLabel="text" bindValue="value" placeholder="ประเภทสินค้า"
                  formControlName="cat_id">
                </ng-select>
              </div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-6">
              <label class="col-md-4 control-label is-required">ยี่ห้อ</label>
              <div class="col-md-8">
                <ng-select [items]="AC_PrdBrand" bindLabel="text" bindValue="value" placeholder="ยี่ห้อ"
                  formControlName="brand_id">
                </ng-select>
              </div>
            </div>

            <div class="col-md-6">
              <label class="col-md-4 control-label is-required">รุ่น</label>
              <div class="col-md-8">
                <ng-select [items]="AC_PrdModel" bindLabel="text" bindValue="value" placeholder="รุ่น"
                  formControlName="model_id">
                </ng-select>
              </div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-6">
              <label class="col-md-4 control-label is-required">แบบ</label>
              <div class="col-md-8">
                <ng-select [items]="AC_PrdType" bindLabel="text" bindValue="value" placeholder="แบบ"
                  formControlName="type_id" [disabled]="true" [clearable]="false">
                </ng-select>
              </div>
            </div>

            <div class="col-md-6">
              <label class="col-md-4 control-label is-required">สี</label>
              <div class="col-md-8">
                <ng-select [items]="AC_PrdColor" bindLabel="text" bindValue="value" placeholder="สี"
                  formControlName="color_id">
                </ng-select>
              </div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-6">
              <label class="col-md-4 control-label is-required">หมายเลขเครื่อง</label>
              <div class="col-md-8">
                <input type="text" class="form-control" formControlName="engine_no">
              </div>
            </div>

            <div class="col-md-6">
              <label class="col-md-4 control-label">เลขทะเบียน</label>
              <div class="col-md-8">
                <input type="text" class="form-control" formControlName="license_no">
              </div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-6">
              <label class="col-md-4 control-label is-required">หมายเลขตัวถัง</label>
              <div class="col-md-8">
                <input type="text" class="form-control" formControlName="frame_no">
              </div>
            </div>

            <div class="col-md-6">
              <label class="col-md-4 control-label">จังหวัดที่จดทะเบียน</label>
              <div class="col-md-8">
                <ng-select [items]="AC_Province" bindLabel="text" bindValue="value" placeholder="จังหวัดที่จดทะเบียน"
                  formControlName="province_code">
                </ng-select>
              </div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-6">
              <label class="col-md-4 control-label is-required">สถานที่เก็บ</label>
              <div class="col-md-8">
                <ng-select [items]="AC_Branch" bindLabel="text" bindValue="value" placeholder="สถานที่เก็บ"
                  formControlName="branch_id" >
                </ng-select>
              </div>
            </div>

            <div class="col-md-6">
              <label class="col-md-4 control-label is-required">ตำแหน่งคลัง</label>
              <div class="col-md-8">
                <ng-select [items]="AC_Warehouse" bindLabel="text" bindValue="value" placeholder="ตำแหน่งคลัง"
                  formControlName="whl_id">
                </ng-select>
              </div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-6"> </div>
            <div class="col-md-6">
              <label class="col-md-4 control-label">หมายเหตุสต๊อก</label>
              <div class="col-md-8">
                <!-- <input type="text" class="form-control" formControlName="line_remark"> -->
                <textarea class="form-control" formControlName="line_remark"></textarea>
              </div>
            </div>
          </div>

          <hr>

          <div class="row form-group">
            <div class="col-md-6"></div>
            <div class="col-md-6">
              <label class="col-md-6 control-label">ราคาทุนสินค้า</label>
              <div class="col-md-6">
                <input type="number" class="form-control" formControlName="cost_exc_vat">
              </div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-6"></div>
            <div class="col-md-6">
              <label class="col-md-6 control-label">
                <div class="checkbox checkbox-primary" style="display: inline">
                  <input type="checkbox" id="chk_vat" formControlName="chk_vat" >
                  <!-- (change)="calculateTotal(i)" -->
                  <label for="chk_vat"></label>
                </div>
                ภาษีมูลค่าเพิ่ม
                <div style="display: inline">
                  <input type="text" formControlName="vat_rate" readonly style="border:0;width: 10px;">%
                </div>
                
              </label>
              <div class="col-md-6">
                <input type="number" class="form-control" formControlName="cost_vat" disabled>
              </div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-6"></div>
            <div class="col-md-6">
              <label class="col-md-6 control-label">ค่าอื่นๆ ไม่รวม Vat</label>
              <div class="col-md-6">
                <input type="number" class="form-control" formControlName="cost_other_exc_vat" >
                <!-- (input)="calculateTotal(i)" -->
              </div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-6"></div>
            <div class="col-md-6">
              <label class="col-md-6 control-label">ราคาทุนซ่อม ไม่รวม Vat</label>
              <div class="col-md-6">
                <input type="number" class="form-control" formControlName="cost_repair_exc_vat">
                <!-- (input)="calculateTotal(i)" -->
              </div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-6"></div>
            <div class="col-md-6">
              <label class="col-md-6 control-label">รวมเป็นเงิน</label>
              <div class="col-md-6">

                <input type="number" class="form-control" formControlName="cost_total" disabled>
                

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- <div class="text-right m-t-md form-group">
      <button class="btn btn-success" type="button" [disabled]="formGroup.invalid || DetailList.length == 0"
        (click)="onSubmit()">บันทึกรับสินค้า</button>
      <button class="btn btn-success" type="button" (click)="debug()">Debug</button>
    </div> -->
  </form>



</div>