<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>บันทึกรับชำระเงินรับฝาก</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">หน้าแรก</a>
      </li>
      <li>งานทะเบียน</li>
      <li class="active">
        <strong>รายการบันทึกรับชำระเงินรับฝาก</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2 text-right pull-right">
    <h3>&nbsp;</h3>
    <a [routerLink]="['/ris/receive-deposit-create']" class="btn btn-primary">
      <i class="fa fa-paper-plane-o"></i> บันทึกรับชำระเงินรับฝาก
    </a>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="ibox">
    <div class="ibox-title">
      <h3>ค้นหาข้อมูลบันทึกรับชำระเงินรับฝาก</h3>
    </div>
    <div class="ibox-content">
      <form action="" [formGroup]="formSearch">
        <div class="row form-group">
          <div class="col-xs-6 col-lg-6">
            <label class="col-lg-4 control-label">เลขที่ใบรับเงิน</label>
            <div class="col-lg-8">
              <input type="text" class="form-control" formControlName="receiptNo">
            </div>
          </div>
          <div class="col-xs-6 col-lg-6">
            <label class="col-lg-4 control-label">วันที่ชำระเงิน</label>
            <div class="col-lg-8">
              <div class="input-group">
                <input class="form-control mat-date-picker" readonly [matDatepicker]="dp" (click)="dp.open()"
                  formControlName="paymentDate">
                <mat-datepicker #dp disabled="false"></mat-datepicker>
                <span class="input-group-btn mat-icon-picker" (click)="dp.open()">
                  <button class="btn btn-default" type="button">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-6 col-lg-6">
            <label class="col-lg-4 control-label">ประเภทการส่งเงิน</label>
            <div class="col-lg-8">
              <div formArrayName="expenseTag" *ngFor="let item of expenseTag.controls; let i = index;"
                class="checkbox checkbox-info checkbox-inline">
                <input type="checkbox" [formControlName]="i" id="ext{{i}}" [value]="ExpTagList[i].id">
                <label for="ext{{i}}">{{ExpTagList[i].desc}}</label>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-lg-6">
            <label class="col-lg-4 control-label">ประเภทการชำระเงิน</label>
            <div class="col-lg-8">
              <div formArrayName="paymentType" *ngFor="let item of paymentType.controls; let i = index;"
                class="checkbox checkbox-info checkbox-inline">
                <input type="checkbox" [formControlName]="i" id="pt{{i}}" [value]="PaymentTypeList[i].id">
                <label for="pt{{i}}">{{PaymentTypeList[i].desc}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-6 col-lg-6">
            <label class="col-lg-4 control-label">ผู้ชำระเงิน</label>
            <div class="col-lg-8">
              <input type="text" class="form-control" formControlName="createName">
            </div>
          </div>
          <div class="col-xs-6 col-lg-6">
            <label class="col-lg-4 control-label">สถานะ</label>
            <div class="col-lg-8">
              <select formControlName="status" class="form-control">
                <option value=""></option>
                <option [value]="item.id" *ngFor="let item of ReceiveClStatusList">{{item.desc}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-right">
            <button type="button" class="btn btn-info" (click)="onSearch()">
              <i class="fa fa-search" aria-hidden="true"></i>
              ค้นหา
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <form class="form-horizontal" style="margin-bottom: 15em;">
        <table class="table table-stripped table-hover display nowrap set-dataTable" style="width: 100%;">
          <thead>
            <tr>
              <th class="text-center">ลำดับ</th>
              <th></th>
              <th>เลขที่ใบชำระเงิน</th>
              <th>วันที่</th>
              <th>ประเภทการส่งเงิน</th>
              <th>ประเภทการชำระ</th>
              <th class="text-right">ยอดชำระเงิน</th>
              <th>วันที่ชำระ</th>
              <th>สถานะ</th>
              <th>ผู้ชำระเงิน</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="list.length == 0; else else_tr;">
              <td colspan="11" class="text-center">
                <div [ngSwitch]="loading">
                  <div *ngSwitchCase="1">
                    <i class="fa fa-exclamation-circle fa-2x" aria-hidden="true"></i>
                    <br>
                    <p>ไม่มีข้อมูล</p>
                  </div>
                  <div *ngSwitchCase="2">
                    <i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i>
                    <br>
                    <p>มีบางอย่างผิดพลาด</p>
                  </div>
                  <div *ngSwitchCase="0">
                    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                    <br>
                    <p>รอสักครู่...</p>
                  </div>
                </div>
              </td>
            </tr>
            <ng-template #else_tr>
              <tr *ngFor="let item of list; let i = index">
                <td class="text-center">{{i+1}}</td>
                <td class="text-center">
                  <a class="btn btn-info btn-outline btn-xs" [routerLink]="['/ris/receive-deposit-detail', item.id]">
                    <i class="fa fa-info-circle"></i>
                    รายละเอียด
                  </a>
                </td>
                <td>{{item.receiptNo}}</td>
                <td>{{displayLocalDate(item.receiptDate)}}</td>
                <td>{{item.expenseTagName}}</td>
                <td>{{item.paymentTypeDesc}}</td>
                <td>{{item.totalPaymentPrice | number:'1.2-2':'en-US'}}</td>
                <td>{{displayLocalDate(item.paymentDate)}}</td>
                <td [ngClass]="{
                  'text-danger': item.status == ReceiveClStatus.Cancel,
                  'text-navy': item.status == ReceiveClStatus.Normal
                }">{{item.statusDesc}}</td>
                <td>{{item.createName}}</td>
              </tr>
            </ng-template>

          </tbody>
        </table>

      </form>
    </div>
  </div>

</div>