<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>บันทึกรับชำระเงินรับฝาก</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">หน้าแรก</a>
      </li>
      <li>งานทะเบียน</li>
      <li class="active">
        <strong>รายการบันทึกรับชำระเงินรับฝาก</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2 text-right pull-right">
    <h3>&nbsp;</h3>
    <a [routerLink]="['/ris/receive-deposit-create']" class="btn btn-primary">
      <i class="fa fa-paper-plane-o"></i> บันทึกรับชำระเงินรับฝาก
    </a>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">


  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <form class="form-horizontal" style="margin-bottom: 15em;">
        <table class="table table-stripped table-hover display nowrap set-dataTable" style="width: 100%;">
          <thead>
            <tr>
              <th class="text-center">ลำดับ</th>
              <th></th>
              <th>เลขที่ใบชำระเงิน</th>
              <th>วันที่</th>
              <th>ประเภทการส่งเงิน</th>
              <th>ประเภทการชำระ</th>
              <th class="text-right">ยอดชำระเงิน</th>
              <th>วันที่ชำระ</th>
              <th>สถานะ</th>
              <th>ผู้ชำระเงิน</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="list.length == 0; else else_tr;">
              <td colspan="11" class="text-center">
                <div [ngSwitch]="loading">
                  <div *ngSwitchCase="1">
                    <i class="fa fa-exclamation-circle fa-2x" aria-hidden="true"></i>
                    <br>
                    <p>ไม่มีข้อมูล</p>
                  </div>
                  <div *ngSwitchCase="2">
                    <i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i>
                    <br>
                    <p>มีบางอย่างผิดพลาด</p>
                  </div>
                  <div *ngSwitchDefault>
                    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                    <br>
                    <p>รอสักครู่...</p>
                  </div>
                </div>
              </td>
            </tr>
            <ng-template #else_tr>
              <tr *ngFor="let item of list; let i = index">
                <td class="text-center">{{i+1}}</td>
                <td class="text-center">
                  <a class="btn btn-info btn-outline btn-xs" [routerLink]="['/ris/receive-deposit-detail', item.id]">
                    <i class="fa fa-info-circle"></i>
                    รายละเอียด
                  </a>
                </td>
                <td>{{item.receiptNo}}</td>
                <td>{{displayLocalDate(item.receiptDate)}}</td>
                <td>{{item.expenseTagName}}</td>
                <td>{{item.paymentTypeDesc}}</td>
                <td>{{item.totalPaymentPrice | number:'1.2-2'}}</td>
                <td>{{displayLocalDate(item.paymentDate)}}</td>
                <td [ngClass]="{
                  'text-danger': item.status == ReceiveClStatus.Cancel,
                  'text-navy': item.status == ReceiveClStatus.Normal
                }">{{item.statusDesc}}</td>
                <td>{{item.createName}}</td>
              </tr>
            </ng-template>

          </tbody>
        </table>

      </form>
    </div>
  </div>

</div>