<div class="m-t-md">
   <h4>ของแถม</h4>
   <hr class="m-t-xs m-b-xs" style="border-top:dashed 1px #ddd">
   <div class="table-responsive">
      <table appFootable class="footable table table-stripped toggle-arrow-tiny" data-page-size="5">
         <thead>
            <tr>
               <th data-toggle="true">ลำดับ</th>
               <th>รหัสสินค้า</th>
               <th>รายการสินค้า</th>
               <th>จำนวน</th>
               <th data-hide="all">หน่วย</th>
               <th data-hide="all">ราคาก่อนภาษี</th>
               <th data-hide="all">ภาษี(%)</th>
               <th data-hide="all">ราคาภาษี</th>
               <th>ราคาขายต่อหน่วย</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>1</td>
               <td>001</td>
               <td>หมวกกันน๊อกเต็มใบ</td>
               <td>1</td>
               <td>ใบ</td>
               <td>900</td>
               <td>7%</td>
               <td>63</td>
               <td>963</td>
            </tr>
         </tbody>
      </table>
   </div>
</div>