<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>บันทึกใบสั่งซื้อ</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">หน้าแรก</a>
      </li>
      <li>PSS</li>
      <li class="active">
        <strong>บันทึกใบสั่งซื้อ</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2 text-right pull-right">
    <h3>&nbsp;</h3>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <form class="form-horizontal" style="margin-bottom: 15em;" autocomplete="off" [formGroup]="formGroup">

    <div class="ibox float-e-margins">
      <div class="ibox-content">

        <div class="row">

          <div class="col-md-4">
            <label for="po_no" class="col-md-4 control-label">เลขที่ใบสั่งซื้อ</label>
            <div class="col-md-8">
              <input type="text" class="form-control" formControlName="po_no">
            </div>
          </div>

          <div class="col-md-4">
            <label class="col-md-4 control-label is-required">สาขาที่สั่งซื้อ</label>
            <div class="col-md-8">
              <ng-select [items]="AC_Branch" bindLabel="text" bindValue="value" placeholder="สาขาที่สั่งซื้อ"
                formControlName="branch_id">
              </ng-select>

            </div>
          </div>

          <div class="col-md-4">
            <label class="col-md-4 control-label is-required">สั่งซื้อจาก</label>
            <div class="col-md-8">
              <ng-select [items]="AC_Dealer" bindLabel="text" bindValue="value" placeholder="สาขาที่สั่งซื้อ"
                formControlName="dealer_code">
              </ng-select>

            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-md-4">
            <label class="col-md-4 control-label is-required">วันที่สั่งซื้อ</label>
            <div class="col-md-8">
              <thai-mat-datepicker id="po_date" name="po_date" formControlName="po_date"></thai-mat-datepicker>
            </div>
          </div>

          <div class="col-md-4">
            <label class="col-md-4 control-label">กำหนดส่ง</label>
            <div class="col-md-8">
              <thai-mat-datepicker id="delivery_date" name="delivery_date" formControlName="delivery_date">
              </thai-mat-datepicker>
            </div>
          </div>

          <div class="col-md-4">
            <label class="col-md-4 control-label">ประเภท</label>
            <div class="col-md-8">
              <ng-select [items]="AC_Type" bindLabel="txt" bindValue="id" placeholder="ประเภท"
                formControlName="po_type">
              </ng-select>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-md-4">
            <label class="col-md-4 control-label">ติดต่อ</label>
            <div class="col-md-8">
              <input type="text" class="form-control" formControlName="contact_name">
            </div>
          </div>

          <div class="col-md-4">
            <label class="col-md-4 control-label">โทร</label>
            <div class="col-md-8">
              <input type="text" class="form-control" formControlName="contact_phone">
            </div>
          </div>

          <div class="col-md-4">
            <label class="col-md-4 control-label">หมายเหตุ</label>
            <div class="col-md-8">
              <textarea class="form-control" formControlName="po_remark"></textarea>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="ibox float-e-margins">
      <div class="ibox-content">

        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th style="width: 5px;">ลำดับ</th>
              <th style="width: 200px;">รหัสสินค้า</th>
              <th style="width: 200px;">ชื่อสินค้า</th>
              <th style="width: 100px;">จำนวนสั่งซื้อ</th>
              <th style="width: 100px;">ราคา</th>
              <th style="width: 100px;">ส่วนลด</th>
              <th style="width: 100px;">ราคารวม</th>
              <th style="width: 5px;"></th>
            </tr>
          </thead>
          <tbody formArrayName="detail">
            <tr *ngFor="let item of DetailList.controls; let i=index" [formGroupName]="i">
              <td class="text-center">{{i+1}}</td>

              <td>{{item.get('item_code').value}}</td>
              <td>{{item.get('item_name').value}}</td>
              <td>
                <input type="number" class="form-control" formControlName="po_qty" (keyup)="rowOrderChange(i)">
              </td>
              <td>
                <input type="number" class="form-control" formControlName="cost_exc_vat" (keyup)="rowOrderChange(i)">
              </td>
              <td>
                <input type="number" class="form-control" formControlName="cost_discount" (keyup)="rowOrderChange(i)">
              </td>
              <td>{{item.get('total').value | number:'1.2-2':'en-US'}}</td>
              <td class="text-center">
                <button type="button" class="btn btn-xs btn-outline btn-danger" (click)="removeItem(i)">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                  ลบ</button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr [formGroup]="formGroupItem">
              <th></th>
              <th>
                <ng-select [items]="ItemDropdown" [typeahead]="Itemhead" dropdownPosition="auto" bindLabel="text"
                  bindValue="value" labelForId="model" [virtualScroll]="true" placeholder=""
                  [loading]="searchItemLoading" [loadingText]="dropdownLoadingTxt" formControlName="item_id"
                  (change)="selectItem($event)">
                  <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                    <small class="text-muted">{{item.item_code}}</small><br>
                    <span class="text-primary">{{item.item_name}}</span>
                    <hr class="m-t-xs m-b-xs">
                  </ng-template>
                </ng-select>
              </th>
              <th>
                {{formGroupItem.get('item_name').value}}
              </th>
              <th>
                <input type="number" class="form-control" formControlName="po_qty" (keyup)="orderChange()">
              </th>
              <th>
                <input type="number" class="form-control" formControlName="cost_exc_vat" (keyup)="orderChange()">
              </th>
              <th>
                <input type="number" class="form-control" formControlName="cost_discount" (keyup)="orderChange()">
              </th>
              <th>{{formGroupItem.get('total').value | number:'1.2-2':'en-US'}}</th>
              <th class="text-center">
                <button type="button" class="btn btn-xs btn-outline btn-success" (click)="addItem()">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i>
                  เพิ่ม</button>
              </th>
            </tr>


            <tr>
              <td class="text-right" colspan="6" style="font-weight:bold;">ยอดสั่งซื้อ</td>
              <td class="text-right" style="font-weight:bold;"><span class="_total_exc_vat">{{formGroup.get('total_exc_vat').value | number:'1.2-2':'en-US'}}</span></td>
              <td></td>
            </tr>
            <tr>
              <td colspan="6" class="text-right" style="vertical-align:middle;font-weight:bold;">หักส่วนลด</td>
              <td class="text-right" style="color:#f00; vertical-align:middle;font-weight:bold;"><span class="_total_discount">{{formGroup.get('total_discount').value | number:'1.2-2':'en-US'}}</span>
              </td>
              <td></td>
            </tr>
            <tr>
              <td class="text-right" colspan="6" style="font-weight:bold;">ยอดสั่งซื้อสุทธิ</td>
              <td class="text-right" style="font-weight:bold;"><span class="_total_exc_vat_discount">{{formGroup.get('total_exc_vat_discount').value | number:'1.2-2':'en-US'}}</span></td>
              <td></td>
            </tr>
            <tr>
              <td class="text-right" colspan="6" style="font-weight:bold;">
                <div class="checkbox checkbox-primary" style="display: inline">
                  <input type="checkbox" id="chk_vat" formControlName="chk_vat" (change)="checkVat()">
                  <label for="chk_vat"></label>
                </div>
                ภาษีมูลค่าเพิ่ม
                <div style="display: inline">
                  <input type="text" formControlName="vat_rate" readonly style="border:0;width: 10px;">%
                </div>
                

              </td>
              <td class="text-right" style="font-weight:bold; vertical-align:middle;"><span class="_total_vat">{{formGroup.get('total_vat').value | number:'1.2-2':'en-US'}}</span>
              </td>
              <td></td>
            </tr>
            <tr>
              <td class="text-right" colspan="6" style="font-weight:bold;">ยอดรวมสุทธิ</td>
              <td class="text-right" style="font-weight:bold;"><span class="_total">{{formGroup.get('total').value | number:'1.2-2':'en-US'}}</span></td>
              <td></td>
            </tr>

          </tfoot>
        </table>


      </div>
    </div>


    <div class="text-right m-t-md form-group">
      <button class="btn btn-success" type="button" [disabled]="formGroup.invalid || DetailList.length == 0"
        (click)="onSubmit()">บันทึกสั่งซื้อ</button>
    </div>

  </form>
</div>