<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>บันทึกการยืมเงิน</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">หน้าแรก</a>
      </li>
      <li>งานทะเบียน</li>
      <li class="active">
        <strong>บันทึกการยืมเงิน</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2 text-right pull-right">
    <button class="btn btn-success m-t-md" type="button" (click)="printAl()">
      <i class="fa fa-print"></i> ใบยืม</button>
    <h3>&nbsp;</h3>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">


  <form class="form-horizontal" style="margin-bottom: 15em;" #form="ngForm" autocomplete="off" [formGroup]="formGroup">

    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <div class="hr-line-dashed"></div>
        <div class="row">
          <div class="col-xs-6 col-lg-6">
            <div class="form-group">
              <label class="col-lg-3 control-label">วันที่ทำรายการ</label>
              <div class="col-lg-9">
                <span class="form-control disabled">
                  {{displayLocalDate(formGroup.get('createDate').value)}}
                </span>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-lg-6">
            <div class="form-group">
              <label class="col-lg-3 control-label">เลขที่ใบยืม</label>
              <div class="col-lg-9">
                <span class="form-control disabled">
                  {{formGroup.get('alNo').value}}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-lg-6">
            <div class="form-group">
              <label class="col-lg-3 control-label required">ผู้ยืม (ผู้ดำเนินการ)</label>
              <div class="col-lg-9">
                <span class="form-control disabled">{{formGroup.get('borrowerName').value}}</span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">ยอดค้างทั้งสิ้น</label>
              <div class="col-lg-9">
                <span class="form-control disabled">{{formGroup.get('price2Remain').value | number:'1.2-2':'en-US'}}</span>
              </div>
            </div>
            <div class="form-group">
              <ng-container *ngIf="formGroup.get('status').value == AlStatus.Normal; else elseReason">
                <label class="col-lg-3 control-label is-required">สาเหตุในการยกเลิก</label>
                <div class="col-lg-9">
                  <ng-select required [items]="reasonDropdown" bindValue="text" bindLabel="text"
                    formControlName="reason">
                  </ng-select>
                </div>
              </ng-container>
              <ng-template #elseReason>
                <label class="col-lg-3 control-label">สาเหตุในการยกเลิก</label>
                <div class="col-lg-9">
                  <span class="form-control disabled">{{formGroup.get('reason').value}}</span>
                </div>
              </ng-template>
            </div>
          </div>

          <div class="col-xs-6 col-lg-6">
            <div class="form-group">
              <label class="col-lg-3 control-label">ผู้ให้ยืม</label>
              <div class="col-lg-9">
                <span class="form-control disabled">{{formGroup.get('createName').value}}</span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">สถานะ</label>
              <div class="col-lg-9">
                <span class="form-control disabled">{{formGroup.get('statusDesc').value}}</span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">หมายเหตุ</label>
              <ng-container *ngIf="formGroup.get('status').value == AlStatus.Normal; else elseRemark">
                <div class="col-lg-9">
                  <textarea class="form-control" rows="1" formControlName="remark"></textarea>
                </div>
              </ng-container>
              <ng-template #elseRemark>
                <div class="col-lg-9">
                  <span class="form-control disabled">{{formGroup.get('remark').value}}</span>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-content">
            <table class="table table-stripped table-hover display nowrap set-dataTable" style="width: 100%;">
              <thead>
                <tr>
                  <th class="text-center">ลำดับ</th>
                  <th></th>
                  <th>เลขที่ใบส่งเรื่อง</th>
                  <th>วันที่ส่งเรื่อง</th>
                  <th class="text-right">เงินที่ต้องส่ง</th>
                  <th class="text-right">เงินที่ต้องยืม</th>
                  <th class="text-right">เงินยืม</th>
                </tr>
              </thead>
              <tbody formArrayName="SedList">
                <tr *ngIf="SedList.length == 0; else else_tr;">
                  <td colspan="8" class="text-center">
                    <div [ngSwitch]="loading">
                      <div *ngSwitchCase="1">
                        <i class="fa fa-exclamation-circle fa-2x" aria-hidden="true"></i>
                        <br>
                        <p>ไม่มีข้อมูล</p>
                      </div>
                      <div *ngSwitchCase="2">
                        <i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i>
                        <br>
                        <p>มีบางอย่างผิดพลาด</p>
                      </div>
                      <div *ngSwitchDefault>
                        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                        <br>
                        <p>รอสักครู่...</p>
                      </div>
                    </div>
                  </td>
                </tr>
                <ng-template #else_tr>
                  <tr *ngFor="let item of SedList.controls; let i = index" [formGroupName]="i">
                    <td class="text-center" [attr.data-order]="i">{{i+1}}</td>
                    <td class="text-center">
                      <div class="checkbox checkbox-primary">
                        <input type="checkbox" id="select{{i}}" formControlName="IS_CHECKED" disabled>
                        <label for="select{{i}}"></label>
                      </div>
                    </td>
                    <td>{{item.get('sedNo')?.value}}</td>
                    <td [attr.data-order]="item.get('sedId').value">
                      {{displayLocalDate(item.get('createDate').value)}}
                    </td>
                    <td class="text-right" [attr.data-order]="item.get('netPrice1').value">
                      {{item.get('netPrice1').value | number:'1.2-2':'en-US'}}
                    </td>
                    <td class="text-right" [attr.data-order]="item.get('price2Remain').value">
                      {{item.get('price2Remain').value | number:'1.2-2':'en-US'}}
                    </td>
                    <td class="text-right" [attr.data-order]="item.get('borrowMoney').value">
                      {{item.get('borrowMoney').value | number:'1.2-2':'en-US'}}
                    </td>
                  </tr>
                </ng-template>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-7"></div>
      <div class="col-lg-5">

        <div class="row form-group">
          <div class="">
            <label class="col-md-4 control-label is-required">ประเภทชำระ</label>
            <div class="col-md-8">

              <div class="radio radio-info radio-inline">
                <input required type="radio" formControlName="paymentType" id="paymentType0" value=1>
                <label for="paymentType0">เงินสด</label>
              </div>
              <div class="radio radio-info radio-inline">
                <input required type="radio" formControlName="paymentType" id="paymentType1" value=2>
                <label for="paymentType1">เงินโอน</label>
              </div>
              <div class="radio radio-info radio-inline">
                <input required type="radio" formControlName="paymentType" id="paymentType2" value=3>
                <label for="paymentType2">เช็ค</label>
              </div>
            </div>
          </div>
        </div>

        <div [ngSwitch]="formGroup.get('paymentType').value">
          <ng-container *ngSwitchCase="1">
            <app-payment-type-cash [$Data]="PaymentData"></app-payment-type-cash>
          </ng-container>
          <ng-container *ngSwitchCase="2">
            <app-payment-type-transfer [$Data]="PaymentData"></app-payment-type-transfer>
          </ng-container>
          <ng-container *ngSwitchCase="3">
            <app-payment-type-cheque [$Data]="PaymentData"></app-payment-type-cheque>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 text-right">
        <ng-container *ngIf="formGroup.get('status').value == AlStatus.Normal">
          <button class="btn btn-danger" type="button" [disabled]="formGroup.invalid" (click)="onSubmit()">
            ยกเลิกงาน
          </button>
        </ng-container>
      </div>
    </div>
  </form>
</div>