<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>บันทึกการยืมเงิน</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">หน้าแรก</a>
      </li>
      <li>งานทะเบียน</li>
      <li class="active">
        <strong>บันทึกการยืมเงิน</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2 text-right pull-right">

  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">


  <form class="form-horizontal" style="margin-bottom: 15em;" #form="ngForm" autocomplete="off" [formGroup]="formGroup"
    (ngSubmit)="onSubmit()">

    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <div class="hr-line-dashed"></div>
        <div class="row">
          <div class="col-xs-6 col-lg-6">
            <div class="form-group">
              <label class="col-lg-3 control-label">วันที่ทำรายการ</label>
              <div class="col-lg-9">
                <span class="form-control disabled">
                  {{displayLocalDate(formGroup.get('createDate').value)}}
                </span>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-lg-6">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-lg-6">
            <div class="form-group">
              <label class="col-lg-3 control-label required">ผู้ยืม (ผู้ดำเนินการ)</label>
              <div class="col-lg-9">
                <span class="form-control disabled">{{formGroup.get('borrowerName').value}}</span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">ยอดค้างทั้งสิ้น</label>
              <div class="col-lg-9">
                <span class="form-control disabled">{{formGroup.get('paymentPrice').value | number:'1.2-2'}}</span>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-lg-6">
            <div class="form-group">
              <label class="col-lg-3 control-label">ผู้ให้ยืม</label>
              <div class="col-lg-9">
                <span class="form-control disabled">{{mUser?.name}}</span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">หมายเหตุ</label>
              <div class="col-lg-9">
                <textarea class="form-control" rows="1" formControlName="remark"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-content">
            <table class="table table-stripped table-hover display nowrap" style="width: 100%;">
              <thead>
                <tr>
                  <th class="text-center">ลำดับ</th>
                  <th></th>
                  <th>เลขที่ใบส่งเรื่อง</th>
                  <th>วันที่ส่งเรื่อง</th>
                  <th>เงินที่ต้องส่ง</th>
                  <th>เงินที่ต้องยืม</th>
                  <th>เงินยืม</th>
                </tr>
              </thead>
              <tbody formArrayName="SedList">
                <tr *ngIf="SedList.length == 0; else else_tr;">
                  <td colspan="7" class="text-center">
                    <div [ngSwitch]="loading">
                      <div *ngSwitchCase="1">ไม่มีข้อมูล</div>
                      <div *ngSwitchCase="2">มีบางอย่างผิดพลาด</div>
                      <div *ngSwitchDefault>
                        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                        <br>
                        <span class="mt-2">รอสักครู่...</span>
                      </div>
                    </div>
                  </td>
                </tr>
                <ng-template #else_tr>
                  <tr *ngFor="let item of SedList.controls; let i = index" [formGroupName]="i">
                    <td class="text-center" [attr.data-order]="i">{{i+1}}</td>
                    <td class="text-center">
                      <div class="checkbox checkbox-primary">
                        <input type="checkbox" id="select{{i}}" formControlName="IS_CHECKED"
                          (click)="checkingRecord(i)">
                        <label for="select{{i}}"></label>
                      </div>
                    </td>
                    <td>{{item.get('sedNo')?.value}}</td>
                    <td [attr.data-order]="item.get('sedId').value">
                      {{displayLocalDate(item.get('createDate').value)}}
                    </td>
                    <td class="text-right" [attr.data-order]="item.get('price1').value">
                      {{item.get('price1').value | number:'1.2-2'}}
                    </td>
                    <td class="text-right" [attr.data-order]="item.get('price2Remain').value">
                      {{item.get('price2Remain').value | number:'1.2-2'}}
                    </td>
                    <td class="text-right" [attr.data-order]="item.get('borrowMoney').value">
                      {{item.get('borrowMoney').value | number:'1.2-2'}}
                    </td>
                  </tr>
                </ng-template>

              </tbody>
            </table>
            <hr>
            <div class="row">
              <div class="col-lg-5"></div>
              <div class="col-lg-7">
                <div class="form-group">
                  <label class="col-lg-6 control-label">ประเภทชำระ</label>
                  <div class="col-lg-6">

                    <div class="radio radio-info radio-inline">
                      <input required type="radio" formControlName="paymentType" id="paymentType0" value=1>
                      <label for="paymentType0">เงินสด</label>
                    </div>
                    <div class="radio radio-info radio-inline">
                      <input required type="radio" formControlName="paymentType" id="paymentType1" value=2>
                      <label for="paymentType1">เงินโอน</label>
                    </div>
                  </div>
                </div>
                <!-- <ng-container *ngIf="formGroup.get('paymentType').value == '2'"> -->
                <div class="row form-group">
                  <label for="" class="col-sm-6 control-label"
                    [ngClass]="{'is-required': formGroup.get('paymentType').value == '2'}">
                    ธนาคาร
                  </label>
                  <div class="col-sm-6">
                    <ng-select [required]="formGroup.get('paymentType').value == '2'" [items]="bankingsDropdown"
                      bindValue="value" bindLabel="text" formControlName="bankCode">
                    </ng-select>
                  </div>
                </div>
                <div class="row form-group">
                  <label for="" class="col-sm-6 control-label"
                    [ngClass]="{'is-required': formGroup.get('paymentType').value == '2'}">
                    หมายเลขอ้างอิง
                  </label>
                  <div class="col-sm-6 text-right">
                    <input type="text" formControlName="documentRef"
                      [required]="formGroup.get('paymentType').value == '2'" class="form-control"
                      [readOnly]="formGroup.get('paymentType').value == '1'">
                  </div>
                </div>
                <!-- </ng-container> -->

                <div class="form-group">
                  <label class="col-lg-6 control-label">ยอดชำระ</label>
                  <div class="col-lg-6">
                    <input required type="number" class="form-control" formControlName="paymentPrice" #paymentPrice
                      (keyup)="onChangePaymentPrice(paymentPrice.value)" />
                      <br>
                    <div *ngIf="paymentPrice.value > price2RemainState" class="alert alert-danger" role="alert">
                      "ยอดชำระ" ต้องไม่มากกว่า "เงินที่ต้องยืม"
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 text-right">
        <button class="btn btn-success" [disabled]="form.invalid || paymentPrice.value > formGroup.get('price2').value"
          type="submit">บันทึกรายการ</button>
      </div>
    </div>
  </form>
</div>