<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>เพิ่มเงินจอง</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">หน้าแรก</a>
      </li>
      <li class="active">
        <strong>งานขายส่ง</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2 text-right pull-right">

  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

  <div class="ibox">
    <div class="ibox-content">
      <form [formGroup]="formGroup">

        <section class="row">
          <div class="col-xs-6 col-lg-6">
            <div class="row form-group">
              <label class="col-md-4 control-label is-required">ผู้จอง</label>
              <div class="col-md-8">
                <ng-select required [items]="customerDropdown" bindValue="value" bindLabel="text"
                  [typeahead]="customerTypeahead" placeholder="ค้นหาข้อมูลลูกค้า" formControlName="customerCode"
                  [loading]="customerLoading" [loadingText]="dropdownLoadingTxt">
                </ng-select>
              </div>
            </div>
            <div class="row form-group">
              <label class="col-md-4 control-label is-required">วันกำหนดรับรถ</label>
              <div class="col-md-8">
                <thai-mat-datepicker id="dp" formControlName="receiveDate"></thai-mat-datepicker>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-lg-6">
            <div class="row form-group">
              <label class="col-md-4 control-label is-required">วันที่จอง</label>
              <div class="col-md-8">
                <thai-mat-datepicker id="dp" formControlName="bookingDate"></thai-mat-datepicker>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 text-right">
                <small>ผู้ทำรายการ {{user.fullName}} วันที่ {{setLocalDate(formGroup.get('createDate').value)}}</small>
              </div>
            </div>
          </div>
        </section>

        <div class="hr-line-dashed"></div>

        <section class="row">
          <div class="col-xs-6 col-lg-6"></div>
          <div class="col-xs-6 col-lg-6">
            <div class="row form-group">
              <label class="col-md-4 control-label">หมายเหตุ</label>
              <div class="col-md-8">
                <textarea rows="2" formControlName="remark" class="form-control"></textarea>
              </div>
            </div>
          </div>
        </section>

        <section class="row form-group">
          <div class="col-sm-12">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th style="width: 5%;" class="text-center">ลำดับ</th>
                  <th style="width: 30%;">รายละเอียดรถ</th>
                  <th style="width: 15%;">ราคาต่อหน่วย</th>
                  <th style="width: 10%;">จำนวนสั่ง</th>
                  <th style="width: 10%;">ค้างส่ง</th>
                  <th style="width: 15%;">เป็นเงิน</th>
                </tr>
              </thead>
              <tbody formArrayName="productItem">
                <tr *ngFor="let item of ProductItem.controls; let i=index" [formGroupName]="i">
                  <td class="text-center">{{i+1}}</td>
                  <td>{{item.get('itemName').value}}</td>
                  <td>{{item.get('sellNet').value | number:'1.2-2':'en-US'}}</td>
                  <td>{{item.get('orders').value | number:'1.2-2':'en-US'}}</td>
                  <td>{{item['orders']}}</td>
                  <td>{{item['backlogs']}}</td>
                  <td>{{item.get('total').value | number:'1.2-2':'en-US'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>

        <section class="row">
          <div class="col-xs-6 col-lg-6"></div>
          <div class="col-xs-6 col-lg-6">
            <div class="row">
              <h5>เงินมัดจำ</h5>
              <hr class="m-t-xs">
            </div>
            <div class="row form-group">
              <label class="col-md-4 control-label is-required">ประเภทชำระ</label>
              <div class="col-md-8">
                <div *ngFor="let item of PaymentTypeList; let i=index;" class="radio radio-info radio-inline">
                  <input type="radio" formControlName="paymentType" id="pt{{i}}" value={{item.id}} required>
                  <label for="pt{{i}}">{{item.desc}}</label>
                </div>
              </div>
            </div>

            <div [ngSwitch]="formGroup.get('paymentType').value">
              <ng-container *ngSwitchCase="PaymentType.Cash">
                <app-payment-type-cash (Payment$)="formPaymentChange($event)" [$Data]="PaymentData">
                </app-payment-type-cash>
              </ng-container>
              <ng-container *ngSwitchCase="PaymentType.Transfer">
                <app-payment-type-transfer (Payment$)="formPaymentChange($event)" [$Data]="PaymentData">
                </app-payment-type-transfer>
              </ng-container>
              <ng-container *ngSwitchCase="PaymentType.Cheque">
                <app-payment-type-cheque (Payment$)="formPaymentChange($event)" [$Data]="PaymentData">
                </app-payment-type-cheque>
              </ng-container>
              <ng-container *ngSwitchCase="PaymentType.CreditCard">
                <app-payment-type-credit-card (Payment$)="formPaymentChange($event)" [$Data]="PaymentData">
                </app-payment-type-credit-card>
              </ng-container>
            </div>
          </div>
        </section>

        <div class="hr-line-dashed"></div>

        <section class="row">
          <div class="col-sm-12">
            <button type="button" class="btn btn-primary pull-right">
              <i class="fa fa-save"></i>&nbsp;&nbsp;บันทึก
            </button>
          </div>
        </section>
      </form>
    </div>
  </div>

</div>