<div class="ibox border-bottom float-e-margins">
  <div class="ibox-title">
    <h5>บันทึก บริการ/ค่าบริการ</h5>
    <div class="ibox-tools">
      <a class="close-link" (click)="toggleExpenses = !toggleExpenses">
        <i class="fa" [ngClass]="{'fa-chevron-up': !toggleExpenses,'fa-chevron-down': toggleExpenses}"></i>
      </a>
    </div>
  </div>
  <div class="ibox-content" *ngIf="toggleExpenses">

    <section [formGroup]="formCarHistory">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>
              <div class="checkbox checkbox-primary">
                <input #EXP10001 type="checkbox" id="EXP10001" value="EXP10001"
                  (click)="addExpenseForm('EXP10001', $event)" [disabled]="Mode == ActionMode.Detail">
                <label for="EXP10001">จดทะเบียนรถใหม่</label>
              </div>
              <div class="checkbox checkbox-primary">
                <input #EXP10002 type="checkbox" id="EXP10002" value="EXP10002"
                  (click)="addExpenseForm('EXP10002', $event)" [disabled]="Mode == ActionMode.Detail">
                <label for="EXP10002">ต่อทะเบียน</label>
              </div>
            </th>
            <th>
              <div class="checkbox checkbox-primary">
                <input #EXP10003 type="checkbox" id="EXP10003" value="EXP10003"
                  (click)="addExpenseForm('EXP10003', $event)" [disabled]="Mode == ActionMode.Detail">
                <label for="EXP10003">ทำ พ.ร.บ.</label>
              </div>
            </th>
            <th>
              <div class="checkbox checkbox-primary">
                <input #EXP10004 type="checkbox" id="EXP10004" value="EXP10004"
                  (click)="addExpenseForm('EXP10004', $event)" [disabled]="Mode == ActionMode.Detail">
                <label for="EXP10004">ทำประกันภัย</label>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="row m-b-sm">
                <label class="col-md-5 control-label">เลขทะเบียน</label>
                <div class="col-md-7">
                  <input type="text" class="form-control" formControlName="tagNo" [readOnly]="IsTagItem">
                </div>
              </div>
              <div class="row m-b-sm">
                <label class="col-md-5 control-label">จังหวัด</label>
                <div class="col-md-7">
                  <div *ngIf="IsTagItem; else provinceDD">
                    <input type="text" class="form-control" formControlName="province" readOnly>
                  </div>
                  <ng-template #provinceDD>
                    <ng-select [items]="provinceDropdown" bindValue="text" bindLabel="text" formControlName="province">
                    </ng-select>
                  </ng-template>
                </div>
              </div>
              <div class="row  m-b-sm">
                <label class="col-md-5 control-label">วันจดทะเบียน</label>
                <div class="col-md-7">
                  <thai-mat-datepicker id="tagRegis" formControlName="tagRegis" disabled="{{IsTagItem}}">
                  </thai-mat-datepicker>
                </div>
              </div>
              <div class="row  m-b-sm">
                <label class="col-md-5 control-label">ทะเบียนหมดอายุ</label>
                <div class="col-md-7">
                  <thai-mat-datepicker id="tagExpire" formControlName="tagExpire" disabled="{{IsTagItem}}">
                  </thai-mat-datepicker>
                </div>
              </div>
            </td>

            <td>
              <div class="row m-b-sm">
                <label class="col-md-5 control-label">กรมธรรม์ พ.ร.บ.</label>
                <div class="col-md-7">
                  <input type="text" class="form-control" formControlName="prbNo" [readOnly]="IsActItem">
                </div>
              </div>
              <div class="row  m-b-sm">
                <label class="col-md-5 control-label">บริษัท</label>
                <div class="col-md-7">
                  <div *ngIf="IsActItem; else prbDD">
                    <input type="text" class="form-control" formControlName="prbCompany" readOnly>
                  </div>
                  <ng-template #prbDD>
                    <ng-select [items]="insureDropdown" bindValue="text" bindLabel="text" formControlName="prbCompany">
                    </ng-select>
                  </ng-template>
                </div>
              </div>
              <div class="row  m-b-sm">
                <label class="col-md-5 control-label">วันทำ พ.ร.บ.</label>
                <div class="col-md-7">
                  <thai-mat-datepicker id="prbRegis" formControlName="prbRegis" disabled={{IsActItem}}>
                  </thai-mat-datepicker>
                </div>
              </div>
              <div class="row  m-b-sm">
                <label class="col-md-5 control-label">พ.ร.บ. หมดอายุ</label>
                <div class="col-md-7">
                  <thai-mat-datepicker id="prbExpire" formControlName="prbExpire" disabled={{IsActItem}}>
                  </thai-mat-datepicker>
                </div>
              </div>
            </td>

            <td class="">
              <div class="row m-b-sm">
                <label class="col-md-5 control-label">กรมธรรม์ประกัน</label>
                <div class="col-md-7">
                  <input type="text" class="form-control" formControlName="warNo" [readOnly]="IsWarItem">
                </div>
              </div>
              <div class="row  m-b-sm">
                <label class="col-md-5 control-label">บริษัทประกัน</label>
                <div class="col-md-7">
                  <div *ngIf="IsWarItem; else insureDD">
                    <input type="text" class="form-control" formControlName="warCompany" readonly>
                  </div>
                  <ng-template #insureDD>
                    <ng-select [items]="insureDropdown" bindValue="text" bindLabel="text" formControlName="warCompany">
                    </ng-select>
                  </ng-template>
                </div>
              </div>
              <div class="row  m-b-sm">
                <label class="col-md-5 control-label">วันทำประกัน</label>
                <div class="col-md-7">
                  <thai-mat-datepicker id="warRegis" formControlName="warRegis" disabled={{IsWarItem}}>
                  </thai-mat-datepicker>
                </div>
              </div>
              <div class="row  m-b-sm">
                <label class="col-md-5 control-label">ประกันหมดอายุ</label>
                <div class="col-md-7">
                  <thai-mat-datepicker id="warExpire" formControlName="warExpire" disabled={{IsWarItem}}>
                  </thai-mat-datepicker>
                </div>
              </div>
            </td>
          </tr>

        </tbody>
      </table>
    </section>

    <section [formGroup]="formGroup">
      <div *ngFor="let expTag of ExpenseTagList" formArrayName="{{expTag}}">
        <div *ngFor="let itemRegis of getFormArray(expTag).controls; let i=index;" [formGroupName]="i"
          class="ibox-content p-h-sm">
          <table class="table table-sm table-striped">
            <thead>
              <tr>
                <th>
                  <h3 class="text-navy">
                    {{itemRegis.get('itemName').value}}
                  </h3>
                </th>
                <th class="text-center" width="15%">
                  <h5>เงินรับฝาก</h5>
                </th>
                <th class="text-center" width="10%">
                  <h5>คิดภาษี</h5>
                </th>
                <th class="text-center" width="15%" *ngIf="Mode != ActionMode.Create">
                  <h5>ค่าใช่จ่าย</h5>
                </th>
                <th class="text-center" width="15%" *ngIf="Mode != ActionMode.Create">
                  <h5>ค่าใช่จ่าย(เบิกเพิ่ม)</h5>
                </th>
                <th class="text-center" width="10%" *ngIf="Mode != ActionMode.Detail">
                  จัดการ
                </th>
              </tr>
            </thead>
            <tbody>
              <ng-container formArrayName="children"
                *ngFor="let child of getChildrenFormArray(itemRegis).controls; let j=index;">
                <tr [formGroupName]="j">
                  <td class="desc text-middle">
                    <ul class="m-b-none">
                      <li>{{child.get('itemName').value}}</li>
                    </ul>
                  </td>
                  <td class="text-middle">
                    <input #itemNetPrice type="number" min="0" step="0.01" formControlName="itemNetPrice1"
                      class="form-control text-right">
                    <input style="display: none;" type="number" formControlName="itemCutBalance"
                      [value]="itemNetPrice.value">
                  </td>
                  <td class="text-middle text-center">
                    <div class="checkbox checkbox-primary m-t-none m-b-none">
                      <input type="checkbox" id="itemIsVat{{expTag}}{{j}}" formControlName="itemIsVat"
                        (change)="onItemCalVat(j, itemRegis)">
                      <label for="itemIsVat{{expTag}}{{j}}"></label>
                    </div>
                  </td>
                  <td *ngIf="Mode != ActionMode.Create">
                    <input type="number" min="0" step="0.01" formControlName="itemPrice2"
                      class="form-control text-right">
                  </td>
                  <td *ngIf="Mode != ActionMode.Create">
                    <input type="number" min="0" step="0.01" formControlName="itemPrice3"
                      class="form-control text-right">
                  </td>
                  <td *ngIf="Mode != ActionMode.Detail" style="vertical-align: middle;" class="text-center">
                    <a href="javaScript:void(0);" class="btn btn-default btn-xs" type="button"
                      (click)="onRemoveExpenseItem(j, itemRegis)">
                      <i class="fa fa-trash"></i> ลบรายการ</a>
                  </td>
                </tr>
              </ng-container>

            </tbody>
            <ng-container *ngIf="Mode != ActionMode.Detail">
              <ng-container *ngIf="(Status2 | async) == null">
                <!-- (Status1 | async) == ConStatus1.Received || (Status1 | async) == null -->
                <tfoot [formGroup]="getFormExpense(expTag)">
                  <tr class="bg-muted">
                    <td>
                      <ng-select [items]="expenses" bindLabel="expensesDescription" bindValue="expensesDescription"
                        groupBy="expensesTypeDesc" (change)="onSelectExpenses($event, getFormExpense(expTag))"
                        placeholder="ค่าใช้จ่าย{{itemRegis.get('itemName').value}}" formControlName="expItem">
                        <ng-template ng-optgroup-tmp let-item="item">
                          <strong>{{item.expensesTypeDesc}}</strong>
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item">
                          {{item.expensesDescription}}
                        </ng-template>
                      </ng-select>
                    </td>
                    <td class="text-middle">
                      <input type="number" min="0" step="0.01" formControlName="expNetPrice1"
                        class="form-control text-right">
                    </td>
                    <td class="text-middle text-center">
                      <div class="checkbox checkbox-primary m-t-none m-b-none">
                        <input type="checkbox" id="expIsVat{{expTag}}{{i}}" formControlName="expIsVat"
                          (change)="onExpensesCalVat(getFormExpense(expTag))">
                        <label for="expIsVat{{expTag}}{{i}}"></label>
                      </div>
                    </td>
                    <td *ngIf="Mode != ActionMode.Create">
                      <input type="number" min="0" step="0.01" formControlName="expPrice2"
                        class="form-control text-right">
                    </td>
                    <td *ngIf="Mode != ActionMode.Create">
                      <input type="number" min="0" step="0.01" formControlName="expPrice3"
                        class="form-control text-right">
                    </td>
                    <td style="vertical-align: middle;" class="text-center">
                      <button class="btn btn-xs btn-outline btn-primary" type="button"
                        [disabled]="!getFormExpense(expTag).get('expItem').value"
                        (click)="onAddExpItem(getFormExpense(expTag), getFormArray(expTag))">
                        <i class="fa fa-plus"></i>
                        เพิ่มรายการ
                      </button>
                    </td>
                  </tr>
                </tfoot>
              </ng-container>
            </ng-container>
          </table>
        </div>
      </div>
    </section>
  </div>
</div>