<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>บันทึกรับเรื่อง</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">หน้าแรก</a>
      </li>
      <li>งานทะเบียน</li>
      <li class="active">
        <strong>บันทึกรับเรื่องดำเนินการ</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2 text-right pull-right">
    <h3>&nbsp;</h3>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="ibox float-e-margins">
    <form [formGroup]="formGroup">
      <div class="ibox-content">
        <h3>บันทึกการส่งเรื่องดำเนินการ</h3>
        <div class="hr-line-dashed"></div>
        <div class="row form-group">
          <div class="col-xs-6 col-lg-6">
            <div class="form-group"><label class="col-lg-4 control-label">วันที่ทำรายการ</label>
              <div class="col-lg-8">
                <span class="form-control disabled">{{displayLocalDate(formGroup.get('createDate').value)}}</span>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-lg-6">
            <div class="form-group"><label class="col-lg-4 control-label">พนักงาน</label>
              <div class="col-lg-8">
                <span class="form-control disabled">{{formGroup.get('createName').value}}</span>
              </div>
            </div>
          </div>
        </div>


        <div class="row form-group">
          <div class="col-xs-6 col-lg-6">
            <div class="form-group">
              <label class="col-lg-4 control-label is-required">หมายเลขเครื่อง</label>
              <div class="col-lg-8">
                <span class="form-control disabled">{{formGroup.get('eNo').value}}</span>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-lg-6">
            <div class="form-group">
              <label class="col-lg-4 control-label is-required">หมายเลขตัวถัง</label>
              <div class="col-lg-8">
                <span class="form-control disabled">{{formGroup.get('fNo').value}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-6">
            <label class="col-lg-4 control-label">หมายเหตุ</label>
            <div class="col-lg-8">
              <span class="form-control disabled">{{formGroup.get('remark').value}}</span>
            </div>
          </div>
          <div class="col-sm-6">
            <label class="col-lg-4 control-label">สถานะ</label>
            <div class="col-lg-8">
              <span class="form-control disabled">{{formGroup.get('statusDesc').value}}</span>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-6">
            <ng-container *ngIf="formGroup.get('bookingStatus').value == ConStatus.Received; else elseReason">
              <label class="col-lg-4 control-label is-required">สาเหตุในการยกเลิก</label>
              <div class="col-lg-8">
                <ng-select required [items]="reasonDropdown" bindValue="text" bindLabel="text" formControlName="reason">
                </ng-select>
              </div>
            </ng-container>
            <ng-template #elseReason>
              <label class="col-lg-4 control-label">สาเหตุในการยกเลิก</label>
              <div class="col-lg-8">
                <span class="form-control disabled">{{formGroup.get('reason').value}}</span>
              </div>
            </ng-template>
          </div>
          <div class="col-sm-6">
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-12 text-center">
            <div class="form-group">
              <button class="btn btn-info" type="button" data-toggle="modal"
                data-target="#carHistory">ประวัติรถ</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="carHistory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog _dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">ประวัติรถ</h4>
            </div>
            <div class="modal-body">
              <app-tag-history-car (ENo)="null" (FNo)="null">
              </app-tag-history-car>
            </div>
          </div>
        </div>
      </div>

      <br>

      <app-list-item [BookingId]="$BookingId" [Mode]="ActionMode.Detail">
      </app-list-item>

      <table class="table invoice-total m-t-sm">
        <tbody>
          <tr>
            <td><strong>ยอดรวมเงินนำฝาก :</strong></td>
            <td>{{formGroup.get('price1').value | number:'1.2-2'}}</td>
          </tr>
          <tr>
            <td><strong>ยอดรวมภาษี :</strong></td>
            <td>{{formGroup.get('vatPrice1').value | number:'1.2-2'}}</td>
          </tr>
          <tr>
            <td><strong>ยอดรวมเงินที่ต้องยืม :</strong></td>
            <td>{{formGroup.get('price2').value | number:'1.2-2'}}</td>
          </tr>
          <tr>
            <td><strong>ยอดรวมทั้งหมด :</strong></td>
            <td>{{formGroup.get('totalPrice').value | number:'1.2-2'}}</td>
          </tr>
        </tbody>
      </table>

      <div class="row m-t-md" *ngIf="formGroup.get('bookingStatus').value != ConStatus.Cancel">
        <div class="col-sm-6">
          <button type="button" class="btn btn-info btn-outline" [routerLink]="['/ris/con-form-edit', code]">
            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
            แก้ไข
          </button>​</div>
        <div class="col-sm-6 text-right">
          <button class="btn btn-danger" type="button" [disabled]="formGroup.invalid" (click)="cancel()">
            ยกเลิกรายการ
          </button>
        </div>

      </div>

    </form>
  </div>
</div>