<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>บันทึกรับเรื่อง</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">หน้าแรก</a>
      </li>
      <li>งานทะเบียน</li>
      <li class="active">
        <strong>บันทึกรับเรื่องดำเนินการ</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2 text-right pull-right">
    <h3>&nbsp;</h3>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="ibox float-e-margins">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <div class="ibox-content">
        <h3>บันทึกการส่งเรื่องดำเนินการ</h3>
        <div class="hr-line-dashed"></div>
        <div class="row form-group">
          <div class="col-xs-6 col-lg-6">
            <div class="form-group"><label class="col-lg-3 control-label">วันที่ทำรายการ</label>
              <div class="col-lg-9">
                <span class="form-control disabled">{{displayLocalDate(formGroup.get('createDate').value)}}</span>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-lg-6">
            <div class="form-group"><label class="col-lg-3 control-label">พนักงาน</label>
              <div class="col-lg-9">
                <span class="form-control disabled">{{mUser?.name}}</span>
              </div>
            </div>
          </div>
        </div>


        <div class="row form-group">
          <div class="col-xs-6 col-lg-6">
            <div class="form-group">
              <label class="col-lg-3 control-label is-required">หมายเลขเครื่อง</label>
              <div class="col-lg-9">
                <span class="form-control disabled">{{formGroup.get('eNo').value}}</span>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-lg-6">
            <div class="form-group">
              <label class="col-lg-3 control-label is-required">หมายเลขตัวถัง</label>
              <div class="col-lg-9">
                <span class="form-control disabled">{{formGroup.get('fNo').value}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-12 text-center">
            <div class="form-group">
              <button class="btn btn-info" type="button" data-toggle="modal"
                data-target="#carHistory">ประวัติรถ</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="carHistory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog _dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">ประวัติรถ</h4>
            </div>
            <div class="modal-body">
              <app-tag-history-car (ENo)="formGroup.get('eNo').patchValue($event)"
                (FNo)="formGroup.get('fNo').patchValue($event)">
              </app-tag-history-car>
            </div>
          </div>
        </div>
      </div>

      <br>

      <app-list-item [Car]="$Car" [Mode]="ActionMode.Create" (TagListItem)="TagListItem$.next($event)"
        (TagHistory)="TagHistory$.next($event)">
      </app-list-item>

      <table class="table invoice-total m-t-sm">
        <tbody>
          <tr>
            <td><strong>ยอดรวมเงินนำฝาก :</strong></td>
            <td>{{formGroup.get('price1').value | number:'1.2-2'}}</td>
          </tr>
          <tr>
            <td><strong>ยอดรวมภาษี :</strong></td>
            <td>{{formGroup.get('vatPrice1').value | number:'1.2-2'}}</td>
          </tr>
          <tr>
            <td><strong>ยอดรวมเงินที่ต้องยืม :</strong></td>
            <td>{{formGroup.get('price2').value | number:'1.2-2'}}</td>
          </tr>
          <tr>
            <td><strong>ยอดรวมทั้งหมด :</strong></td>
            <td>{{formGroup.get('totalPrice').value | number:'1.2-2'}}</td>
          </tr>
        </tbody>
      </table>

      <div class="text-right m-t-md">
        <button class="btn btn-success" type="submit" [disabled]="formGroup.invalid || TagListItem$.value.length == 0">
          บันทึกรายการ
        </button>
      </div>

    </form>
  </div>
</div>