<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>บันทึกรับเรื่อง</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">หน้าแรก</a>
      </li>
      <li>งานทะเบียน</li>
      <li class="active">
        <strong>บันทึกรับเรื่องดำเนินการ</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2 text-right pull-right">
    <h3>&nbsp;</h3>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>บันทึกการส่งเรื่องดำเนินการ</h5>
      </div>
      <div class="ibox-content">
        <div class="row form-group">
          <div class="col-xs-6 col-lg-6">
            <div class="form-group"><label class="col-lg-4 control-label is-required">วันที่ทำรายการ</label>
              <div class="col-lg-8">
                <my-date-picker-th [options]="myDatePickerOptions" formControlName="bookingDate">
                </my-date-picker-th>
                <!-- <span class="form-control disabled">{{displayLocalDate(formGroup.get('createDate').value)}}</span> -->
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-lg-6">
            <div class="form-group"><label class="col-lg-4 control-label">พนักงาน</label>
              <div class="col-lg-8">
                <span class="form-control disabled">{{mUser?.fullName}}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-xs-6 col-lg-6">
            <div class="form-group">
              <label class="col-lg-4 control-label is-required">หมายเลขเครื่อง</label>
              <div class="col-lg-8">
                <input type="text" formControlName="eNo" class="form-control" readonly>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-lg-6">
            <div class="form-group">
              <label class="col-md-4 control-label is-required">หมายเลขตัวถัง</label>
              <div class="col-lg-8">
                <input type="text" formControlName="fNo" class="form-control" readonly>
              </div>
            </div>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-xs-6 col-lg-6">
            <div class="form-group"><label class="col-md-4 control-label">เลขทะเบียน</label>
              <div class="col-md-8"><input type="text" class="form-control" formControlName="tagNo" readonly />
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-lg-6">
            <div class="form-group"><label class="col-md-4 control-label">จังหวัด</label>
              <div class="col-md-8"><input type="text" class="form-control" formControlName="province" readonly />
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-6 col-lg-6">
            <div class="form-group"><label class="col-md-4 control-label is-required">ผู้ถือกรรมสิทธิ</label>
              <div class="col-md-8"><input type="text" class="form-control" formControlName="ownerName" readonly />
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-lg-6">
            <div class="form-group"><label class="col-md-4 control-label is-required">ผู้ติดต่อ</label>
              <div class="col-md-8"><input type="text" class="form-control" formControlName="visitorName" readonly />
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-6 col-lg-6">
            <div class="form-group"><label class="col-md-4 control-label">หมายเหตุ</label>
              <div class="col-md-8">
                <textarea formControlName="remark" rows="1" class="form-control"></textarea>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-lg-6"></div>
        </div>

        <div class="row form-group">
          <div class="col-xs-12 text-center">
            <div class="form-group">
              <button class="btn btn-info" type="button" data-toggle="modal"
                data-target="#carHistory" (click)="openHistory()">ประวัติรถ</button>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="carHistory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog _dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button> -->
            <h4 class="modal-title" id="myModalLabel">ประวัติรถ</h4>
          </div>
          <div class="modal-body">
            <app-tag-history-car [$BookingId]="$CarHistoryBookingId" (HistoryCar$)="historyCarChange($event)"
            [$ENo]="$ENo" [$FNo]="$FNo"></app-tag-history-car>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal"
              [disabled]="$HistoryCar.invalid" (click)="confirmHistory()">ตกลง</button>
          </div>
        </div>
      </div>
    </div>

    <app-list-item [Car]="$Car" [Mode]="ActionMode.Create" [Status1]="$Status1"
      (TagListItem)="TagListItem$.next($event)" (TagHistory)="TagHistory$.next($event)">
    </app-list-item>

    <table class="table invoice-total m-t-sm">
      <tbody>
        <tr>
          <td><strong>ยอดรวมเงินรับฝาก :</strong></td>
          <td>{{formGroup.get('price1').value | number:'1.2-2'}}</td>
        </tr>
        <tr>
          <td><strong>ยอดรวมค่าใช้จ่าย :</strong></td>
          <td>{{formGroup.get('price2').value | number:'1.2-2'}}</td>
        </tr>
        <tr>
          <td><strong>ค่าใช่จ่าย(เบิกเพิ่ม) :</strong></td>
          <td>{{formGroup.get('price3').value | number:'1.2-2'}}</td>
        </tr>
        <tr>
          <td><strong>ยอดรวมทั้งหมด :</strong></td>
          <td>{{formGroup.get('totalPrice').value | number:'1.2-2'}}</td>
        </tr>
      </tbody>
    </table>

    <div class="text-right m-t-md form-group">
      <button class="btn btn-success" type="submit" [disabled]="formGroup.invalid || TagListItem$.value.length == 0">
        บันทึกรายการ
      </button>
    </div>

  </form>
</div>