<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>บันทึกรับเรื่อง</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">หน้าแรก</a>
      </li>
      <li>งานทะเบียน</li>
      <li class="active">
        <strong>บันทึกรับเรื่องดำเนินการ</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2 text-right pull-right">
    <h3>&nbsp;</h3>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>บันทึกการส่งเรื่องดำเนินการ</h5>
      </div>
      <div class="ibox-content">
        <div class="row form-group">
          <div class="col-xs-6 col-lg-6">
            <div class="form-group"><label class="col-md-4 control-label">วันที่ทำรายการ</label>
              <div class="col-md-8">
                <my-date-picker-th [options]="myDatePickerOptions" formControlName="bookingDate">
                </my-date-picker-th>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-lg-6">
            <div class="form-group"><label class="col-md-4 control-label">พนักงาน</label>
              <div class="col-md-8">
                <span class="form-control disabled">{{formGroup.get('createName').value}}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-xs-6 col-lg-6">
            <div class="form-group"><label class="col-md-4 control-label">หมายเลขเครื่อง</label>
              <div class="col-md-8">
                <span class="form-control disabled">{{formGroup.get('eNo').value}}</span>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-lg-6">
            <div class="form-group"><label class="col-md-4 control-label">หมายเลขตัวถัง</label>
              <div class="col-md-8">
                <span class="form-control disabled">{{formGroup.get('fNo').value}}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-xs-6 col-lg-6">
            <div class="form-group"><label class="col-md-4 control-label is-required">เลขทะเบียน</label>
              <div class="col-md-8"><input type="text" class="form-control" readonly />
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-lg-6">
            <div class="form-group"><label class="col-md-4 control-label is-required">จังหวัด</label>
              <div class="col-md-8"><input type="text" class="form-control" readonly />
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-6 col-lg-6">
            <div class="form-group"><label class="col-md-4 control-label is-required">ผู้ถือกรรมสิทธิ</label>
              <div class="col-md-8"><input type="text" class="form-control" readonly />
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-lg-6">
            <div class="form-group"><label class="col-md-4 control-label is-required">ผู้ติดต่อ</label>
              <div class="col-md-8"><input type="text" class="form-control" readonly />
              </div>
            </div>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-xs-6 col-lg-6">
            <div class="form-group"><label class="col-md-4 control-label">หมายเหตุ</label>
              <div class="col-md-8">
                <textarea formControlName="remark" rows="1" class="form-control"></textarea>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-lg-6">
            <div class="form-group"><label class="col-md-4 control-label">สถานะ</label>
              <div class="col-md-8">
                <span class="form-control disabled">{{formGroup.get('statusDesc').value}}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-xs-12 text-center">
            <div class="form-group">
              <button class="btn btn-info" type="button" data-toggle="modal"
                data-target="#carHistory">ประวัติรถ</button>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="carHistory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog _dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">ประวัติรถ</h4>
              </div>
              <div class="modal-body">
                <app-tag-history-car></app-tag-history-car>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <app-list-item [BookingId]="$BookingId" [BookingStatus]="$BookingStatus" [Mode]="ActionMode.Edit"
      (TagListItem)="TagListItem$.next($event)" (TagHistory)="TagHistory$.next($event)"></app-list-item>

    <table class="table invoice-total">
      <tbody>
        <tr>
          <td><strong>ยอดรวมเงินรับฝาก :</strong></td>
          <td>{{formGroup.get('netPrice1').value | number:'1.2-2'}}</td>
        </tr>
        <!-- <tr>
              <td><strong>ยอดรวมภาษี :</strong></td>
              <td>{{formGroup.get('vatPrice1').value | number:'1.2-2'}}</td>
            </tr> -->
        <tr>
          <td><strong>ยอดรวมค่าใช้จ่าย :</strong></td>
          <td>{{formGroup.get('price2').value | number:'1.2-2'}}</td>
        </tr>
        <tr>
          <td><strong>ยอดรวมทั้งหมด :</strong></td>
          <td>{{formGroup.get('totalPrice').value | number:'1.2-2'}}</td>
        </tr>
      </tbody>
    </table>

    <div class="text-right form-group">
      <button class="btn btn-success" type="submit">บันทึกรายการ</button>
    </div>

  </form>
</div>