<div class="ibox float-e-margins">
  <div class="ibox-content">
    <div class="table-responseive">
      <table id="contractItem" class="table table-striped">
        <thead>
          <tr>
            <th class="text-center">ครั้งที่</th>
            <th class="text-center">กำหนดชำระ</th>
            <th class="text-center">ค่างวดไม่รวม VAT</th>
            <th class="text-center">VAT</th>
            <th class="text-center">ค่างวดรวม VAT</th>
            <!-- <th></th>
            <th></th>
            <th></th> -->
            <th class="text-center">ดอกผลเช่าซื้อต่องวดไม่รวม VAT</th>
            <th class="text-center">ค่าสินค้าไม่รวม VAT</th>
            <th class="text-center">ค่าสินค้าคงเหลือไม่รวม VAT</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of contractItemModel; let i=index;">
            <td class="text-center">{{ item.instalmentNo == 0 ? "เงินดาวน์" : item.instalmentNo}}</td>
            <td class="text-right">{{item.dueDate | date: 'dd-MM-yyyy'}}</td>
            <td class="text-right">{{item.balance | number:'1.2-2'}}</td>
            <td class="text-right">{{item.balanceVatPrice | number:'1.2-2'}}</td>
            <td class="text-right">{{item.balanceNetPrice | number:'1.2-2'}}</td>
            <!-- <td>{{item.remain | number:'1.2-2'}}</td>
            <td>{{item.remainVatPrice | number:'1.2-2'}}</td>
            <td>{{item.remainNetPrice | number:'1.2-2'}}</td> -->
            <td class="text-right">{{item.interestInstalment | number:'1.2-2'}}</td>
            <td class="text-right">{{item.goodsPrice | number:'1.2-2'}}</td>
            <td class="text-right">{{item.goodsPriceRemain | number:'1.2-2'}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th class="text-center">รวม</th>
            <th></th>
            <th class="text-right">{{balanchTotal | number:'1.2-2'}}</th>
            <th class="text-right">{{balanchVatTotal | number:'1.2-2'}}</th>
            <th class="text-right">{{balanchNetTotol | number}}</th>
            <!-- <th></th>
            <th></th>
            <th></th> -->
            <th class="text-right">{{interestTotal | number:'1.2-2'}}</th>
            <th class="text-right">{{goodPriceTotal | number:'1.2-2'}}</th>
            <th></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>