<div class="ibox float-e-margins">
  <div class="ibox-content">
    <div class="table-responseive">
      <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="5">
        <thead>
          <tr>
            <th>ครั้งที่</th>
            <th>กำหนดชำระ</th>
            <th>ยอดสุทธิ</th>
            <th>ยอดเงิน</th>
            <th>VAT</th>
            <th>VAT(%)</th>
            <th>หมายเหตุ</th>
            <th>ดอกผลเช่าซื้อต่องวด</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>