<table id="accessory" data-empty="There are no rows" class="footable table table-stripped toggle-arrow-tiny" data-page-size="5">
  <thead>
      <tr>
          <th data-toggle="true">ลำดับ</th>
          <th data-hide="phone">รหัสสินค้า</th>
          <th>รายการสินค้า</th>
          <th>จำนวน</th>
          <th data-hide="all">หน่วย</th>
          <th data-hide="all">ราคาก่อนภาษี</th>
          <th data-hide="all">ภาษี(%)</th>
          <th data-hide="all">ราคาภาษี</th>
          <th>ราคาขายต่อหน่วย</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of modelAccessory; let i=index">
          <td>{{i + 1}}</td>
          <td>{{item.partCode}}</td>
          <td>{{item.partName}}</td>
          <td>{{item.itemQty}}</td>
          <td>{{item.unitName}}</td>
          <td>{{item.sellNet}}</td>
          <td>{{item.sellVat}}</td>
          <td>{{item.sellVatPrice}}</td>
          <td>{{item.sellPrice}}</td>
      </tr>
  </tbody>
</table>