
<div class="row">
    <div class="col-sm-6 m-b-sm">
        <strong>วันที่จอง :</strong>
        {{modelBooking.bookingDate | date:'dd-MM-yyyy'}}
    </div>
    <div class="col-sm-6 m-b-sm">
        <strong>วันที่รับรถ :</strong>
        {{modelBooking.receiveDate | date:'dd-MM-yyyy'}}
    </div>
    <div class="col-sm-6 m-b-sm">
        <strong>รหัสลูกค้า :</strong>
        {{modelBooking.custCode}}
    </div>
    <div class="col-sm-6 m-b-sm">
        <strong>บัตรประชาชน :</strong>
        {{modelBooking.idCard}}
    </div>
    <div class="col-sm-6 m-b-sm">
        <strong>ชื่อ-นามสกุล :</strong>
        {{modelBooking.custFullName}}
    </div>
    <div class="col-sm-6 m-b-sm">
        <strong>เพศ :</strong>
        {{modelBooking.genderName}}
    </div>
    <div class="col-sm-6 m-b-sm">
        <strong>เบอร์ติดต่อ :</strong>
        {{modelBooking.contractNo}}
    </div>
    <div class="col-sm-6 m-b-sm">
        <strong>อีเมล์ :</strong>
        {{modelBooking.email}}
    </div>
    <div class="col-sm-12 m-b-sm">
        <strong>ที่อยู่ :</strong>
        {{modelBooking.address}}
    </div>
</div>
