<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>รายการสัญญา</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">หน้าแรก</a>
      </li>
      <li>
        <a>รายการสัญญา</a>
      </li>
    </ol>
  </div>
  <div class="col-lg-2 text-right pull-right">

  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="ibox">
    <div class="ibox-title">
      <h3>ค้นหาข้อมูลสัญญาเช่าซื้อ</h3>
    </div>
    <div class="ibox-content">
    
      <form action="" [formGroup]="formSearch">
        <div class="row form-group">
          <div class="col-xs-6 col-lg-6">
            <label class="col-lg-4 control-label">เลขที่สัญญา</label>
            <div class="col-lg-8">
              <input type="text" class="form-control" formControlName="contractNo">

            </div>
          </div>
          <div class="col-xs-6 col-lg-6">
            <label class="col-lg-4 control-label">วันที่ทำสัญญา</label>
            <div class="col-lg-8">
              <thai-mat-datepicker id="dp" formControlName="contractDate"></thai-mat-datepicker>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-6 col-lg-6">
            <label class="col-lg-4 control-label">สถานะสัญญา</label>
            <div class="col-lg-8">
              <ng-select formControlName="status" [items]="hpsDropdown" bindLabel="text" bindValue="value"></ng-select>
            </div>
          </div>
          <div class="col-xs-6 col-lg-6">

          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-6 col-lg-6">
            <label class="col-lg-4 control-label">ชื่อผู้เช่าซื้อ</label>
            <div class="col-lg-8">
              <input type="text" class="form-control" formControlName="hireName">
            </div>
          </div>
          <div class="col-xs-6 col-lg-6">
            <label class="col-lg-4 control-label">เลขบัตรประชาชน</label>
            <div class="col-lg-8">
              <input type="text" class="form-control" formControlName="hireIdCard">
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-6 col-lg-6">
            <label class="col-lg-4 control-label">เลขเครื่อง</label>
            <div class="col-lg-8">
              <input type="text" class="form-control" formControlName="eNo">
            </div>
          </div>
          <div class="col-xs-6 col-lg-6">
            <label class="col-lg-4 control-label">เลขโครง</label>
            <div class="col-lg-8">
              <input type="text" class="form-control" formControlName="fNo">
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-6 col-lg-6">
            <label class="col-lg-4 control-label">กลุ่มสัญญา</label>
            <div class="col-lg-8">
              <ng-select formControlName="contractGroup" [items]="groupDropdown" bindLabel="text" bindValue="value">
              </ng-select>
            </div>
          </div>
          <div class="col-xs-6 col-lg-6">
            <label class="col-lg-4 control-label">ประเภทสัญญา</label>
            <div class="col-lg-8">
              <ng-select formControlName="contractType" [items]="typeDropdown" bindLabel="text" bindValue="value">
              </ng-select>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-6 col-lg-6">
            <label class="col-lg-4 control-label">จุดทำสัญญา</label>
            <div class="col-lg-8">
              <ng-select formControlName="contractPoint" [items]="zoneDropdown" bindLabel="text" bindValue="value">
              </ng-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-right">
            <button type="button" class="btn btn-info" (click)="onSearch()">
              <i class="fa fa-search" aria-hidden="true"></i>
              ค้นหา
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>


  <div class="ibox">
    <div class="ibox-content">
      <table class="table table-hover nowrap set-dataTable" cellspacing="0">
        <thead>
          <tr>
            <th>ประเภทการซื้อ</th>
            <th>เลขที่สัญญา</th>
            <th>สถานะสัญญา</th>
            <th>รายละเอียด</th>
            <th>แก้ไขสัญญา</th>
            <th></th>
            <th></th>
            <th>วันที่ทำสัญญา</th>
            <th>ผู้เช่าซื้อ</th>
            <th>เลขบัตรประชาชน</th>
            <th>กลุ่มสัญญา</th>
            <th>ประเภทสัญญา</th>
            <th>จุดทำสัญญา</th>
            <th>เขตการเก็บเงิน</th>
            <th>ข้อมูลรถ</th>
            <th>เลขเครื่อง</th>
            <th>เลขโครง</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of contractListModel">
            <td class="text-center" [ngSwitch]="item.bookingPaymentType">
              <div *ngSwitchCase="3" style="margin:auto; padding:5px; color:#fff; background:#1E90FF;">
                เช่าซื้อ</div>
              <div *ngSwitchCase="4" style="margin:auto; padding:5px; color:#fff; background:#6A5ACD;">
                ขายเชื่อ</div>
            </td>
            <td>{{item.contractNo}}</td>
            <td [ngClass]="{'text-navy': item.contractStatus == 32, 
                        'text-warning': item.contractStatus == 31,
                        'text-success': item.contractStatus == 30 }">{{item.statusDesc}}</td>
            <td>
              <a class="btn btn-info btn-xs" (click)="gotoDetail(item.contractId)">
                <i class="fa fa-file-text-o"></i>
                รายละเอียด</a>
            </td>
            <td [ngSwitch]="item.contractStatus">
              <a *ngSwitchCase="32" (click)="gotoCreateContract(item.contractId)" class="btn btn-success btn-xs">
                <i class="fa fa-pencil"></i>
                อนุมัติสัญญา
              </a>
              <a *ngSwitchCase="31" (click)="gotoEditContract(item.contractId)" class="btn btn-success btn-xs">
                <i class="fa fa-pencil"></i>
                แก้ไขสัญญา
              </a>
            </td>
            <td [ngSwitch]="true">
              <a *ngSwitchCase="item.contractStatus == 29 || item.contractStatus == 30"
                (click)="gotoPayment(item.contractId)" class="btn btn-info btn-outline btn-xs">
                <i class="fa fa-history"></i>
                ประวัติการชำระ
              </a>
              <a *ngSwitchCase="item.contractStatus == 31" (click)="gotoPayment(item.contractId)"
                class="btn btn-primary btn-outline btn-xs">
                <i class="fa fa-money"></i>
                ชำระค่างวด
              </a>
              <a *ngSwitchCase="item.contractStatus == 32" (click)="gotoReviceCalculate(item.calculateId)"
                class="btn btn-success btn-xs">
                <i class="fa fa-pencil"></i>
                แก้ไขค่างวด
              </a>
            </td>
            <td [ngSwitch]="item.contractStatus">
              <a *ngSwitchCase="32" class="btn btn-warning btn-xs" (click)="gotoCanceled(item.contractId)">
                <i class="fa fa-pencil"></i>
                ยกเลิกรายการ
              </a>
            </td>
            <td>{{setLocalDate(item.contractDate)}}</td>
            <td>{{item.hireFullName}}</td>
            <td>{{item.hireIdCard}}</td>
            <td>{{item.contractGroup}}</td>
            <td>{{item.contractType}}</td>
            <td>{{item.contractPoint}}</td>
            <td>{{item.areaPayment}}</td>
            <td>ยี่ห้อ: {{item.brand}} สี: {{item.color}} รุ่น: {{item.model}}</td>
            <td>{{item.engineNo}}</td>
            <td>{{item.frameNo}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>