<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-4">
    <h2>รายการบันทึกรับสินค้า</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">หน้าแรก</a>
      </li>
      <li>จัดซื้อ</li>
      <li class="active">
        <strong>รายการบันทึกรับสินค้า (อะไหล่)</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-8 text-right pull-right">
    <h3>&nbsp;</h3>
    <a [routerLink]="['/pss/pss-stock-receive-create']" class="btn btn-success" style="width: 220px;">
      <i class="fa fa-paper-plane-o"></i> บันทึกรับสินค้า (อะไหล่)
    </a>
    <h3>&nbsp;</h3>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">


  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <form class="form-horizontal" style="margin-bottom: 15em;">
        <table class="table table-stripped table-hover display nowrap set-dataTable" style="width: 100%;">
          <thead>
            <tr>
              <th class="text-center">ลำดับ</th>
              <th></th>
              <th>เลขที่ใบรับสินค้า</th>
              <th>วันที่รับ</th>
              <th>ประเภท</th>
              <th>สถานนะ</th>
              <th>หมายเหตุ</th>
              <th>ผู้ทำรายการ</th>
              <th>วันที่ทำรายการ</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="list.length == 0; else else_tr;">
              <td colspan="11" class="text-center">
                <div [ngSwitch]="loading">
                  <div *ngSwitchCase="1">
                    <i class="fa fa-exclamation-circle fa-2x" aria-hidden="true"></i>
                    <br>
                    <p>ไม่มีข้อมูล</p>
                  </div>
                  <div *ngSwitchCase="2">
                    <i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i>
                    <br>
                    <p>มีบางอย่างผิดพลาด</p>
                  </div>
                  <div *ngSwitchDefault>
                    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                    <br>
                    <p>รอสักครู่...</p>
                  </div>
                </div>
              </td>
            </tr>
            <ng-template #else_tr>
              <tr *ngFor="let item of list; let i = index">
                <td class="text-center">{{i+1}}</td>
                <td class="text-center">

                  <a class="btn btn-info btn-outline btn-xs" *ngIf="item.receive_type == '3'"
                    [routerLink]=" ['/pss/pss-stock-receive-detail', item.receive_no]">
                    <i class="fa fa-info-circle"></i>
                    รายละเอียด
                  </a>
                </td>
                <td>{{item.receive_no}}</td>
                <td>{{displayLocalDate(item.receive_date)}}</td>
                <td>{{item.receive_type_name}}</td>
                <td>{{item.receive_status_name}}</td>
                <td>{{item.remark}}</td>
                <td>{{item.create_name}}</td>
                <td>{{displayLocalDate(item.create_date)}}</td>

              </tr>
            </ng-template>

          </tbody>
        </table>

      </form>
    </div>
  </div>

</div>