<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>บันทึกรับสินค้า</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">หน้าแรก</a>
      </li>
      <li>จัดซื้อ</li>
      <li class="active">
        <strong>บันทึกรับสินค้า</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2 text-right pull-right">
    <h3>&nbsp;</h3>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <form class="form-horizontal" style="margin-bottom: 15em;" autocomplete="off" [formGroup]="formGroup">

    <div class="ibox float-e-margins">
      <div class="ibox-content">

        <div class="row">

          <div class="col-md-4">
            <label for="receive_no" class="col-md-4 control-label">เลขที่ใบรับ</label>
            <div class="col-md-8">
              <input type="text" class="form-control" formControlName="receive_no">
            </div>
          </div>

          <div class="col-md-4">
            <label class="col-md-4 control-label">ผู้รับสินค้า</label>
            <div class="col-md-8">
              <ng-select [items]="AC_User" bindLabel="text" bindValue="value" placeholder="ผู้รับสินค้า"
                formControlName="receive_id">
              </ng-select>

            </div>
          </div>

          <div class="col-md-4">
            <label class="col-md-4 control-label is-required">วันที่รับ</label>
            <div class="col-md-8">
              <span class="form-control disabled">
                {{displayLocalDate(formGroup.get('receive_date').value)}}
              </span>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-md-4">
            <label class="col-md-4 control-label">เลขที่ใบส่งของ</label>
            <div class="col-md-8">
              <input type="text" class="form-control" formControlName="delivery_code">
            </div>
          </div>


          <div class="col-md-4">
            <label class="col-md-4 control-label is-required">ผู้จำหน่าย</label>
            <div class="col-md-8">
              <ng-select [items]="AC_Dealer" bindLabel="text" bindValue="value" placeholder="ผู้จำหน่าย"
                formControlName="dealer_code">
              </ng-select>
            </div>
          </div>

          <div class="col-md-4">
            <label class="col-md-4 control-label is-required">วันที่ส่งของ</label>
            <div class="col-md-8">
              <span class="form-control disabled">
                {{displayLocalDate(formGroup.get('delivery_date').value)}}
              </span>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-md-4">
            <label class="col-md-4 control-label">ประเภท</label>
            <div class="col-md-8">
              <ng-select [items]="AC_Type" bindLabel="txt" bindValue="id" placeholder="ประเภท"
                formControlName="receive_type">
              </ng-select>
            </div>
          </div>

          <div class="col-md-4">
            <label class="col-md-4 control-label">สถานะ</label>
            <div class="col-md-8">
              <ng-select [items]="AC_Status" bindLabel="txt" bindValue="id" placeholder="สถานะ"
                formControlName="receive_status">
              </ng-select>
            </div>
          </div>

          <div class="col-md-4">
            <label class="col-md-4 control-label">หมายเหตุ</label>
            <div class="col-md-8">
              <textarea class="form-control" formControlName="remark"></textarea>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <table id="Item" class="table table-stripped table-hover nowrap detail-dataTable" [formGroup]="formGroup">
          <thead>
            <tr>
              <th>ลำดับ</th>
              <th>เลขที่ใบสั่งซื้อ</th>
              <th>เลขที่ใบกำกับภาษี</th>
              <th>รุ่น</th>
              <th>หมายเลขอะไหล่</th>
              <th>ชื่ออะไหล่</th>

              <th>จำนวนรับ</th>
              <th>ราคา</th>

              <th>สถานที่เก็บ</th>
              <th>ตำแหน่งคลัง</th>

            </tr>
          </thead>
          <tbody formArrayName="detail">

            <tr *ngIf="DetailList.length == 0; else else_tr_detail;">
              <td colspan="10" class="text-center">
                <div [ngSwitch]="loading">
                  <div *ngSwitchCase="LoadingEnt.noRecord">
                    <i class="fa fa-exclamation-circle fa-2x" aria-hidden="true"></i>
                    <br>
                    <p>ไม่มีข้อมูล</p>
                  </div>
                  <div *ngSwitchCase="LoadingEnt.error">
                    <i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i>
                    <br>
                    <p>มีบางอย่างผิดพลาด</p>
                  </div>
                  <div *ngSwitchDefault>
                    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                    <br>
                    <p>รอสักครู่...</p>
                  </div>
                </div>
              </td>
            </tr>
            <ng-template #else_tr_detail>
              <tr *ngFor="let detailitem of DetailList.controls; let idetail=index;" [formGroupName]="idetail">
                <td class="text-center">{{idetail+1}}</td>

                <td>{{detailitem.get('invoice_no').value}}</td>
                <td>{{detailitem.get('tax_invoice_no').value}}</td>
                <td>{{detailitem.get('model_code').value}}</td>
                <td>{{detailitem.get('part_code').value}}</td>
                <td>{{detailitem.get('part_name').value}}</td>
                <td>{{detailitem.get('receive_qty').value}}</td>

                <td>{{detailitem.get('cost_exc_vat').value | number:'1.2-2'}}</td>
                <td>{{detailitem.get('branch_code').value}}</td>
                <td>{{detailitem.get('whl_code').value}}</td>

              </tr>
            </ng-template>
          </tbody>
        </table>

      </div>
    </div>

    <table class="table invoice-total m-t-sm">
      <tbody>
        <tr>
          <td><strong>รวมมูลค่าสินค้า :</strong></td>
          <td>{{formGroup.get('cost_exc_vat').value | number:'1.2-2'}}</td>
        </tr>
        <tr>
          <td><strong>ภาษีมูลค่าเพิ่ม {{formGroup.get('vat_rate').value}} % :</strong></td>
          <td>{{formGroup.get('cost_vat').value | number:'1.2-2'}}</td>
        </tr>
        <tr>
          <td><strong>ยอดรวมสุทธิ :</strong></td>
          <td>{{formGroup.get('cost_total').value | number:'1.2-2'}}</td>
        </tr>
      </tbody>
    </table>

  </form>

</div>