<div class="row wrapper border-bottom page-heading">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-3" *ngFor="let item of legends; let i=index">
                <div class="ibox ">
                    <div class="ibox-title">
                        <span [style.background-color]="item.color" class="label pull-right">&nbsp;</span>
                        <h5>{{item.name}}</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{item.totalPrice | number:'1.2-2'}}</h1>
                        <strong>บาท</strong>
                    </div>
                    <div class="ibox-footer">
                        <div class="stat-percent font-bold" [style.color]="item.color">{{item.itemAmount | number}} คัน
                        </div>
                        จำนวน
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <table class="table small m-t-sm">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="text-right">จำนวนคัน</th>
                            <th class="text-right">จำนวนราคา</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of bookingPayMentType">
                            <td><strong>{{item.name}}</strong></td>
                            <td class="text-right">
                                <strong>{{item.itemAmount | number}}</strong>
                            </td>
                            <td class="text-right">
                                <strong>{{item.totalPrice | number:'1.2-2'}}</strong>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="flot-chart m-b-md">
                    <div flotChart class="flot-chart-content" [options]="flotOptions" [dataset]="flotDataset"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

                <div class="ibox">
                    <div class="ibox-content">
                        <table id="bookingDetail" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ลำดับ</th>
                                    <th style="width: 150px">วันที่จอง</th>
                                    <th style="width: 100px">เลขที่ใบจอง</th>
                                    <th style="width: 150px">ชื่อผู้จอง</th>
                                    <th style="width: 150px">สาขา</th>
                                    <th style="width: 150px">มูลค่าสินค้า(ก่อน VAT)</th>
                                    <th style="width: 150px">ประเภทการชำระเงิน</th>
                                    <th style="width: 100px">สถานะ</th>
                                    <th style="width: 100px">ยี่ห้อ</th>
                                    <th style="width: 100px">ประเภท</th>
                                    <th style="width: 150px">โมเดล</th>
                                    <th style="width: 100px">สี</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of bookingDetail; let i=index;">
                                    <td>{{i+1}}</td>
                                    <td>{{item.bookingDate | date:'dd-MM-yyyy'}}</td>
                                    <td>{{item.bookingNo}}</td>
                                    <td>{{item.bookingFullName}}</td>
                                    <td>{{item.branchName}}</td>
                                    <td>{{item.bookSellPrice | number:'1.2-2'}}</td>
                                    <td>{{item.bookingPaymentTypeDesc}}</td>
                                    <td>{{item.bookingStatus}}</td>
                                    <td>{{item.brandName}}</td>
                                    <td>{{item.typeName}}</td>
                                    <td>{{item.modelCode}}</td>
                                    <td>{{item.colorName}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="" class="open-config">
        <a class="open-small-chat" data-toggle="modal" data-target="#modalConfig">
            <i class="fas fa-cog fa-lg fa-spin"></i>
        </a>
    </div>

    <div class="modal inmodal" id="modalConfig" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content animated fadeIn">
                <form action="" #f="ngForm">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <i class="fa fa-clock-o modal-icon"></i>
                        <h4>ค้นหาข้อมูลวันที่จอง</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ระหว่างวันที่</label>
                            <input type="date" name="startDate" ngModel class="form-control">
                        </div>
                        <div class="form-group">
                            <label>ถึงวันที่</label>
                            <input type="date" name="endDate" ngModel class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onSubmit(f.value)" [disabled]="!f.valid">ยืนยัน</button>
                        <button type="button" class="btn btn-white" data-dismiss="modal">ยกเลิก</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>