<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>รอจดทะเบียน</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">หน้าแรก</a>
      </li>
      <li>งานทะเบียน</li>
      <li class="active">
        <strong>รายการรอจดทะเบียน</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2 text-right pull-right">
    <h3>&nbsp;</h3>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="ibox">
    <div class="ibox-title">
      <h3>ค้นหาข้อมูลรอจดทะเบียน</h3>
    </div>
    <div class="ibox-content">
      <form action="" [formGroup]="formSearch">
        <div class="row form-group">
          <div class="col-xs-6 col-lg-6">
            <label class="col-lg-4 control-label">ประเภทการซื้อ</label>
            <div class="col-lg-8">
              <div formArrayName="bookingPaymentType" *ngFor="let item of bookingPaymentType.controls; let i = index;"
                class="checkbox checkbox-info checkbox-inline">
                <input type="checkbox" [formControlName]="i" id="bt{{i}}" value="{{BookingPaymentTypeList[i].id}}">
                <label for="bt{{i}}">{{BookingPaymentTypeList[i].name}}</label>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-lg-6">
            <label class="col-lg-4 control-label">เลขที่ใบขาย</label>
            <div class="col-lg-8">
              <input type="text" class="form-control" formControlName="sellNo">
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-6 col-lg-6">
            <label class="col-lg-4 control-label">ผู้ถือกรรมสิทธิ</label>
            <div class="col-lg-8">
              <input type="text" class="form-control" formControlName="regisName">
            </div>
          </div>
          <div class="col-xs-6 col-lg-6">
            <label class="col-lg-4 control-label">ผู้ครอบครอง</label>
            <div class="col-lg-8">
              <input type="text" class="form-control" formControlName="bookName">
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-6 col-lg-6">
            <label class="col-lg-4 control-label">เลขที่บัตรประชาชน</label>
            <div class="col-lg-8">
              <input type="text" class="form-control" formControlName="bookIdCard">
            </div>
          </div>
          <div class="col-xs-6 col-lg-6">
            <label class="col-lg-4 control-label">เลขเครื่อง</label>
            <div class="col-lg-8">
              <input type="text" class="form-control" formControlName="eNo">
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-6 col-lg-6">
            <label class="col-lg-4 control-label">เลขโครง</label>
            <div class="col-lg-8">
              <input type="text" class="form-control" formControlName="fNo">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-right">
            <button type="button" class="btn btn-info" (click)="onSearch()">
              <i class="fa fa-search" aria-hidden="true"></i>
              ค้นหา
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <table class="table table-stripped table-hover display nowrap set-dataTable" style="width: 100%;">
        <thead>
          <tr>
            <th class="text-center">ลำดับ</th>
            <th>ประเภทการซื้อ</th>
            <th>เลขที่ใบขาย</th>
            <th>เลขที่ใบจอง</th>
            <th>รับเรื่องจดทะเบียน</th>
            <th>ผู้ถือกรรมสิทธิ</th>
            <th>ผู้ครอบครอง</th>
            <th>บัตรประชาชน</th>
            <th>เบอร์ติดต่อ</th>
            <th>หมายเลขเครื่อง</th>
            <th>หมายเลขตัวถัง</th>
            <th>มูลค่าสินค้า</th>
            <th>วันที่ทำรายการ</th>
            <th>ผู้ที่ทำรายการ</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="waitingList.length == 0; else else_tr;">
            <td colspan="14" class="text-center">
              <div [ngSwitch]="loading">
                <div *ngSwitchCase="1">
                  <i class="fa fa-exclamation-circle fa-2x" aria-hidden="true"></i>
                  <br>
                  <p>ไม่มีข้อมูล</p>
                </div>
                <div *ngSwitchCase="2">
                  <i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i>
                  <br>
                  <p>มีบางอย่างผิดพลาด</p>
                </div>
                <div *ngSwitchCase="0">
                  <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                  <br>
                  <p>รอสักครู่...</p>
                </div>
              </div>
            </td>
          </tr>
          <ng-template #else_tr>
            <tr *ngFor="let item of waitingList; let i = index">
              <td class="text-center" [attr.data-order]="i">{{i+1}}</td>
              <td class="text-center">
                <div class="payment-type" [ngClass]="{
                'cash': item.bookingPaymentType == BookingPaymentType.Cash,
                'leasing': item.bookingPaymentType == BookingPaymentType.Leasing,
                'hier-purchase': item.bookingPaymentType == BookingPaymentType.HierPurchase,
                'credit': item.bookingPaymentType == BookingPaymentType.Credit
              }">
                  {{item.paymentTypeDesc}}
                </div>
              </td>
              <td>{{item.sellNo}}</td>
              <td>{{item.bookingNo}}</td>
              <td>
                <a class="btn btn-info btn-xs" [routerLink]="['/ris/con-form-create', item.sellNo]">
                  <i class="fa fa-pencil"></i> บันทึกรับเรื่อง
                </a>
              </td>
              <td>{{item.ownerFullName}}</td>
              <td>{{item.hireFullName}}</td>
              <td>{{item.bookIdCard}}</td>
              <td>{{item.bookContractNo}}</td>
              <td>{{item.eNo}}</td>
              <td>{{item.fNo}}</td>
              <td [attr.data-order]="item.bookNetPrice" class="text-right">{{item.bookNetPrice | number:'1.2-2':'en-US'}}</td>
              <td [attr.data-order]="i">
                {{displayLocalDate(item.sellDate)}}
              </td>
              <td>{{item.sellName}}</td>
            </tr>
          </ng-template>

        </tbody>
      </table>
    </div>
  </div>
</div>