<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>คำนวณค่างวด</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">หน้าแรก</a>
            </li>
            <li>
                <a>สินเชื่อ</a>
            </li>
            <li class="active">
                <strong>คำนวณค่างวด</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2 text-right pull-right">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-md-6">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form autocomplete="off" class="form-horizontal" #f="ngForm" (ngSubmit)="onSubmit()">
                        <input type="hidden" name="bookingId" required [(ngModel)]="model.bookingId">

                        <div class="row form-group">
                            <label for="" class="col-md-4 control-label">
                                ราคาสินค้า (รวม VAT) :
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-4">
                                <input type="number" min="0.00" required [(ngModel)]="model.netPrice" name="netPrice" class=form-control readonly>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label for="" class="col-md-4 control-label">
                                เงินดาวน์ :
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input type="number" required [(ngModel)]="model.depositPrice" name="depositPrice" class="form-control" min="0.00" (keyup)="onChangeDepositPrice(); instalmentCalculate();">

                                    <span class="input-group-addon">บาท</span>
                                </div>
                            </div>

                            <label for="" class="col-md-1 control-label">
                                หรือ
                            </label>
                            <div class="col-lg-3 col-md-4">
                                <div class="input-group">
                                    <input type="number" required [(ngModel)]="model.deposit" name="deposit" class="form-control number" (keyup)="onChangeDeposit(); instalmentCalculate();"
                                        min="0.00">
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label for="" class="col-md-4 control-label">
                                ระยะเวลาผ่อนชำระ :
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-4">
                                <ng-select [items]="instalmentEnd" bindValue="value" bindLabel="text" required [(ngModel)]="model.instalmentEnd" name="instalmentEnd"
                                    (change)="instalmentCalculate()">
                                </ng-select>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label for="" class="col-md-4 control-label">
                                อัตราดอกเบี้ยต่อปี :
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input type="number" required [(ngModel)]="model.interest" name="interest" class="form-control number" min="0.00" (keyup)="instalmentCalculate()">
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label for="" class="col-md-4 control-label">
                                ยอดจัด (รวม VAT) :
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-4">
                                <input type="number" min="0.00" required [(ngModel)]="model.remain" name="remain" class="form-control" readonly>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label for="" class="col-md-4 control-label">
                                ค่างวด (รวม VAT) :
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-4">
                                <input type="number" required [(ngModel)]="model.instalmentPrice" min="0.00" name="instalmentPrice" class="form-control"
                                    readonly>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label for="" class="col-md-4 control-label">
                                ชำระงวดแรก :
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-4">
                                <input type="date" required [(ngModel)]="model.firstPayment" name="firstPayment" class="form-control" (change)="instalmentCalculate()">
                            </div>
                        </div>

                        <div class="row form-group ">
                            <label for="" class="col-md-4 control-label">
                                ชำระทุกวันที่ :
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-4">
                                <ng-select [items]="dueDate" bindValue="value" bindLabel="text" required [(ngModel)]="model.dueDate" name="dueDate" (change)="instalmentCalculate()">
                                </ng-select>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label for="" class="col-md-4 control-label">
                                Vat ณ วันที่ทำสัญญา :
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input type="number" min="0" required [(ngModel)]="model.nowVat" name="nowVat" class="form-control" (keyup)="instalmentCalculate()"
                                        (change)="instalmentCalculate()" disabled>
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label for="" class="col-md-4 control-label">
                                I.R.R. :
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input type="number" min="0" required [(ngModel)]="model.irr" name="irr" class="form-control" disabled>
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8"></div>
                            <div class="col-md-4">
                                <button type="submit" [disabled]="!f.valid" class="btn btn-primary pull-right">
                                    <i class="fa fa-save"></i>&nbsp;&nbsp;บันทึก และดำเนินการต่อ
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-sm-6 pull-right text-right">
                    <h4 #thenBlock class="m-b-xs">เลขที่ใบจอง</h4>
                    <h3 class="no-margins text-navy" style="font-weight: normal">{{bookingNo}}</h3>
                </div>
            </div>

            <div class="ibox none-ibox float-e-margins">
                <div class="ibox-title">
                    <h5>ข้อมูลผู้จอง</h5>
                    <iboxtools></iboxtools>
                </div>
                <div class="ibox-content">
                    <app-ex-detail-customer></app-ex-detail-customer>
                </div>
            </div>


            <div class="ibox none-ibox float-e-margins">
                <div class="ibox-title">
                    <h5>ข้อมูลรถ</h5>
                    <iboxtools></iboxtools>
                </div>
                <div class="ibox-content">
                    <app-ex-detail-motobike></app-ex-detail-motobike>
                </div>
            </div>

            <div class="ibox none-ibox float-e-margins">
                <div class="ibox-title">
                    <h5>ของแถม</h5>
                    <iboxtools></iboxtools>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <app-ex-detail-accessory></app-ex-detail-accessory>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-contract-item [contractItemModel]="[]"></app-contract-item>
</div>