<!-- <form class="form-horizontal col-md-12">

  <div class="row">
    <label for="" class="col-md-3 col-sm-4 control-label">อุปกรณ์เสริม :</label>
    <div class="form-group col-sm-7">
      <ng-select [items]="premium"
          [(ngModel)]="selectedPremium"
          name="searchPersonal"
          placeholder="ค้นหา อุปกรณ์เสริม"
          bindLabel="partName"
          bindValue="itemId"
          [typeahead]="accessoryTypeahead"
          (ngModelChange)="onChangeAccessory()">
      </ng-select>
    </div>
  </div>

  <div class="table-responsive">
    <table appFootable class="footable table table-stripped toggle-arrow-tiny" data-page-size="5">
      <thead>
        <tr>
          <th data-toggle="true">ลำดับ</th>
          <th>สินค้า</th>
          <th>จำนวน</th>
          <th>ราคาขายจริง</th>
          <th>ส่วนลด/บาท</th>
          <th>ภาษีมูลค่าเพิ่ม/บาท</th>
          <th>ราคารวม</th>
          <th data-hide="all">รหัสสินค้า</th>
          <th data-hide="all">ประเภท</th>
          <th data-hide="all">ยี่ห้อ</th>
          <th data-hide="all">ราคาขาย</th>
          <th data-hide="all">ส่วนลด/%</th>
          <th data-hide="all">ภาษีมูลค่าเพิ่ม/%</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>หมวกกันน๊อกเต็มใบ</td>
          <td>1</td>
          <td>1,000</td>
          <td>0</td>
          <td>0</td>
          <td>1,000</td>
          <td>x00d</td>
          <td>อุปกรณ์เสริม</td>
          <td>Honda</td>
          <td>900</td>
          <td>0%</td>
          <td>0%</td>
        </tr>
        <tr>
          <td>2</td>
          <td>หมวกกันน๊อกเต็มใบ</td>
          <td>1</td>
          <td>1,000</td>
          <td>0</td>
          <td>0</td>
          <td>1,000</td>
          <td>x00d</td>
          <td>อุปกรณ์เสริม</td>
          <td>Honda</td>
          <td>900</td>
          <td>0%</td>
          <td>0%</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5">
            <ul class="pagination pull-right"></ul>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

  <div class="hr-line-dashed"></div>

  <div class="row">
    <label for="" class="col-md-3 col-sm-4 control-label">ของแถม :</label>
    <div class="form-group col-sm-7">
      <ng-select [items]="premium"
          [(ngModel)]="selectedPremium"
          name="searchPersonal"
          placeholder="ค้นหา ของแถม"
          bindLabel="partName"
          bindValue="itemId"
          [typeahead]="accessoryTypeahead"
          (ngModelChange)="onChangeAccessory()">
      </ng-select>
    </div>
  </div>
  <div class="table-responsive">
    <table appFootable class="footable table table-stripped toggle-arrow-tiny" data-page-size="5">
      <thead>
        <tr>
          <th data-toggle="true">ลำดับ</th>
          <th>สินค้า</th>
          <th>จำนวน</th>
          <th>ราคาขายจริง</th>
          <th>ส่วนลด/บาท</th>
          <th>ภาษีมูลค่าเพิ่ม/บาท</th>
          <th>ราคารวม</th>
          <th data-hide="all">รหัสสินค้า</th>
          <th data-hide="all">ประเภท</th>
          <th data-hide="all">ยี่ห้อ</th>
          <th data-hide="all">ราคาขาย</th>
          <th data-hide="all">ส่วนลด/%</th>
          <th data-hide="all">ภาษีมูลค่าเพิ่ม/%</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>หมวกกันน๊อกเต็มใบ</td>
          <td>1</td>
          <td>1,000</td>
          <td>0</td>
          <td>0</td>
          <td>1,000</td>
          <td>x00d</td>
          <td>อุปกรณ์เสริม</td>
          <td>Honda</td>
          <td>900</td>
          <td>0%</td>
          <td>0%</td>
        </tr>
        <tr>
          <td>2</td>
          <td>หมวกกันน๊อกเต็มใบ</td>
          <td>1</td>
          <td>1,000</td>
          <td>0</td>
          <td>0</td>
          <td>1,000</td>
          <td>x00d</td>
          <td>อุปกรณ์เสริม</td>
          <td>Honda</td>
          <td>900</td>
          <td>0%</td>
          <td>0%</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5">
            <ul class="pagination pull-right"></ul>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

</form> -->