<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>บันทึกคืนสินค้า</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">หน้าแรก</a>
      </li>
      <li>PSS</li>
      <li class="active">
        <strong>บันทึกคืนสินค้า</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2 text-right pull-right">
    <h3>&nbsp;</h3>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <form class="form-horizontal" style="margin-bottom: 15em;" autocomplete="off" [formGroup]="formGroup">

    <div class="ibox float-e-margins">
      <div class="ibox-content">

        <div class="row form-group">

          <div class="col-md-4">
            <label for="receive_no" class="col-md-4 control-label">เลขที่ใบคืน</label>
            <div class="col-md-8">
              <input type="text" class="form-control" formControlName="return_no">
            </div>
          </div>

          <div class="col-md-4">
            <label class="col-md-4 control-label is-required">วันที่คืน</label>
            <div class="col-md-8">
              <thai-mat-datepicker id="return_date" name="return_date" formControlName="return_date">
              </thai-mat-datepicker>
            </div>
          </div>

          <div class="col-md-4">
            <label class="col-md-4 control-label is-required">ผู้จำหน่าย</label>
            <div class="col-md-8">
              <ng-select [items]="AC_Dealer" bindLabel="text" bindValue="value" placeholder="ผู้จำหน่าย"
                formControlName="dealer_code">
              </ng-select>
            </div>
          </div>

        </div>

        <div class="row form-group">

          <div class="col-md-4">
            <label class="col-md-4 control-label is-required">เลขที่ใบรับ</label>
            <div class="col-md-6">
              <!-- <ng-select [items]="AC_Receive" bindLabel="receive_no" bindValue="receive_no" placeholder="เลขที่ใบรับ"
                formControlName="receive_no">
              </ng-select> -->
              <input type="text" class="form-control" formControlName="receive_no">
            </div>
            <div class="col-md-2" style="padding:0;">
              <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#receive"
                (click)="search_receive()">
                <i class="fa fa-search"></i></button>
            </div>
          </div>

          <div class="col-md-4">
            <label class="col-md-4 control-label is-required">วันที่รับ</label>
            <div class="col-md-8 disabled">
              <!-- <thai-mat-datepicker id="receive_date" name="receive_date" formControlName="receive_date" >
              </thai-mat-datepicker> -->
              <span class="form-control disabled">
                {{displayLocalDate(formGroup.get('receive_date').value)}}
              </span>
            </div>
          </div>

          <div class="col-md-4">
            <label class="col-md-4 control-label">หมายเหตุ</label>
            <div class="col-md-8">
              <textarea class="form-control" formControlName="remark"></textarea>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <table id="Item" class="table table-stripped table-hover nowrap detail-dataTable" [formGroup]="formGroup">
          <thead>
            <tr>
              <th style="width: 5px;">ลำดับ</th>
              <th style="width: 5px;"></th>
              <th style="width: 100px;">รหัสสินค้า</th>
              <th style="width: 250px;">รายการ</th>
              <th style="width: 100px;">ใบกำกับภาษี</th>
              <th style="width: 100px;">ราคาซื้อ</th>
              <th style="width: 100px;">จำนวนคงเหลือ</th>
              <th style="width: 100px;">จำนวนส่งคืน</th>
              <th style="width: 100px;">ราคาทุน</th>
              <th style="width: 100px;">เป็นเงิน</th>
            </tr>
          </thead>
          <tbody formArrayName="detail">

            <tr *ngIf="DetailList.length == 0; else else_tr_detail;">
              <td colspan="10" class="text-center">
                <div [ngSwitch]="loading">
                  <div *ngSwitchCase="LoadingEnt.noRecord">
                    <i class="fa fa-exclamation-circle fa-2x" aria-hidden="true"></i>
                    <br>
                    <p>ไม่มีข้อมูล</p>
                  </div>
                  <div *ngSwitchCase="LoadingEnt.error">
                    <i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i>
                    <br>
                    <p>มีบางอย่างผิดพลาด</p>
                  </div>
                  <div *ngSwitchDefault>
                    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                    <br>
                    <p>รอสักครู่...</p>
                  </div>
                </div>
              </td>
            </tr>
            <ng-template #else_tr_detail>
              <tr *ngFor="let detailitem of DetailList.controls; let idetail=index;" [formGroupName]="idetail">
                <td class="text-center">{{idetail+1}}</td>

                <td [attr.data-order]="idetail">
                  <a class="btn btn-danger btn-outline btn-xs" (click)="detaildelete(idetail)">
                    <i class="fa fa-trash-o"></i>
                    ลบ
                  </a>
                </td>
                <td>{{detailitem.get('product_code').value}}</td>
                <td>{{detailitem.get('product_name').value}}</td>
                <td>{{detailitem.get('tax_invoice_no').value}}</td>
                <td>{{detailitem.get('stock_amt').value}}</td>
                <td>{{detailitem.get('stock_qty').value}}</td>

                <td style="vertical-align: middle;" class="text-center">
                  <input type="number" class="form-control" formControlName="return_qty" style="width: 100px;">
                </td>
                <td style="vertical-align: middle;" class="text-center">
                  <input type="number" class="form-control" formControlName="return_amt" style="width: 100px;">
                </td>

                <td>{{(detailitem.get('return_qty').value * detailitem.get('return_amt').value) | number:'1.2-2':'en-US'}}</td>


              </tr>
            </ng-template>
          </tbody>
        </table>

      </div>
    </div>

    <table class="table invoice-total m-t-sm">
      <tbody>

        <tr>
          <td><strong>ยอดรวมสุทธิ :</strong></td>
          <td>{{formGroup.get('total').value | number:'1.2-2':'en-US'}}</td>
        </tr>
      </tbody>
    </table>

    <div class="row m-t-md form-group">
      <div class="col-sm-12 text-right">
        <button class="btn btn-success" type="button" [disabled]="formGroup.invalid || DetailList.length == 0"
          (click)="onSubmit()">บันทึกคืนสินค้า</button>
      </div>

      <!-- <button class="btn btn-danger" type="button" (click)="debug()">Debug</button> -->
    </div>

  </form>

</div>

<!-- Modal -->
<div class="modal fade" id="receive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog _dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">ดึงรายการค้างรับทั้งหมด</h4>
      </div>
      <div class="modal-body">
        <div class="row">

          <div class="col-md-6 text-center">
            <div class="row form-group">
              <div class="col-md-12">
                <label class="col-md-4 control-label">เลขที่ใบสั่งซื้อ</label>
                <div class="col-md-8">
                  <ng-select [items]="AC_Receive" bindLabel="receive_no" bindValue="receive_no"
                    placeholder="เลขที่ใบรับ" id="receive_no" [(ngModel)]="search_receive_no" (change)="change_receive_no(AC_Receive)">
                  </ng-select>
                </div>
              </div>
            </div>
            
          </div>

          <div class="col-md-6 text-center">
            <!-- <button class="btn btn-info" type="button" (click)="search_available_return()">ค้นหา</button>&nbsp; -->
            <!-- <button class="btn btn-danger" type="button" (click)="clearsearch()">เคลียร์</button> -->
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <table id="searchItem" class="table table-stripped table-hover nowrap search-dataTable"
              [formGroup]="searchformGroup">
              <thead>
                <tr>
                  <th>ลำดับ</th>
                  <th>
                    <div class="checkbox checkbox-primary">
                      <input type="checkbox" id="select" (change)="checkAll($event)" [checked]="checkedAll">
                      <label for="select"></label>
                    </div>
                  </th>
                  <th>รหัสสินค้า</th>
                  <th>รายการ</th>
                  <th>ใบกำกับภาษี</th>
                  <th>ราคาซื้อ</th>
                  <th>จำนวน</th>                  

                </tr>
              </thead>
              <tbody formArrayName="search">

                <tr *ngIf="SearchList.length == 0; else else_tr_search;">
                  <td colspan="7" class="text-center">
                    <div [ngSwitch]="searchloading">
                      <div *ngSwitchCase="searchLoadingEnt.noRecord">
                        <i class="fa fa-exclamation-circle fa-2x" aria-hidden="true"></i>
                        <br>
                        <p>ไม่มีข้อมูล</p>
                      </div>
                      <div *ngSwitchCase="searchLoadingEnt.error">
                        <i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i>
                        <br>
                        <p>มีบางอย่างผิดพลาด</p>
                      </div>
                      <div *ngSwitchDefault>
                        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                        <br>
                        <p>รอสักครู่...</p>
                      </div>
                    </div>
                  </td>
                </tr>
                <ng-template #else_tr_search>
                  <tr *ngFor="let searchitem of SearchList.controls; let isearch=index;" [formGroupName]="isearch">
                    <td class="text-center">{{isearch+1}}</td>

                    <td [attr.data-order]="isearch">
                      <div class="checkbox checkbox-primary">
                        <input type="checkbox" id="select{{isearch}}" formControlName="IS_CHECKED">
                        <label for="select{{isearch}}"></label>
                      </div>
                    </td>
                    <td>{{searchitem.get('product_code').value}}</td>
                    <td>{{searchitem.get('product_name').value}}</td>
                    <td>{{searchitem.get('tax_invoice_no').value}}</td>
                    <td>{{searchitem.get('return_amt').value}}</td>
                    <td>{{searchitem.get('return_qty').value}}</td>

                  </tr>
                </ng-template>
              </tbody>
            </table>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-4">           
          </div>
          <div class="col-md-4">
          </div>
          <div class="col-md-4 text-right">
            <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>&nbsp;
            <button type="button" class="btn btn-primary" data-dismiss="modal"
              (click)="confirmSelect()">ตกลง</button>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer"></div> -->
    </div>
  </div>
</div>