<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>บันทึกรับสินค้า</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">หน้าแรก</a>
      </li>
      <li>จัดซื้อ</li>
      <li class="active">
        <strong>บันทึกรับสินค้า</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2 text-right pull-right">
    <h3>&nbsp;</h3>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <form class="form-horizontal" style="margin-bottom: 15em;" autocomplete="off" [formGroup]="formGroup">

    <div class="ibox float-e-margins">
      <div class="ibox-content">

        <div class="row">

          <div class="col-md-4">
            <label for="receive_no" class="col-md-4 control-label">เลขที่ใบรับ</label>
            <div class="col-md-8">
              <input type="text" class="form-control" formControlName="receive_no">
            </div>
          </div>

          <div class="col-md-4">
            <label class="col-md-4 control-label">ผู้รับสินค้า</label>
            <div class="col-md-8">
              <ng-select [items]="AC_User" bindLabel="text" bindValue="value" placeholder="ผู้รับสินค้า"
                formControlName="receive_id">
              </ng-select>

            </div>
          </div>

          <div class="col-md-4">
            <label class="col-md-4 control-label is-required">วันที่รับ</label>
            <div class="col-md-8">
              <my-date-picker-th [options]="myDatePickerOptions" formControlName="receive_date" name="receive_date">
              </my-date-picker-th>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-md-4">
            <label class="col-md-4 control-label">เลขที่ใบส่งของ</label>
            <div class="col-md-8">
              <input type="text" class="form-control" formControlName="delivery_code">
            </div>
          </div>


          <div class="col-md-4">
            <label class="col-md-4 control-label is-required">ผู้จำหน่าย</label>
            <div class="col-md-8">
              <ng-select [items]="AC_Dealer" bindLabel="text" bindValue="value" placeholder="ผู้จำหน่าย"
                formControlName="dealer_code">
              </ng-select>
            </div>
          </div>

          <div class="col-md-4">
            <label class="col-md-4 control-label is-required">วันที่ส่งของ</label>
            <div class="col-md-8">
              <my-date-picker-th [options]="myDatePickerOptions" formControlName="delivery_date" name="delivery_date">
              </my-date-picker-th>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-md-4">
            <label class="col-md-4 control-label">สถานะ</label>
            <div class="col-md-8">
              <ng-select [items]="AC_Type" bindLabel="txt" bindValue="id" placeholder="สถานะ"
                formControlName="receive_type">
              </ng-select>
            </div>
          </div>

          <div class="col-md-4">
            <label class="col-md-4 control-label">หมายเหตุ</label>
            <div class="col-md-8">
              <textarea class="form-control" formControlName="remark"></textarea>
            </div>
          </div>

          <div class="col-md-4" style="text-align: right;vertical-align: middle;">
            <div class="upload-btn-wrapper">
              <button class="btn btn-primary"> <i class="fa fa-paperclip"></i> Upload a file</button>
              <input type="file" name="file" (change)="readExcel($event.target.files)" />
            </div>

            <!-- <input id="myForm" type="file" name="file" (change)="readExcel($event.target.files)"> -->
          </div>


        </div>

      </div>
    </div>

    <div class="ibox float-e-margins">
      <div class="ibox-content">

        <!-- <table id="Item" class="table table-bordered set-dataTable" [formGroup]="formGroup" > -->
        <table id="Item" class="table table-stripped table-hover nowrap set-dataTable" [formGroup]="formGroup">
          <thead>
            <tr>
              <th *ngFor="let header of headers" class="align-middle">{{header}}</th>
              <!-- <th>ลำดับ</th>
                      <th>ประเภทสินค้า</th>
                      <th>ยี่ห้อ</th>
                      <th>รุ่น</th>
                      <th>แบบ</th>
                      <th>สี</th>
                      <th>หมายเลขเครื่อง</th>
                      <th>หมายเลขตัวถึง</th>
                      <th>เลขที่ใบแจ้งหนี้</th>
                      <th>ราคา(ไม่รวม VAT)</th>
                      <th>ค่าอื่นๆ</th>
                      <th>ค่าซ่อม</th> -->
              <!-- <th>สถานที่เก็บ</th> -->
            </tr>
          </thead>
          <tbody formArrayName="detail">

            <tr *ngIf="DetailList.length == 0; else else_tr;">
              <td colspan="12" class="text-center">
                <div [ngSwitch]="loading">
                  <div *ngSwitchCase="LoadingEnt.noRecord">
                    <i class="fa fa-exclamation-circle fa-2x" aria-hidden="true"></i>
                    <br>
                    <p>ไม่มีข้อมูล</p>
                  </div>
                  <div *ngSwitchCase="LoadingEnt.error">
                    <i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i>
                    <br>
                    <p>มีบางอย่างผิดพลาด</p>
                  </div>
                  <div *ngSwitchDefault>
                    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                    <br>
                    <p>รอสักครู่...</p>
                  </div>
                </div>
              </td>
            </tr>
            <ng-template #else_tr>
              <tr *ngFor="let item of DetailList.controls; let i=index;" [formGroupName]="i">
                <td class="text-center">{{i+1}}</td>


                <!-- <td>
                  <ng-select [items]="AC_PrdCategory" bindLabel="text" bindValue="value" placeholder="ประเภทสินค้า"
                    formControlName="cat_id" [disabled]="true" [clearable]="false">
                  </ng-select>
                </td>
                <td>
                  <ng-select [items]="AC_PrdBrand" bindLabel="text" bindValue="value" placeholder="ยี่ห้อ"
                    formControlName="brand_id" [disabled]="true" [clearable]="false">
                  </ng-select>
                </td>
                <td>
                  <ng-select [items]="AC_PrdModel" bindLabel="text" bindValue="value" placeholder="รุ่น"
                    formControlName="model_id" [disabled]="true" [clearable]="false">
                  </ng-select>
                </td>
                <td>
                  <ng-select [items]="AC_PrdType" bindLabel="text" bindValue="value" placeholder="แบบ"
                    formControlName="type_id" [disabled]="true" [clearable]="false">
                  </ng-select>
                </td>
                <td>
                  <ng-select [items]="AC_PrdColor" bindLabel="text" bindValue="value" placeholder="สี"
                    formControlName="color_id" [disabled]="true" [clearable]="false">
                  </ng-select>
                </td> -->

                <td>{{item.get('cat_name').value}}</td>
                <td>{{item.get('brand_name').value}}</td>
                <td>{{item.get('model_name').value}}</td>
                <td>{{item.get('type_name').value}}</td>
                <td>{{item.get('color_name').value}}</td>

                <td style="vertical-align: middle;" class="text-center">
                  <input type="text" class="form-control" formControlName="engine_no">
                </td>

                <td style="vertical-align: middle;" class="text-center">
                  <input type="text" class="form-control" formControlName="frame_no">
                </td>

                <td style="vertical-align: middle;" class="text-center">
                  <input type="text" class="form-control" formControlName="invoice_no">
                </td>
                <td style="vertical-align: middle;" class="text-center">
                  <input type="text" class="form-control" formControlName="cost_exc_vat" style="width: 100px;">
                </td>
                <td style="vertical-align: middle;" class="text-center">
                  <input type="text" class="form-control" formControlName="cost_other_exc_vat" style="width: 100px;">
                </td>
                <td style="vertical-align: middle;" class="text-center">
                  <input type="text" class="form-control" formControlName="cost_repair_exc_vat" style="width: 100px;">
                </td>

                <!-- <td>{{item.get('branch_name').value}}</td> -->

              </tr>
            </ng-template>
          </tbody>
        </table>

      </div>
    </div>

    <table class="table invoice-total m-t-sm">
      <tbody>
        <tr>
          <td><strong>รวมมูลค่าสินค้า :</strong></td>
          <td>{{formGroup.get('cost_exc_vat').value | number:'1.2-2'}}</td>
        </tr>
        <tr>
          <td><strong>ภาษีมูลค่าเพิ่ม {{formGroup.get('vat_rate').value}} % :</strong></td>
          <td>{{formGroup.get('cost_vat').value | number:'1.2-2'}}</td>
        </tr>
        <tr>
          <td><strong>รวมมูลค่าอื่นๆ :</strong></td>
          <td>{{formGroup.get('cost_other_repair').value | number:'1.2-2'}}</td>
        </tr>
        <tr>
          <td><strong>รวมเงิน :</strong></td>
          <td>{{formGroup.get('cost_total').value | number:'1.2-2'}}</td>
        </tr>
      </tbody>
    </table>

    <div class="text-right m-t-md form-group">
      <button class="btn btn-success" type="button" [disabled]="formGroup.invalid || DetailList.length == 0"
        (click)="onSubmit()">บันทึกรับสินค้า</button>
    </div>

  </form>
</div>