<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>บันทึกคืนสินค้า</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">หน้าแรก</a>
      </li>
      <li>PSS</li>
      <li class="active">
        <strong>บันทึกคืนสินค้า</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2 text-right pull-right">
    <h3>&nbsp;</h3>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <form class="form-horizontal" style="margin-bottom: 15em;" autocomplete="off" [formGroup]="formGroup">

    <div class="ibox float-e-margins">
      <div class="ibox-content">

        <div class="row form-group">

          <div class="col-md-4">
            <label for="receive_no" class="col-md-4 control-label">เลขที่ใบคืน</label>
            <div class="col-md-8">
              <input type="text" class="form-control" formControlName="return_no">
            </div>
          </div>

          <div class="col-md-4">
            <label class="col-md-4 control-label is-required">วันที่คืน</label>
            <div class="col-md-8">
              <!-- <thai-mat-datepicker id="return_date" name="return_date" formControlName="return_date">
              </thai-mat-datepicker> -->
              <span class="form-control disabled">
                {{displayLocalDate(formGroup.get('return_date').value)}}
              </span>
            </div>
          </div>

          <div class="col-md-4">
            <label class="col-md-4 control-label is-required">ผู้จำหน่าย</label>
            <div class="col-md-8">
              <ng-select [items]="AC_Dealer" bindLabel="text" bindValue="value" placeholder="ผู้จำหน่าย"
                formControlName="dealer_code">
              </ng-select>
            </div>
          </div>

        </div>

        <div class="row form-group">

          <div class="col-md-4">
            <label class="col-md-4 control-label is-required">เลขที่ใบรับ</label>
            <div class="col-md-8">
              <!-- <ng-select [items]="AC_Receive" bindLabel="receive_no" bindValue="receive_no" placeholder="เลขที่ใบรับ"
                formControlName="receive_no">
              </ng-select> -->
              <input type="text" class="form-control" formControlName="receive_no">
            </div>
          </div>

          <div class="col-md-4">
            <label class="col-md-4 control-label is-required">วันที่รับ</label>
            <div class="col-md-8 disabled">
              <!-- <thai-mat-datepicker id="receive_date" name="receive_date" formControlName="receive_date" >
              </thai-mat-datepicker> -->
              <span class="form-control disabled">
                {{displayLocalDate(formGroup.get('receive_date').value)}}
              </span>
            </div>
          </div>

          <div class="col-md-4">
            <label class="col-md-4 control-label">หมายเหตุ</label>
            <div class="col-md-8">
              <textarea class="form-control" formControlName="remark"></textarea>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <table id="Item" class="table table-stripped table-hover nowrap detail-dataTable" [formGroup]="formGroup">
          <thead>
            <tr>
              <th style="width: 5px;">ลำดับ</th>
              <th style="width: 100px;">รหัสสินค้า</th>
              <th style="width: 250px;">รายการ</th>
              <th style="width: 100px;">ใบกำกับภาษี</th>
              <th style="width: 100px;">จำนวนส่งคืน</th>
              <th style="width: 100px;">ราคาทุน</th>
              <th style="width: 100px;">เป็นเงิน</th>
            </tr>
          </thead>
          <tbody formArrayName="detail">

            <tr *ngIf="DetailList.length == 0; else else_tr_detail;">
              <td colspan="7" class="text-center">
                <div [ngSwitch]="loading">
                  <div *ngSwitchCase="LoadingEnt.noRecord">
                    <i class="fa fa-exclamation-circle fa-2x" aria-hidden="true"></i>
                    <br>
                    <p>ไม่มีข้อมูล</p>
                  </div>
                  <div *ngSwitchCase="LoadingEnt.error">
                    <i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i>
                    <br>
                    <p>มีบางอย่างผิดพลาด</p>
                  </div>
                  <div *ngSwitchDefault>
                    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                    <br>
                    <p>รอสักครู่...</p>
                  </div>
                </div>
              </td>
            </tr>
            <ng-template #else_tr_detail>
              <tr *ngFor="let detailitem of DetailList.controls; let idetail=index;" [formGroupName]="idetail">
                <td class="text-center">{{idetail+1}}</td>
                <td>{{detailitem.get('product_code').value}}</td>
                <td>{{detailitem.get('product_name').value}}</td>
                <td>{{detailitem.get('tax_invoice_no').value}}</td>
                <td>{{detailitem.get('return_amt').value}}</td>
                <td>{{detailitem.get('return_qty').value}}</td>
                <td>{{(detailitem.get('return_qty').value * detailitem.get('return_amt').value) | number:'1.2-2':'en-US'}}</td>


              </tr>
            </ng-template>
          </tbody>
        </table>

      </div>
    </div>

    <table class="table invoice-total m-t-sm">
      <tbody>

        <tr>
          <td><strong>ยอดรวมสุทธิ :</strong></td>
          <td>{{formGroup.get('total').value | number:'1.2-2':'en-US'}}</td>
        </tr>
      </tbody>
    </table>

  </form>

</div>
