<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-6">
    <h2 [ngSwitch]="bookingModel.bookingPaymentType">
      <span *ngSwitchCase="BookingPaymentType.Cash">เงินสด</span>
      <span *ngSwitchCase="BookingPaymentType.Credit">งานขายรถ</span>
      <span *ngSwitchCase="BookingPaymentType.HierPurchase">เช่าซื้อ</span>
      <span *ngSwitchCase="BookingPaymentType.Leasing">ไฟแนนซ์</span>
    </h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">หน้าแรก</a>
      </li>
      <li>
        <a>งานขายรถ</a>
      </li>
      <li>
        <a>รายละเอียด</a>
      </li>
    </ol>
  </div>
  <div class="col-lg-6 text-right pull-right">

  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

  <div class="row">
    <div class="col-sm-12 col-md-7">
      <div class="ibox">
        <div class="ibox-content form-horizontal" style=" border-top:none; line-height:30px;">
          <div class="row">
            <div class="col-xs-12 text-right">
              <h4 class="m-b-xs">เลขที่ใบขาย</h4>
              <h3 class="no-margins text-navy" style="font-weight: normal">{{saleModel.sellNo}}</h3>
            </div>
          </div>
          <h4>ข้อมูลการขาย &nbsp;
            <button type="button" class="btn btn-outline btn-xs btn-info" data-toggle="modal"
              data-target="#bookingDetial">
              <i class="fa fa-info-circle" aria-hidden="true"></i> ข้อมูลการจอง
            </button>
            &nbsp;
            <button type="button" class="btn btn-outline btn-xs btn-info" data-toggle="modal" data-target="#editGift">
              <i class="fa fa-info-circle" aria-hidden="true"></i> แก้ไขของแถม
            </button>

          </h4>
          <hr class="m-t-xs">
          <div class="row">
            <div class="col-xs-12">
              <label for="" class="col-md-3 control-label">ประเภทการขาย</label>
              <div class="col-md-9">
                <div [ngSwitch]="bookingModel.bookingPaymentType">
                  <span *ngSwitchCase="BookingPaymentType.Cash">เงินสด</span>
                  <span *ngSwitchCase="BookingPaymentType.Credit">งานขายรถ</span>
                  <span *ngSwitchCase="BookingPaymentType.HierPurchase">เช่าซื้อ</span>
                  <span *ngSwitchCase="BookingPaymentType.Leasing">ไฟแนนซ์</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <label for="" class="col-md-3 control-label">วันที่ทำรายการขาย</label>
              <div class="col-md-9">
                {{setLocalDate(saleModel.saleDate)}}
              </div>
            </div>
            <div class="col-xs-12">
              <label for="" class="col-md-3 control-label">พนักงานขาย</label>
              <div class="col-md-9" *ngIf="(SaleBy | async) as saleBy">
                {{saleBy.fullName}}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-11">
              <hr class="m-xs">
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 ">
              <label for="" class="col-md-3 control-label">ชื่อผู้ซื้อ</label>
              <div class="col-md-9" *ngIf="(Hire | async) as hire">
                {{hire.customerPrename}}{{hire.customerName}} {{hire.customerSurname}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <label for="" class="col-md-3 control-label">
                ที่อยู่
              </label>
              <div class="col-md-9" *ngIf="(Hire | async) as hire">
                {{contractModel.hireAddress}}
                <span *ngIf="(HireAmphor | async) as amphor">
                  อำเภอ{{amphor.amphorName}}
                </span>
                <span *ngIf="(HireProvince | async) as province">
                  จังหวัด{{province.provinceNameTh}}
                </span>
                {{contractModel.ownerZipCode}}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-11">
              <hr class="m-xs">
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 ">
              <label for="" class="col-md-3 control-label">ชื่อจดทะเบียน</label>
              <div class="col-md-9" *ngIf="(Owner | async) as owner">
                {{owner.customerPrename}} {{owner.customerName}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <label for="" class="col-md-3 control-label">เลขประจำตัวผู้เสียภาษี</label>
              <div class="col-md-9">
                {{contractModel.ownerTaxNo}}
              </div>
            </div>
            <div class="col-xs-12">
              <label for="" class="col-md-3 control-label">
                <div [ngSwitch]="bookingModel.bookingPaymentType">
                  <span
                    *ngSwitchCase="BookingPaymentType.HierPurchase || BookingPaymentType.Leasing">สถานประกอบการ</span>
                  <span *ngSwitchDefault>ที่อยู่</span>
                </div>
              </label>
              <div class="col-md-9" *ngIf="(Owner | async) as owner">
                {{contractModel.ownerAddress}}
                <span *ngIf="(OwnerAmphor | async) as amphor">
                  อำเภอ{{amphor.amphorName}}
                </span>
                <span *ngIf="(OwnerProvince | async) as province">
                  จังหวัด{{province.provinceNameTh}}
                </span>
                {{contractModel.ownerZipCode}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <label for="" class="col-md-3 control-label">หมายเหตุการขาย</label>
              <div class="col-md-9">
                {{saleModel.remark}}
              </div>
            </div>
          </div>

          <br>
          <h4>รายละเอียด
            <ng-container [ngSwitch]="bookingModel.bookingPaymentType">
              <span *ngSwitchCase="BookingPaymentType.Cash">การชำระ</span>
              <span *ngSwitchCase="BookingPaymentType.Credit">การชำระ</span>
              <span *ngSwitchCase="BookingPaymentType.HierPurchase">เช่าซื้อ</span>
              <span *ngSwitchCase="BookingPaymentType.Leasing">ไฟแนนท์</span>
            </ng-container>
          </h4>
          <hr class="m-t-xs">
          <ng-container [ngSwitch]="true">
            <ng-container
              *ngSwitchCase="bookingModel.bookingPaymentType == BookingPaymentType.HierPurchase || bookingModel.bookingPaymentType ==BookingPaymentType.Leasing">
              <div class="row">
                <div class="col-xs-12">
                  <label for="" class="col-md-3 control-label">การชำระเงินดาวน์</label>
                  <div class="col-md-9">เงินสด
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <label for="" class="col-md-6 control-label">เงินดาวน์</label>
                  <div class="col-md-6">
                    {{saleModel.depositPrice | number:'1.2-2':'en-US'}}
                  </div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <label for="" class="col-md-6 control-label">ระยะเวลาผ่อนชำระ</label>
                  <div class="col-md-6">
                    {{saleModel.instalmentEnd}} งวด
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <label for="" class="col-md-6 control-label">วันที่ชำระงวดแรก</label>
                  <div class="col-md-6">
                    {{setLocalDate(saleModel.firstPayment)}}
                  </div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <label for="" class="col-md-6 control-label">งวดชำระทุกวันที่</label>
                  <div class="col-md-6">
                    {{saleModel.dueDate}} ของเดือน
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <label for="" class="col-md-6 control-label">อัตราดอกเบี้ยต่อเดือน</label>
                  <div class="col-md-6">{{saleModel.interest | number:'1.2-2':'en-US'}}
                  </div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <label for="" class="col-md-6 control-label">ค่างวด (รวม VAT)</label>
                  <div class="col-md-6">{{saleModel.instalmentPrice | number:'1.2-2':'en-US'}}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <label for="" class="col-md-6 control-label">ค่าส่งเสริมการขาย</label>
                  <div class="col-md-6 text-navy">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <label for="" class="col-md-6 control-label">การคืนเงินมัดจำ</label>
                  <div class="col-md-6">
                  </div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <label for="" class="col-md-6 control-label">จำนวนเงินมัดจำ</label>
                  <div class="col-md-6 text-navy">{{bookingModel.bookDeposit | number:'1.2-2':'en-US'}}
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="bookingModel.bookingPaymentType == BookingPaymentType.Cash">
              <div class="row">
                <div class="col-xs-12">
                  <label for="" class="col-md-3 control-label">ยอดชำระสินค้า</label>
                  <div class="col-md-9">
                    {{saleModel.netPrice}}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <label for="" class="col-md-6 control-label">การคืนเงินมัดจำ</label>
                  <div class="col-md-6">
                  </div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <label for="" class="col-md-6 control-label">จำนวนเงินมัดจำ</label>
                  <div class="col-md-6 text-navy">{{bookingModel.bookDeposit | number:'1.2-2':'en-US'}}
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="bookingModel.bookingPaymentType == BookingPaymentType.Credit">
              <div class="row">
                <div class="col-xs-12">
                  <label for="" class="col-md-3 control-label">ชำระงวดแรก</label>
                  <div class="col-md-9">

                  </div>
                  <label for="" class="col-md-3 control-label">เคดิต</label>
                  <div class="col-md-9">
                    {{saleModel.instalmentEnd}} วัน
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <label for="" class="col-md-6 control-label">การคืนเงินมัดจำ</label>
                  <div class="col-md-6">
                  </div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <label for="" class="col-md-6 control-label">จำนวนเงินมัดจำ</label>
                  <div class="col-md-6 text-navy">{{bookingModel.bookDeposit | number:'1.2-2':'en-US'}}
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>

        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-5">
      <div class="ibox ">
        <div class="ibox-title">
          <h5>รายงาน</h5>
          <div class="ibox-tools">
            <a class="collapse-link" (click)="iboxShow = !iboxShow">
              <i class="fa " [ngClass]="{'fa-chevron-up': iboxShow, 'fa-chevron-down': !iboxShow}"></i>
            </a>
          </div>
        </div>
        <div *ngIf="iboxShow" class="ibox-content table-responsive">
          <table class="table table-hover no-margins">
            <thead>
              <tr>
                <th>รายการ</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listSlip">
                <td>
                  <span class="slip-no" [ngClass]="{'text-success': item.status, 'text-muted': !item.status}">
                    {{item.slipNo}} <span *ngIf="!item.status">(ยกเลิก)</span>
                  </span><br>
                  {{item.slipName}}
                </td>
                <td>
                  <button *ngIf="item.status" class="btn btn-xs btn-outline btn-primary"
                    (click)="printSlip(item.printUrl)">
                    <i class="fa fa-print" aria-hidden="true"></i>
                    พิมพ์
                  </button>
                </td>
                <td>
                  <button *ngIf="item.status" class="btn btn-xs btn-outline btn-danger" data-toggle="modal"
                    [attr.data-target]="'#cancel'+item.modalId">
                    <i class="fa fa-ban" aria-hidden="true"></i>
                    ยกเลิก
                  </button>
                </td>
              </tr>

              <tr *ngFor="let item of listReceiptAndTax">
                  <td>{{item.slipName}}</td>
                  <td>
                    <button class="btn btn-xs btn-outline btn-primary" data-toggle="modal"
                      [attr.data-target]="'#print'+item.modalId">
                      <i class="fa fa-print" aria-hidden="true"></i>
                      พิมพ์
                    </button>
                  </td>
                  <td>
                    <button class="btn btn-xs btn-outline btn-danger" data-toggle="modal"
                      [attr.data-target]="'#cancel'+item.modalId">
                      <i class="fa fa-ban" aria-hidden="true"></i>
                      ยกเลิก
                    </button>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
<app-booking-modal class="modal inmodal" id="bookingDetial" tabindex="-1" role="dialog" aria-hidden="true"
  style="display: none;"></app-booking-modal>

<!-- ใบส่งเสริมการขาย -->
<app-form-cancel-com class="modal inmodal" [id]="'cancel'+comSlip.modalId" tabindex="-1" role="dialog"
  aria-hidden="true" style="display: none;" [title]="comSlip.title" [slipNo]="saleModel.comNo"
  [reasonDropdown]="reasonList">
</app-form-cancel-com>

<!-- ใบส่งของ/ใบกำกับภาษี/ใบเสร็จรับเงิน -->
<app-form-cancel-inv-tax-rec class="modal inmodal" [id]="'cancel'+invTaxRecSlip.modalId" tabindex="-1" role="dialog"
  aria-hidden="true" style="display: none;" [title]="invTaxRecSlip.title" [slipNo]="saleModel.invTaxRecNo"
  [reasonDropdown]="reasonList">
</app-form-cancel-inv-tax-rec>

<!-- ใบส่งของ/ใบกำกับภาษี -->
<app-form-cancel-inv-tax-rec class="modal inmodal" [id]="'cancel'+invTaxSlip.modalId" tabindex="-1" role="dialog"
  aria-hidden="true" style="display: none;" [title]="invTaxSlip.title" [slipNo]="saleModel.invTaxRecNo"
  [reasonDropdown]="reasonList">
</app-form-cancel-inv-tax-rec>

<!-- ใบเสร็จรับเงิน -->
<app-form-cancel-receipt class="modal inmodal" [id]="'cancel'+receiptSlip.modalId" tabindex="-1" role="dialog"
  aria-hidden="true" style="display: none;" [title]="receiptSlip.title" [slipList]="receiptSlipList"
  [reasonDropdown]="reasonList">
</app-form-cancel-receipt>

<!-- ใบกำกับภาษี -->
<app-form-cancel-tax class="modal inmodal" [id]="'cancel'+taxSlip.modalId" tabindex="-1" role="dialog"
  aria-hidden="true" style="display: none;" [title]="taxSlip.title" [slipList]="taxInvSlipList"
  [reasonDropdown]="reasonList">
</app-form-cancel-tax>

<!-- ใบคืนเงินจอง -->
<app-form-cancel-reserve-return class="modal inmodal" [id]="'cancel'+reserveReturnSlip.modalId" tabindex="-1"
  role="dialog" aria-hidden="true" style="display: none;" [title]="reserveReturnSlip.title"
  [slipNo]="saleModel.returnDepositNo" [reasonDropdown]="reasonList">
</app-form-cancel-reserve-return>

<!-- ใบขาย -->
<app-form-cancel-sell class="modal inmodal" [id]="'cancel'+sellSlip.modalId" tabindex="-1" role="dialog"
  aria-hidden="true" style="display: none;" [title]="sellSlip.title" [slipNo]="saleModel.sellNo"
  [reasonDropdown]="reasonList">
</app-form-cancel-sell>

<!-- พิมพ์ -->
<!-- ใบเสร็จรับเงิน -->
<app-form-print-receipt class="modal inmodal" [id]="'print'+receiptSlip.modalId" tabindex="-1" role="dialog"
  [title]="receiptSlip.title" [bookingId]="bookingModel.bookingId" [slipList]="receiptSlipList">
</app-form-print-receipt>

<!-- ใบกำกับภาษี -->
<app-form-print-tax class="modal inmodal" [id]="'print'+taxSlip.modalId" tabindex="-1" role="dialog"
  [title]="taxSlip.title" [bookingId]="bookingModel.bookingId" [slipList]="taxInvSlipList">
</app-form-print-tax>

<div class="modal inmodal" id="editGift" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <h4 class="modal-title">แก้ไขของแถม</h4>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
          <span class="sr-only">Close</span>
        </button>
      </div>
      <div class="modal-body">

        <iframe [src]="url | safe" frameborder="0" width="100%" height="400px"></iframe>
      </div>
    </div>
  </div>
</div>