<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>รายการสัญญา</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">หน้าแรก</a>
            </li>
            <li>
                <a>รายการสัญญา</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2 text-right pull-right">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <table class="table table-hover" cellspacing="0">
                <thead>
                    <tr>
                        <th style="width: 100px;">ประเภทการซื้อ</th>
                        <th style="width: 100px;">เลขที่สัญญา</th>
                        <th style="width: 150px;">สถานะสัญญา</th>
                        <th style="width: 100px;">รายละเอียด</th>
                        <th style="width: 100px;">แก้ไขสัญญา</th>
                        <th style="width: 100px;"></th>
                        <th style="width: 100px;"></th>
                        <th style="width: 100px;">วันที่ทำสัญญา</th>
                        <th style="width: 150px;">ผู้เช่าซื้อ</th>
                        <th style="width: 150px;">เลขบัตรประชาชน</th>
                        <th style="width: 100px;">กลุ่มสัญญา</th>
                        <th style="width: 150px;">ประเภทสัญญา</th>
                        <th style="width: 150px;">จุดทำสัญญา</th>
                        <th style="width: 150px;">เขตการเก็บเงิน</th>
                        <th style="width: 150px;">ยี่ห้อรถ</th>
                        <th style="width: 150px;">สีรถ</th>
                        <th style="width: 150px;">รุ่นรถ</th>
                        <th style="width: 150px;">เลขเครื่อง</th>
                        <th style="width: 150px;">เลขโครง</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of contractListModel">
                        <td class="text-center" [ngSwitch]="item.bookingPaymentType">
                            <div *ngSwitchCase="3" style="margin:auto; padding:5px; color:#fff; background:#1E90FF;">เช่าซื้อ</div>
                            <div *ngSwitchCase="4" style="margin:auto; padding:5px; color:#fff; background:#6A5ACD;">ขายเชื่อ</div>
                        </td>
                        <td>{{item.contractNo}}</td>
                        <td [ngClass]="{'text-navy': item.contractStatus == 32, 
                        'text-warning': item.contractStatus == 31,
                        'text-success': item.contractStatus == 30 }">{{item.statusDesc}}</td>
                        <td>
                            <a class="btn btn-info btn-xs" (click)="gotoDetail(item.contractId)">
                                <i class="fa fa-file-text-o"></i>
                                รายละเอียด</a>
                        </td>
                        <td [ngSwitch]="item.contractStatus">
                            <a *ngSwitchCase="32" (click)="gotoCreateContract(item.contractId)" class="btn btn-success btn-xs">
                                <i class="fa fa-pencil"></i>
                                อนุมัติสัญญา
                            </a>
                            <a *ngSwitchDefault (click)="gotoEditContract(item.contractId)" class="btn btn-success btn-xs">
                                <i class="fa fa-pencil"></i>
                                แก้ไขสัญญา
                            </a>
                        </td>
                        <td [ngSwitch]="item.contractStatus">
                            <a *ngSwitchCase="31" (click)="gotoPayment(item.contractId)" class="btn btn-primary btn-outline btn-xs">
                                <i class="fa fa-money"></i>
                                ชำระค่างวด
                            </a>
                            <a *ngSwitchCase="32" (click)="gotoReviceCalculate(item.calculateId)" class="btn btn-success btn-xs">
                                <i class="fa fa-pencil"></i>
                                แก้ไขค่างวด
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-warning btn-xs" (click)="gotoCanceled(item.contractId)">
                                <i class="fa fa-pencil"></i>
                                ยกเลิกรายการ
                            </a>
                        </td>
                        <td>{{item.contractDate}}</td>
                        <td>{{item.hireFullName}}</td>
                        <td>{{item.hireIdCard}}</td>
                        <td>{{item.contractGroup}}</td>
                        <td>{{item.contractType}}</td>
                        <td>{{item.contractPoint}}</td>
                        <td>{{item.areaPayment}}</td>
                        <td>{{item.brand}}</td>
                        <td>{{item.color}}</td>
                        <td>{{item.model}}</td>
                        <td>{{item.engineNo}}</td>
                        <td>{{item.frameNo}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>