<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>บันทึกรับคืนเรื่องจากการดำเนินการ</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">หน้าแรก</a>
            </li>
            <li>งานทะเบียน</li>
            <li class="active">
                <strong>รายละเอียด</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2 text-right pull-right">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <form class="form-horizontal" style="margin-bottom: 15em;" #form="ngForm" autocomplete="off" [formGroup]="formGroup"
        (ngSubmit)="onSubmit()">
    </form>
</div>