<table id="listConItem" class="table table-bordered nowrap" [formGroup]="formGroup">
    <thead>
        <tr>
            <th style="width: 5%;"></th>
            <th style="width: 5%;"></th>
            <th style="width: 5%;"></th>
            <th>หมายเลขตัวถัง</th>
            <th>เลขทะเบียน</th>
            <th>จังหวัด</th>
            <th>วันที่จดทะเบียน</th>
            <th>เงินรับฝากคงเหลือ</th>
            <th>ตัดยอดเงินรับฝาก</th>
            <th>ค่าดำเนินการ</th>
            <th>เลขที่ใบรับเรื่อง</th>
            <th>เลขที่ใบส่งเรื่อง</th>
        </tr>
    </thead>
    <tbody formArrayName="ConList">
        <tr *ngIf="ConList.length == 0; else else_conItem;">
            <td colspan="12" class="text-center">
                <div [ngSwitch]="loading">
                    <div *ngSwitchCase="1">
                        <i class="fa fa-exclamation-circle fa-2x" aria-hidden="true"></i>
                        <br>
                        <p>ไม่มีข้อมูล</p>
                    </div>
                    <div *ngSwitchCase="2">
                        <i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i>
                        <br>
                        <p>มีบางอย่างผิดพลาด</p>
                    </div>
                    <div *ngSwitchDefault>
                        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                        <br>
                        <p>รอสักครู่...</p>
                    </div>
                </div>
            </td>
        </tr>
        <ng-template #else_conItem>
            <tr *ngFor="let item of ConList.controls; let i=index;" [formGroupName]="i" style="cursor: pointer"
                (click)="selectCon(item.get('bookingNo').value)"
                [ngClass]="{'bg-muted': ConNoOutPut$.value == item.get('bookingNo').value}">
                <td style="vertical-align: middle;" class="text-center">
                    <i class="fa fa-lg"
                        [ngClass]="{
                            'fa-dot-circle-o text-navy': ConNoOutPut$.value == item.get('bookingNo').value,
                            'fa-circle-o text-muted': ConNoOutPut$.value != item.get('bookingNo').value}"
                        aria-hidden="true"></i>
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    <span *ngIf="item.get('state1').value != null" class="text-navy">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    <div [ngSwitch]="item.get('state2').value">
                        <div *ngSwitchCase="1" class="text-navy">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </div>
                        <div *ngSwitchCase="2" class="text-danger">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </div>
                        <div *ngSwitchDefault></div>
                    </div>
                </td>
                <td style="vertical-align: middle;">{{item.get('fNo').value}}</td>
                <td style="vertical-align: middle;">{{item.get('tagNo').value}}</td>
                <td style="vertical-align: middle;">{{item.get('province').value}}</td>
                <td style="vertical-align: middle;">
                    {{displayLocalDate(item.get('tagRegis').value)}}
                </td>
                <td class="text-right" style="vertical-align: middle;">
                    {{item.get('price1').value + item.get('vatPrice1').value | number:'1.2-2':'en-US'}}
                </td>
                <td class="text-right" style="vertical-align: middle;">
                    {{item.get('cutBalance').value | number:'1.2-2':'en-US'}}
                </td>
                <td class="text-right" style="vertical-align: middle;">
                    {{(item.get('price2').value + item.get('price3').value) | number:'1.2-2':'en-US'}}
                </td>
                <td style="vertical-align: middle;">{{item.get('bookingNo').value}}</td>
                <td style="vertical-align: middle;">{{item.get('sedNo').value}}</td>
            </tr>
        </ng-template>
    </tbody>
</table>