<section class="tabs-container" [formGroup]="formGroup">
  <ul class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#tab-clear-money-receive-1">รายการเรื่องย่อยที่รับคืน</a>
    </li>
    <li>
      <a data-toggle="tab" href="#tab-clear-money-receive-2">เอกสาร/สิ่งที่รับคืน</a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="tab-clear-money-receive-1" class="tab-pane active">
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="width: 30%">รายการรับเรื่อง</th>
              <th class="text-center">เสร็จ</th>
              <th class="text-center">คืน</th>
              <th class="text-center">ค้าง</th>
              <th class="text-center" style="width: 10%">เงินรับฝาก</th>
              <th class="text-center" style="width: 20%">วันที่ในใบเสร็จขนส่ง</th>
              <th style="width: 20%">หมายเหตุ</th>
            </tr>
          </thead>
          <tbody formArrayName="ConListItem">
            <tr *ngIf="ConListItem.length == 0; else else_tr;">
              <td colspan="7" class="text-center">
                <div [ngSwitch]="loading">
                  <div *ngSwitchCase="LoadEnt.noRecord">
                    <i class="fa fa-exclamation-circle fa-2x" aria-hidden="true"></i>
                    <br>
                    <p>ไม่มีข้อมูล</p>
                  </div>
                  <div *ngSwitchCase="LoadEnt.error">
                    <i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i>
                    <br>
                    <p>มีบางอย่างผิดพลาด</p>
                  </div>
                  <div *ngSwitchDefault>
                    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                    <br>
                    <p>รอสักครู่...</p>
                  </div>
                </div>
              </td>
            </tr>
            <ng-template #else_tr>
              <tr *ngFor="let item of ConListItem.controls; let i = index" [formGroupName]="i">
                <td style="vertical-align: middle;">
                  {{item.get('itemName').value}}
                </td>
                <td class="text-center" style="vertical-align: middle;">
                  <input type="radio" id="istate1{{i}}" formControlName="state" value="1">
                </td>
                <td class="text-center" style="vertical-align: middle;">
                  <input type="radio" id="isState2{{i}}" formControlName="state" value="2">
                </td>
                <td class="text-center" style="vertical-align: middle;">
                  <input type="radio" id="isState3{{i}}" formControlName="state" value="3">
                </td>
                <td style="vertical-align: middle;" class="text-center">
                  {{item.get('itemPrice1').value + item.get('itemVatPrice1').value | number:'1.2-2':'en-US'}}
                </td>
                <td style="vertical-align: middle;" class="text-center">
                  <!-- <input type="date" formControlName="dateReceipt" class="form-control"> -->
                  <div class="input-group">
                    <input class="form-control mat-date-picker" readonly [matDatepicker]="dp" (click)="dp.open()"
                      formControlName="dateReceipt">
                    <mat-datepicker #dp disabled="false"></mat-datepicker>
                    <span class="input-group-btn mat-icon-picker" (click)="dp.open()">
                      <button class="btn btn-default" type="button">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                      </button>
                    </span>
                  </div>
                </td>
                <td style="vertical-align: middle;">
                  <input type="text" class="form-control" formControlName="remark">
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
    </div>
    <div id="tab-clear-money-receive-2" class="tab-pane">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped ">
            <thead>
              <tr>
                <th style="width: 20%">รายการ</th>
                <th class="text-center">รับ</th>
                <th style="width: 12%" class="text-center">วันที่รับ</th>
                <th style="width: 18%" class="text-center">ผู้รับ</th>
                <th class="text-center">ส่ง</th>
                <th style="width: 12%" class="text-center">วันที่ส่ง</th>
                <th style="width: 18%" class="text-center">ผู้ส่ง</th>
                <th style="width: 20%">หมายเหตุ</th>
              </tr>
            </thead>
            <tbody formArrayName="ConListItemDoc">
              <tr *ngIf="ConListItemDoc.length == 0; else else_tr1;">
                <td colspan="8" class="text-center">
                  <div [ngSwitch]="loading">
                    <div *ngSwitchCase="LoadEnt.noRecord">
                      <i class="fa fa-exclamation-circle fa-2x" aria-hidden="true"></i>
                      <br>
                      <p>ไม่มีข้อมูล</p>
                    </div>
                    <div *ngSwitchCase="LoadEnt.error">
                      <i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i>
                      <br>
                      <p>มีบางอย่างผิดพลาด</p>
                    </div>
                    <div *ngSwitchDefault>
                      <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                      <br>
                      <p>รอสักครู่...</p>
                    </div>
                  </div>
                </td>
              </tr>
              <ng-template #else_tr1>
                <tr *ngFor="let doc of ConListItemDoc.controls; let i = index;" [formGroupName]="i">
                  <td style="vertical-align: middle;">
                    {{doc.get('sendBackName')?.value}}
                  </td>
                  <td class="text-center" style="vertical-align: middle;">
                    <input type="checkbox" id="receive_doc{{i}}" formControlName="isReceive"
                      (change)="onReceiveDoc(i, $event)">
                  </td>
                  <td style="vertical-align: middle;" class="text-center">
                    {{displayLocalDate(doc.get('receiveDate')?.value)}}
                  </td>
                  <td style="vertical-align: middle;" class="text-center">
                    {{doc.get('receiveName')?.value}}
                  </td>
                  <td class="text-center" style="vertical-align: middle;">
                    <input type="checkbox" id="send_doc{{i}}" formControlName="isSend" (change)="onSendDoc(i, $event)">
                  </td>
                  <td style="vertical-align: middle;" class="text-center">
                    {{displayLocalDate(doc.get('sendDate')?.value)}}
                  </td>
                  <td style="vertical-align: middle;" class="text-center">
                    {{doc.get('sendName')?.value}}
                  </td>
                  <td style="vertical-align: middle;">
                    <input class="form-control" formControlName="remark">
                  </td>
                </tr>
              </ng-template>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>