<table class="table table-bordered">
    <thead>
        <tr>
            <th>เลือก</th>
            <th></th>
            <th>หมายเลขตัวถัง</th>
            <th>เลขทะเบียน</th>
            <th>จังหวัด</th>
            <th>วันที่จดทะเบียน</th>
            <th>เงินรับฝากคงเหลือ</th>
            <th>ตัดยอดเงินรับฝาก</th>
            <th>เลขที่ใบรับเรื่อง</th>
            <th>เลขที่ใบส่งเรื่อง</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="ConList.length == 0; else else_conItem;">
            <td colspan="11" class="text-center">
                <div [ngSwitch]="loading">
                    <div *ngSwitchCase="1">
                        <i class="fa fa-exclamation-circle fa-2x" aria-hidden="true"></i>
                        <br>
                        <p>ไม่มีข้อมูล</p>
                    </div>
                    <div *ngSwitchCase="2">
                        <i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i>
                        <br>
                        <p>มีบางอย่างผิดพลาด</p>
                    </div>
                    <div *ngSwitchDefault>
                        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                        <br>
                        <p>รอสักครู่...</p>
                    </div>
                </div>
            </td>
        </tr>
        <ng-template #else_conItem>
            <tr *ngFor="let item of ConList; let i=index;">
                <td style="vertical-align: middle;" class="text-center">
                    <div class="radio radio-info radio-inline">
                        <input type="radio" id="conItemSelect{{i}}" name="conItemSelect"
                            (change)="selectCon(item.bookingNo)">
                        <label for="conItemSelect{{i}}" style="padding-left: 0px;"></label>
                    </div>
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    <span class="text-navy">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                </td>
                <td style="vertical-align: middle;">{{item.fNo}}</td>
                <td style="vertical-align: middle;">{{item.tagNo}}</td>
                <td style="vertical-align: middle;">{{item.province}}</td>
                <td style="vertical-align: middle;">{{displayLocalDate(item.tagRegis)}}</td>
                <td class="text-right" style="vertical-align: middle;">{{item.price1 + item.vatPrice1 | number:'1.2-2'}}
                </td>
                <td class="text-right" style="vertical-align: middle;">{{item.price2 | number:'1.2-2'}}</td>
                <td style="vertical-align: middle;">{{item.bookingNo}}</td>
                <td style="vertical-align: middle;">{{item.sedNo}}</td>
            </tr>
        </ng-template>
    </tbody>
</table>