.selectize-input{
    border-radius: unset; 
}

.selectize-dropdown, .selectize-dropdown.form-control{
    border-radius: unset; 
}

.selectize-input.focus{
    border-color:seagreen;
    border-radius: unset;
    box-shadow: unset;
}