<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th>เลขที่สัญญา</th>
      <th>จำนวนงวด</th>
      <th>ชำระก่อน</th>
      <th>ชำระตรง</th>
      <th>ชำระช้า</th>
      <th>เปอร์เซ็นช้า</th>
      <th>เกรดสัญญา</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="paymentHistory != null">
      <td>{{paymentHistory.contractNo}}</td>
      <td>{{paymentHistory.instalmentEnd}}</td>
      <td>{{paymentHistory.payBefore}}</td>
      <td>{{paymentHistory.payMatch}}</td>
      <td>{{paymentHistory.payLate}}</td>
      <td>{{paymentHistory.rateLate}}</td>
      <td>{{paymentHistory.grade}}</td>
    </tr>
  </tbody>
</table>