<div class="row">
    <div class="col-sm-12">
        <div class="checkbox checkbox-default checkbox-inline">
            <input disabled [checked]="modelBooking.freeAct" id="freeAct" type="checkbox"> 
            <label for="freeAct"> ฟรี พ.ร.บ. </label>
        </div>
        <div class="checkbox checkbox-default checkbox-inline">
            <input disabled [checked]="modelBooking.freeTag" id="freeTag" type="checkbox"> 
            <label for="freeTag"> ฟรี ทะเบียน </label>
        </div>
        <div class="checkbox checkbox-default checkbox-inline">
            <input disabled [checked]="modelBooking.freeWarranty" id="freeWarranty" type="checkbox"> 
            <label for="freeWarranty"> ฟรี ประกันภัย </label>
        </div>
    </div>
</div>