<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10" [ngSwitch]="bookingModel.bookingPaymentType">
        <ng-container *ngSwitchCase="4">
            <h2>ขายเชื่อ</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/">หน้าแรก</a>
                </li>
                <li>
                    <a>ขายเชื่อ</a>
                </li>
                <li class="active">
                    <strong>ทำสัญญา</strong>
                </li>
            </ol>
        </ng-container>
        <ng-container *ngSwitchDefault>
            <h2>เช่าซื้อ</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/">หน้าแรก</a>
                </li>
                <li>
                    <a>เช่าซื้อ</a>
                </li>
                <li class="active">
                    <strong>ทำสัญญาเช่าซื้อ</strong>
                </li>
            </ol>
        </ng-container>

    </div>
    <div class="col-lg-2 text-right pull-right">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div style="margin-bottom: 15em;">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <form action="" class="form-horizontal" #f="ngForm" (ngSubmit)="onSubmit()">
                    <div class="row form-group">
                        <div class="col-lg-12 b-r">
                            <div class="row form-group">
                                <label for="" class="control-label col-lg-2">
                                    ผู้จอง
                                    <span class="required">*</span>
                                </label>
                                <div class="col-lg-4">
                                    <input type="hidden" name="contractBooking"
                                        [(ngModel)]="contractModel.contractBooking">
                                    <input type="text" class="form-control form-control-sm" required disabled
                                        [(ngModel)]="customerFullName" name="customerFullName">
                                </div>
                                <label for="" class="control-label col-lg-2">คู่สมรส:</label>
                                <div class="col-lg-4">
                                    <ng-select [items]="contractMateDropdown" bindValue="value" bindLabel="text"
                                        placeholder="ค้นหาข้อมูลผู้ลูกค้า"
                                        [typeahead]="contractMateTypeahead" name="contractMate"
                                        [(ngModel)]="contractModel.contractMate" [loading]="contractMateLoading"
                                        [loadingText]="contractMateLoadingTxt">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="" class="control-label col-lg-2"
                                    [ngSwitch]="bookingModel.bookingPaymentType">
                                    <span *ngSwitchCase="4">ผู้ซื้อ </span>
                                    <span *ngSwitchDefault>ผู้เช่าซื้อ </span>
                                    <span class="required">*</span>
                                </label>
                                <div class="col-lg-4">
                                    <ng-select required [items]="contractHireDropdown" bindValue="value"
                                        bindLabel="text" [typeahead]="contractHireTypeahead"
                                        placeholder="ค้นหาข้อมูลผู้ลูกค้า"
                                        [(ngModel)]="contractModel.contractHire" name="contractHire"
                                        [loading]="contractHireLoading" [loadingText]="contractHireLoadingTxt">
                                    </ng-select>
                                </div>
                            </div>

                            <div class="row form-group">
                                <label for="" class="control-label col-lg-2">
                                    ชื่อจดทะเบียน
                                    <span class="required">*</span>
                                </label>
                                <div class="col-lg-4">
                                    <input type="text" name="cusSellName" [(ngModel)]="bookingModel.cusSellName"
                                        [value]="" class="form-control form-control-sm" required>
                                </div>
                                <label for="" class="control-label col-lg-2">
                                    สถานประกอบการ
                                </label>
                                <div class="col-lg-4">
                                    <input type="text" name="cusTaxBranch" [(ngModel)]="bookingModel.cusTaxBranch"
                                        class="form-control form-control-sm">
                                </div>
                            </div>

                            <div class="row form-group">
                                <label for="" class="control-label col-lg-2">
                                    เลขประจำตัวผู้เสียภาษี
                                    <span class="required">*</span>
                                </label>
                                <div class="col-lg-4">
                                    <input type="text" name="cusTaxNo" [(ngModel)]="bookingModel.cusTaxNo"
                                        class="form-control form-control-sm" required>
                                </div>
                                <label for="" class="control-label col-lg-2">
                                    หมายเหตุ
                                </label>
                                <div class="col-lg-4">
                                    <input type="text" name="sellRemark" [(ngModel)]="bookingModel.sellRemark"
                                        class="form-control form-control-sm">
                                </div>
                            </div>

                            <div class="hr-line-dashed m-b-sm"></div>
                            <h4>
                                ผู้ค้ำประกัน
                            </h4>
                            <div class="row form-group">
                                <label for="" class="control-label col-lg-2">คนที่ 1</label>
                                <div class="col-lg-4">
                                    <ng-select [items]="contractGurantor1Dropdown" bindValue="value" bindLabel="text"
                                        placeholder="ค้นหาข้อมูลผู้ค้ำประกัน" [typeahead]="contractGurantor1Typeahead"
                                        [(ngModel)]="contractModel.contractGurantor1" name="contractGurantor1"
                                        [loading]="contractGurantor1Loading"
                                        [loadingText]="contractGurantor1LoadingTxt"></ng-select>
                                </div>
                                <label for="" class="control-label col-lg-2">
                                    ความสัมพันธ์
                                    <span *ngIf="contractModel.contractGurantor1" class="required">*</span>
                                </label>
                                <div class="col-lg-4">
                                    <input type="text" name="gurantorRelation1"
                                        [(ngModel)]="contractModel.gurantorRelation1" class="form-control">
                                    <!-- <ng-select [required]="contractModel.contractGurantor1" [items]="relationDropdown"
                                        bindValue="value" bindLabel="text" [(ngModel)]="contractModel.gurantorRelation1"
                                        name="gurantorRelation1"></ng-select> -->
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="" class="control-label col-lg-2"> คนที่ 2</label>
                                <div class="col-lg-4">
                                    <ng-select [items]="contractGurantor2Dropdown" bindValue="value" bindLabel="text"
                                        placeholder="ค้นหาข้อมูลผู้ค้ำประกัน" [typeahead]="contractGurantor2Typeahead"
                                        [(ngModel)]="contractModel.contractGurantor2" name="contractGurantor2"
                                        [loading]="contractGurantor2Loading"
                                        [loadingText]="contractGurantor2LoadingTxt"></ng-select>
                                </div>
                                <label for="" class="control-label col-lg-2">
                                    ความสัมพันธ์
                                    <span *ngIf="contractModel.contractGurantor2" class="required">*</span>
                                </label>
                                <div class="col-lg-4">
                                    <input type="text" name="contractGurantor2"
                                        [(ngModel)]="contractModel.contractGurantor2" class="form-control">
                                    <!-- <ng-select [required]="contractModel.contractGurantor2" [items]="relationDropdown"
                                        bindValue="value" bindLabel="text" [(ngModel)]="contractModel.gurantorRelation2"
                                        name="gurantorRelation2"></ng-select> -->
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <h4>สัญญา</h4>
                            <div class="row form-group">
                                <label for="" class="control-label col-lg-2">เลขที่สัญญา</label>
                                <div class="col-lg-4">
                                    <input type="text" class="form-control form-control-sm" required="required" readonly
                                        [(ngModel)]="contractModel.contractNo" name="contractNo">
                                </div>
                                <label for="" class="control-label col-lg-2">
                                    สถานะสัญญา
                                    <span class="required">*</span>
                                </label>
                                <div class="col-lg-4">
                                    <!-- <label class="control-label text-danger">{{contractModel.statusDesc}}</label> -->

                                    <ng-select required [items]="statusDropdown" bindValue="value" bindLabel="text"
                                        [(ngModel)]="contractModel.contractStatus" name="contractStatus"></ng-select>
                                </div>
                            </div>

                            <div class="row form-group">
                                <label for="" class="control-label col-lg-2">
                                    วันที่ทำสัญญา
                                    <span class="required">*</span>
                                </label>
                                <div class="col-lg-4">
                                    <thai-mat-datepicker id="dp1" [(ngModel)]="contractModel.contractDate"
                                        name="contractDate" required>
                                    </thai-mat-datepicker>
                                    <!-- <my-date-picker-th [(ngModel)]="contractModel.contractDate" name="contractDate"
                                        [options]="myDatePickerOptions" (dateChanged)="onChangeContractDate($event)"
                                        required></my-date-picker-th> -->
                                </div>
                            </div>


                            <div class="row form-group">
                                <label for="" class="control-label col-lg-2">
                                    กลุ่มสัญญา
                                    <span class="required">*</span>
                                </label>
                                <div class="col-lg-4">
                                    <ng-select required [items]="contractGroupDropdown" bindValue="value"
                                        bindLabel="text" [(ngModel)]="contractModel.contractGroup" name="contractGroup">
                                    </ng-select>
                                </div>
                                <label for="" class="control-label col-lg-2">
                                    ประเภทสัญญา
                                    <span class="required">*</span>
                                </label>
                                <div class="col-lg-4">
                                    <ng-select required [items]="contractTypeDropdown" bindValue="value"
                                        bindLabel="text" [(ngModel)]="contractModel.contractType" name="contractType">
                                    </ng-select>
                                </div>
                            </div>

                            <div class="row form-group">
                                <label for="" class="control-label col-lg-2">
                                    จุดทำสัญญา
                                    <span class="required">*</span>
                                </label>
                                <div class="col-lg-4">
                                    <ng-select required [items]="zoneDropdown" bindValue="value" bindLabel="text"
                                        [(ngModel)]="contractModel.contractPoint" name="contractPoint"></ng-select>
                                </div>
                                <label for="" class="control-label col-lg-2">
                                    เขตการเก็บเงิน
                                    <span class="required">*</span>
                                </label>
                                <div class="col-lg-4">
                                    <ng-select required [items]="branchDropdown" bindValue="value" bindLabel="text"
                                        [(ngModel)]="contractModel.areaPayment" name="areaPayment"></ng-select>
                                </div>
                            </div>

                            <div class="hr-line-dashed m-b-sm"></div>
                            <h4>ผู้ดำเนินการ</h4>
                            <div class="row form-group">
                                <label for="" class="control-label col-lg-2">
                                    ผู้ทำสัญญา
                                    <span class="required">*</span>
                                </label>
                                <div class="col-lg-4">
                                    <ng-select required [items]="userDropdown" bindValue="value" bindLabel="text"
                                        [(ngModel)]="contractModel.createdBy" name="createdBy"></ng-select>
                                </div>
                                <label for="" class="control-label col-lg-2">
                                    ผู้ตรวจสอบ
                                    <span class="required">*</span>
                                </label>
                                <div class="col-lg-4">
                                    <ng-select required [items]="userDropdown" bindValue="value" bindLabel="text"
                                        [(ngModel)]="contractModel.checkedBy" name="checkedBy"></ng-select>
                                </div>
                            </div>

                            <div class="row form-group">
                                <label for="" class="control-label col-lg-2">
                                    ผู้อนุมัติ
                                    <span class="required">*</span>
                                </label>
                                <div class="col-lg-4">
                                    <ng-select required [items]="userDropdown" bindValue="value" bindLabel="text"
                                        [(ngModel)]="contractModel.approvedBy" name="approvedBy"></ng-select>
                                </div>
                                <label for="" class="control-label col-lg-2">
                                    ผู้ดูแลสัญญา
                                    <span class="required">*</span>
                                </label>
                                <div class="col-lg-4">
                                    <ng-select required [items]="userDropdown" bindValue="value" bindLabel="text"
                                        [(ngModel)]="contractModel.keeperBy" name="keeperBy"></ng-select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <button type="submit" [disabled]="!f.valid" class="btn btn-primary pull-right">
                                        <i class="fa fa-save"></i>&nbsp;&nbsp;บันทึก
                                    </button>
                                </div>
                            </div>

                        </div>
                        <!-- <div class="col-lg-3">
                            <div class="row form-group">
                                <label for="" class="col-lg-7 control-label">
                                    ราคาสินค้า (รวม VAT)
                                </label>
                                <div class="col-lg-5">
                                    <p class="control-label">{{calculateModel.netPrice | number:'1.2-2'}}</p>
                                </div>
                            </div>

                            <div class="row form-group">
                                <label for="" class="col-lg-7 control-label">
                                    เงินดาวน์
                                </label>
                                <div class="col-lg-5">
                                    <p class="control-label">{{calculateModel.depositPrice |
                                        number:'1.2-2'}}
                                        ({{calculateModel.deposit | number:'1.2-2'}}%)</p>
                                </div>
                            </div>

                            <div class="row form-group">
                                <label for="" class="col-lg-7 control-label">
                                    <ng-container [ngSwitch]="bookingModel.bookingPaymentType">
                                        <span *ngSwitchCase="4"> เครดิต</span>
                                        <span *ngSwitchDefault> ระยะเวลาผ่อนชำระ</span>
                                    </ng-container>
                                </label>
                                <div class="col-lg-5">
                                    <ng-container [ngSwitch]="bookingModel.bookingPaymentType">
                                        <div *ngSwitchCase="4">
                                            <p class=" control-label">{{calculateModel.instalmentEnd}}
                                                วัน</p>
                                        </div>
                                        <ng-container *ngSwitchDefault>
                                            <p class=" control-label">
                                                {{calculateModel.instalmentEnd}}
                                                <ng-container [ngSwitch]="calculateModel.typePayment">
                                                    <span *ngSwitchCase="0"> งวด</span>
                                                    <span *ngSwitchCase="1"> ปี</span>
                                                </ng-container>
                                            </p>
                                        </ng-container>
                                    </ng-container>

                                </div>
                            </div>

                            <div class="row form-group" *ngIf="bookingModel.bookingPaymentType != 4">
                                <label for="" class="col-lg-7 control-label">
                                    อัตราดอกเบี้ย/เดือน
                                </label>
                                <div class="col-lg-5">
                                    <div class="input-group">
                                        <p class="control-label">{{calculateModel.interest |
                                            number:'1.2-2'}}%</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <label for="" class="col-lg-7 control-label">
                                    ยอดจัด (รวม VAT)
                                </label>
                                <div class="col-lg-5">
                                    <p class="control-label">{{calculateModel.remain | number:'1.2-2'}}</p>
                                </div>
                            </div>

                            <div class="row form-group" *ngIf="bookingModel.bookingPaymentType != 4">
                                <label for="" class="col-lg-7 control-label">
                                    ค่างวด (รวม VAT)
                                </label>
                                <div class="col-lg-5">
                                    <p class="control-label">{{calculateModel.instalmentPrice |
                                        number:'1.2-2'}}</p>
                                </div>
                            </div>

                            <div class="row form-group">
                                <label for="" class="col-lg-7 control-label">
                                    <ng-container [ngSwitch]="bookingModel.bookingPaymentType">
                                        <span *ngSwitchCase="4">วันที่นับเครดิต</span>
                                        <span *ngSwitchDefault>ชำระงวดแรก</span>
                                    </ng-container>
                                </label>
                                <div class="col-lg-5">
                                    <p class="control-label">{{calculateModel.firstPayment}}</p>
                                </div>
                            </div>

                            <div class="row form-group" *ngIf="bookingModel.bookingPaymentType == 4">
                                <label for="" class="col-lg-7 control-label">กำหนดชำระ</label>
                                <div class="col-lg-5">
                                    <p class="control-label">{{tempDueDate}}</p>
                                </div>
                            </div>

                            <div class="row form-group" *ngIf="bookingModel.bookingPaymentType != 4">
                                <label for="" class="col-lg-7 control-label">
                                    ชำระทุกวันที่
                                </label>
                                <div class="col-lg-5">
                                    <p class="control-label">{{calculateModel.dueDate}} ของเดือน</p>
                                </div>
                            </div>

                            <div class="row form-group">
                                <label for="" class="col-lg-7 control-label">
                                    Vat ณ วันที่ทำสัญญา
                                </label>
                                <div class="col-lg-5">
                                    <div class="input-group">
                                        <p class="control-label">{{calculateModel.nowVat}}%</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group" *ngIf="bookingModel.bookingPaymentType != 4">
                                <label for="" class="col-lg-7 control-label">อัตราดอกเบี้ยต่อปี</label>
                                <div class="col-lg-5">
                                    <div class="input-group">
                                        <p class="control-label">{{calculateModel.mrr | number:'1.2-2' }}</p>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </form>

            </div>
        </div>
        <app-contract-item [contractItemModel]="contractItemModel"></app-contract-item>

    </div>

</div>