<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>ทำสัญญาเช่าซื้อ</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">หน้าแรก</a>
            </li>
            <li>
                <a>สินเชื่อ</a>
            </li>
            <li class="active">
                <strong>ทำสัญญาเช่าซื้อ</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2 text-right pull-right">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <label for="" class="control-label col-lg-2">เลขที่สัญญา :</label>
        <div class="form-group col-lg-3">
            <input type="text" class="form-control form-control-sm" required="required">
        </div>
        <label for="" class="control-label col-lg-2">ประเภทสัญญา :</label>
        <div class="form-group col-lg-3">
            <input type="text" class="form-control form-control-sm" required="required">
        </div>
    </div>

    <div class="row">
        <label for="" class="control-label col-lg-2">เขตการเก็บเงิน :</label>
        <div class="form-group col-lg-3">
            <input type="text" class="form-control form-control-sm" required="required">
        </div>
        <label for="" class="control-label col-lg-2">จุดทำสัญญา :</label>
        <div class="form-group col-lg-3">
            <input type="text" class="form-control form-control-sm" required="required">
        </div>
    </div>

    <div class="row">
        <label for="" class="control-label col-lg-2">กลุ่มสัญญา :</label>
        <div class="form-group col-lg-3">
            <input type="text" class="form-control form-control-sm" required="required">
        </div>
        <label for="" class="control-label col-lg-2">ผู้ค้ำประกัน :</label>
        <div class="form-group col-lg-3">
            <input type="text" class="form-control form-control-sm" required="required">
        </div>
    </div>

    <div class="row">
        <label for="" class="control-label col-lg-2">ผู้ทำสัญญา :</label>
        <div class="form-group col-lg-3">
            <input type="text" class="form-control form-control-sm" required="required">
        </div>
        <label for="" class="control-label col-lg-2">ผู้ตรวจสอบ :</label>
        <div class="form-group col-lg-3">
            <input type="text" class="form-control form-control-sm" required="required">
        </div>
    </div>

    <div class="row">
        <label for="" class="control-label col-lg-2">ผู้อนุมัติ :</label>
        <div class="form-group col-lg-3">
            <input type="text" class="form-control form-control-sm" required="required">
        </div>
        <label for="" class="control-label col-lg-2">ผู้ดูแลสัญญา :</label>
        <div class="form-group col-lg-3">
            <input type="text" class="form-control form-control-sm" required="required">
        </div>
    </div>
</div>