<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>งวดที่</th>
            <th>วันที่ครบกำหนด</th>
            <th>ค่างวด</th>
            <th>ดอดเบี้ยล่าช้า</th>
            <th>ยอดคงค้าง</th>
            <th>จำนวนวัน</th>
            <th>หมายเหตุ</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of delayedInterest;">
            <td>{{item.InstalmentNo}}</td>
            <td>{{item.DueDate}}</td>
            <td>{{item.Balance}}</td>
            <td>{{item.FineSum}}</td>
            <td>{{item.Outstanding}}</td>
            <td>{{item.DelayDueDate}}</td>
            <td>{{item.Remark}}</td>
        </tr>
    </tbody>
</table>

<div class="row">
    <label class="col-md-3">ยอดรวม ด/บ ล่าช้าเดิม :</label>
    <div class="col-md-2"></div>
    <label class="col-md-3">ยอดรวม ด/บ ล่าช้าใหม่ :</label>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <label class="col-md-3">ยอดปรับ :</label>
    <div class="col-md-2"></div>
    <label class="col-md-3">ยอดสุทธิ :</label>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <label class="col-md-3">ยอดรับชำระ :</label>
    <div class="col-md-2"></div>
    <label class="col-md-3">ยอดคงค้าง :</label>
    <div class="col-md-2"></div>
</div>
{{delayedInterest | json}}