<div class="modal-dialog modal-md">
  <div class="modal-content animated fadeIn">
    <form class="form-horizontal" action="" #frmPrint="ngForm">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">พิมพ์</h4>
        <p>{{title}}</p>
      </div>

      <div class="modal-body">
        <div class="row">
          <label for="" class="col-lg-4 control-label">เลขที่</label>
          <div class="col-lg-8">
            <ng-select required [items]="slipList | async" bindValue="slipNo" bindLabel="slipNo" name="slipNo" ngModel>
              <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                {{item.slipNo}}<span *ngIf="item.disabled">&nbsp;(ยกเลิก)</span>
              </ng-template>
            </ng-select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button (click)="onPrint(frmPrint.value.slipNo)" class="btn btn-primary" [disabled]="frmPrint.invalid">ตกลง</button>
      </div>
    </form>
  </div>
</div>