<form action="" [formGroup]="formGroup">
  <div class="row form-group">
    <label class="col-lg-4 control-label is-required">ยอดชำระเงิน</label>
    <div class="col-lg-8">
      <input type="number" formControlName="paymentPrice" class="form-control">
    </div>
  </div>
  <div class="row form-group">
    <label class="col-lg-4 control-label is-required">วันที่ชำระเงิน</label>
    <div class="col-lg-8">
      <thai-mat-datepicker id="dp" formControlName="paymentDate"></thai-mat-datepicker>
    </div>
  </div>
  <div class="row form-group">
    <label class="col-lg-4 control-label">เลขที่อ้างอิง</label>
    <div class="col-lg-8">
      <input type="text" formControlName="documentRef" class="form-control">
    </div>
  </div>
  <div class="row form-group">
    <label class="col-lg-4 control-label is-required">เลขที่บัญชี</label>
    <div class="col-lg-8">
      <ng-container *ngIf="!(disabledForm | async); else elseBank">
        <ng-select [items]="banking" (change)="selectItem($event)" dropdownPosition="auto" [virtualScroll]="true"
          placeholder="เลือกบัญชีธนาคาร" bindValue="accBankId" bindLabel="accBankNumber" formControlName="accBankId"
          [searchFn]="customSearchFn">
          <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
            <p class="m-b-xxs">เลขที่บัญชี : {{item.accBankNumber}}</p>
            <small class="text-muted">ธนาคาร : {{item.bankName}}</small><br>
            <small class="text-muted">สาขา : {{item.accBankName}}</small>
            <hr class="hr-dashed m-t-xs m-b-xs">
          </ng-template>
        </ng-select>
      </ng-container>
      <ng-template #elseBank>
        <input type="text" formControlName="accBankNumber" class="form-control">
      </ng-template>
    </div>
  </div>
  <div class="row form-group">
    <label class="col-lg-4 control-label">ธนาคาร</label>
    <div class="col-lg-8">
      <input type="text" formControlName="bankName" disabled class="form-control">
    </div>
  </div>
  <div class="row form-group">
    <label class="col-lg-4 control-label">สาขา</label>
    <div class="col-lg-8">
      <input type="text" formControlName="accBankName" disabled class="form-control">
    </div>
  </div>
</form>