<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="profile-element" dropdown>
                    <!-- <img alt="image" class="img-circle" src="assets/images/profile_small.jpg"> -->
                    <a dropdownToggle>
                        <span class="block m-t-xs">
                            <strong class="font-bold">Super Admin</strong>
                        </span>
                        <span class="text-muted text-xs block">Super admin
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="animated fadeInRight dropdown-menu" *dropdownMenu>
                        <li>
                            <a href="javaScript:void(0);">Profile</a>
                        </li>
                        <li>
                            <a href="javaScript:void(0);">Contacts</a>
                        </li>
                        <li>
                            <a href="javaScript:void(0);">Mailbox</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javaScript:void(0);">Logout</a>
                        </li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            
            <li [ngClass]="{active: activeRoute('dashboards')}">
                    <a href="#">
                        <i class="fa fa-th-large"></i>
                        <span class="nav-label">Dashboards</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('dashboards')}">
                        <li [ngClass]="{active: activeRoute('booking')}">
                            <a [routerLink]="['/dashboards/booking']">งานขาย</a>
                        </li>
                    </ul>
                </li>
            <li>
                <a href="javaScript:void(0);">
                    <i class="fa fa-cog"></i>
                    <span class="nav-label">ตั้งค่าสาขา</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="http://www.dgtstartup.com/kkhonda/backoffice/home.php?show=_finance_list">
                            <span class="nav-label">จัดการบริษัทไฟแนนซ์</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.dgtstartup.com/kkhonda/backoffice/home.php?show=_warehouse_list">
                            <span class="nav-label">จัดการคลังสินค้า</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.dgtstartup.com/kkhonda/backoffice/home.php?show=_warehousel_list">
                            <span class="nav-label">จัดการตำแหน่งคลังสินค้า</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javaScript:void(0);">
                    <i class="fa fa-cubes"></i>
                    <span class="nav-label">คลังสินค้า</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="http://www.dgtstartup.com/kkhonda/backoffice/home.php?show=_stockm_list">
                            <span class="nav-label">รายการสินค้าในคลัง (รถ)</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.dgtstartup.com/kkhonda/backoffice/home.php?show=_stockp_list">
                            <span class="nav-label">รายการสินค้าในคลัง (อะไหล่)</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.dgtstartup.com/kkhonda/backoffice/home.php?show=_receive_dos_import">
                            <span class="nav-label">บันทึกรายการรับสินค้าจาก DOS/DCS (รถ)</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.dgtstartup.com/kkhonda/backoffice/home.php?show=_pending_receivem_list">
                            <span class="nav-label">รายการรอรับเข้าคลัง (รถ)</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.dgtstartup.com/kkhonda/backoffice/home.php?show=_pending_receivep_list">
                            <span class="nav-label">รายการรอรับเข้าคลัง (อะไหล่)</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.dgtstartup.com/kkhonda/backoffice/home.php?show=_cyclecount_action_list">
                            <span class="nav-label">ตรวจนับสินค้า</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.dgtstartup.com/kkhonda/backoffice/home.php?show=_cyclecountc_list">
                            <span class="nav-label">ตรวจนับสต๊อกสินค้า (รถ)</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.dgtstartup.com/kkhonda/backoffice/home.php?show=_cyclecount_list">
                            <span class="nav-label">ตรวจนับสต๊อกสินค้า (อะไหล่)</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javaScript:void(0);">
                    <i class="fa fa-cubes"></i>
                    <span class="nav-label">ตรวจสอบสินค้า</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="http://www.dgtstartup.com/kkhonda/backoffice/home.php?show=_checkm_list">
                            <span class="nav-label">ตรวจสอบสินค้า (รถ)</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.dgtstartup.com/kkhonda/backoffice/home.php?show=_checkp_list">
                            <span class="nav-label">ตรวจสอบสินค้า (อะไหล่)</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javaScript:void(0);">
                    <i class="fa fa-file"></i>
                    <span class="nav-label">งานขาย</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="http://www.dgtstartup.com/kkhonda/backoffice/home.php?show=_booking">
                            <span class="nav-label">จองรถ</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.dgtstartup.com/kkhonda/backoffice/home.php?show=_booking_list">
                            <span class="nav-label">รายการจองรถ</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.dgtstartup.com/kkhonda/backoffice/home.php?show=_booking_list_cancel">
                            <span class="nav-label">รายการยกเลิกใบจอง</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.dgtstartup.com/kkhonda/backoffice/home.php?show=_sell_list">
                            <span class="nav-label">รายการขายรถ</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li [ngClass]="{active: activeRoute('credit')}">
                <a href="javaScript:void(0);">
                    <i class="fa fa-file"></i>
                    <span class="nav-label">เช่าซื้อ</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('credit')}">
                    <li [ngClass]="{active: activeRoute('credit')}">
                        <a [routerLink]="['/credit/contract-list/active']">
                            <span class="nav-label">รายการสัญญาเช่าซื้อ</span>
                        </a>
                    </li>
                    <li [ngClass]="{active: activeRoute('credit')}">
                        <a [routerLink]="['/credit/rpt-sum-close-contract']">
                            <span class="nav-label">รายงานการปิดสัญญา</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javaScript:void(0);">
                    <i class="fa fa-users"></i>
                    <span class="nav-label">ผู้ใช้งานระบบ</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="http://www.dgtstartup.com/kkhonda/backoffice/home.php?show=_group_page">
                            <span class="nav-label">กลุ่มผู้ใช้งาน</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.dgtstartup.com/kkhonda/backoffice/home.php?show=_user_list">
                            <span class="nav-label">ผู้ใช้งาน</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javaScript:void(0);">
                    <i class="fa fa-file-o"></i>
                    <span class="nav-label">รายงาน</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="http://www.dgtstartup.com/kkhonda/backoffice/home.php?show=_report_bike">
                            <span class="nav-label">สต๊อกสินค้า (รถ)</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.dgtstartup.com/kkhonda/backoffice/home.php?show=_report_parts">
                            <span class="nav-label">สต๊อกสินค้า (อะไหล่)</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.dgtstartup.com/kkhonda/backoffice/home.php?show=_report_receive">
                            <span class="nav-label">รายการแจ้งรับสินค้า (รถ)</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.dgtstartup.com/kkhonda/backoffice/home.php?show=_report_receivep">
                            <span class="nav-label">รายการแจ้งรับสินค้า (อะไหล่)</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.dgtstartup.com/kkhonda/backoffice/home.php?show=_report_stockreceive_m">
                            <span class="nav-label">รายงานการบันทึกรับสินค้าเข้าคลัง (รถ)</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.dgtstartup.com/kkhonda/backoffice/home.php?show=_report_stockreceive_p">
                            <span class="nav-label">รายงานการบันทึกรับสินค้าเข้าคลัง (อะไหล่)</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.dgtstartup.com/kkhonda/backoffice/home.php?show=_report_booking">
                            <span class="nav-label">รายงานจอง</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.dgtstartup.com/kkhonda/backoffice/home.php?show=_report_booking_cancel">
                            <span class="nav-label">รายงานยกเลิกจอง</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.dgtstartup.com/kkhonda/backoffice/home.php?show=_report_sell_m">
                            <span class="nav-label">รายงานการขายรถ</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javaScript:void(0);">
                    <i class="fa fa-sign-out"></i>
                    <span class="nav-label">ออกจากระบบ</span>
                </a>
            </li>

        </ul>

    </div>
</nav>