<!-- <div id="pageloader" class="pageloader" [ngClass]="{'is-active': show}"> -->
<!-- <span class="title">Pageloader</span> -->
<div class="page-loader-wrapper" *ngIf="show">
  <div class="loader">
    <div class="sk-spinner sk-spinner-cube-grid">
      <div class="sk-cube"></div>
      <div class="sk-cube"></div>
      <div class="sk-cube"></div>
      <div class="sk-cube"></div>
      <div class="sk-cube"></div>
      <div class="sk-cube"></div>
      <div class="sk-cube"></div>
      <div class="sk-cube"></div>
      <div class="sk-cube"></div>
    </div>
    <p>Please wait...</p>
  </div>
</div>
<!-- </div> -->