<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>งานขายไฟแนนซ์</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">หน้าแรก</a>
      </li>
      <li>
        <span>เช่าซื้อ</span>
      </li>
      <li class="active">
        <strong>คำนวณค่างวด</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2 text-right pull-right">

  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div style="margin-bottom: 15em;">
    <div class="row form-group">
      <div class="col-md-6">
        <div class="ibox float-e-margins">
          <div class="ibox-content">

            <form autocomplete="off" class="form-horizontal" [formGroup]="formCalculate">
              <div class="row form-group">
                <label for="" class="col-md-4 control-label">ค้นหา</label>
                <div class="col-md-8">
                  <ng-select [items]="engineDropdown" [typeahead]="engineTypeahead" formControlName="logReceiveId"
                    (change)="selectItemEnging($event)" dropdownPosition="auto" bindLabel="text" bindValue="value"
                    labelForId="model" [virtualScroll]="true" placeholder="ค้นหาเลขเครื่อง, เลขโครง"
                    [loading]="searchEngineLoading" [loadingText]="searchEngineLoadingTxt">
                    <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                      <span><b>หมายเลขเครื่อง: </b>{{item.engineNo}}</span><br>
                      <span><b>หมายเลขตัวถัง: </b> {{item.frameNo}}</span>
                      <hr class="hr-dashed m-t-xs m-b-xs">
                    </ng-template>
                  </ng-select>
                </div>
              </div>
              <div class="row form-group">
                <label for="" class="col-md-4 control-label is-required">หมายเลขเครื่อง</label>
                <div class="col-md-8">
                  <input type="text" required formControlName="engineNo" class="form-control" readonly>
                </div>
              </div>
              <div class="row form-group">
                <label for="" class="col-md-4 control-label is-required">หมายเลขตัวถัง</label>
                <div class="col-md-8">
                  <input type="text" required formControlName="frameNo" class="form-control" readonly>
                </div>
              </div>
              <div class="row form-group">
                <label for="" class="col-md-4 control-label is-required">ผู้ซื้อ</label>
                <div class="col-md-8">
                  <ng-select required [items]="contractHireDropdown" bindValue="value" bindLabel="text"
                    [typeahead]="contractHireTypeahead" placeholder="ค้นหาข้อมูลลูกค้า" formControlName="contractHire"
                    [loading]="contractHireLoading" [loadingText]="contractHireLoadingTxt">
                  </ng-select>
                </div>
              </div>
              <hr class="hr-dashed">

              <div class="row form-group">
                <label for="" class="col-md-4 control-label">ราคาสินค้า (รวม VAT)</label>
                <div class="col-md-8">
                  <span
                    class="form-control disabled">{{formCalculate.get('outStandingPrice').value | number:'1.0-0':'en-US'}}</span>
                </div>
              </div>

              <div class="row form-group">
                <label for="" class="col-md-4 control-label is-required">
                  เงินดาวน์
                </label>
                <div class="col-md-8">
                  <div class="input-group">
                    <input type="number" required formControlName="depositPrice" class="form-control"
                      (keyup)="onChangeDepositPrice(); instalmentCalculate();">
                    <span class="input-group-addon">บาท</span>
                  </div>
                </div>
              </div>
              <div class="row form-group">
                <label for="" class="col-md-4 control-label is-required">
                  เงินดาวน์
                </label>
                <div class="col-md-8">
                  <div class="input-group">
                    <input type="number" required formControlName="deposit" class="form-control"
                      (keyup)="onChangeDeposit(); instalmentCalculate();">
                    <span class="input-group-addon">&nbsp;&nbsp;%&nbsp;&nbsp;</span>
                  </div>
                </div>
              </div>
              <div class="row form-group">
                <label for="" class="col-md-4 control-label">
                  เงินมัดจำ
                </label>
                <div class="col-md-8">
                  <span
                    class="form-control disabled">{{formCalculate.get('bookDeposit').value | number:'1.0-0':'en-US'}}</span>
                </div>
              </div>

              <div class="row form-group" *ngIf="formCalculate.get('bookDeposit').value > 0.00">
                <label for="" class="col-md-4 control-label is-required">
                  การคืนเงินมัดจำ
                </label>
                <div class="col-md-8">
                  <div class="radio radio-info radio-inline">
                    <input type="radio" id="returnDepostit0" value=1 required formControlName="returnDeposit"
                      (change)="onReturnDeposit()">
                    <label for="returnDepostit0">คืนเงินมัดจำ</label>
                  </div>
                  <div class="radio radio-info radio-inline">
                    <input type="radio" id="returnDepostit1" value=0 required formControlName="returnDeposit"
                      (change)="onReturnDeposit()">
                    <label for="returnDepostit1">ใช้เป็นเงินดาวน์</label>
                  </div>
                </div>
              </div>

              <div class="row form-group">
                <label for="" class="col-md-4 control-label">ราคาสินค้าคงเหลือ</label>
                <div class="col-md-8">
                  <span
                    class="form-control disabled">{{formCalculate.get('netPrice').value | number:'1.0-0':'en-US'}}</span>
                </div>
              </div>

              <div class="row form-group">
                <label for="" class="col-md-4 control-label is-required">
                  เลือกบริษัทไฟแนนซ์
                </label>
                <div class="col-md-8">
                  <ng-select [items]="leasingList" bindValue="leasingCode" bindLabel="leasingName" required
                    placeholder="เลือกบริษัทไฟแนนซ์" formControlName="contractOwner"
                    (change)="selectItemLeasing($event)">
                  </ng-select>
                </div>
              </div>

              <div class="row form-group">
                <label for="" class="col-md-4 control-label is-required">
                  อัตราดอกเบี้ย/เดือน
                </label>
                <div class="col-md-8">
                  <ng-select [items]="interestList" formControlName="interest" (change)="selectItemInterest($event)"
                    dropdownPosition="auto" bindValue="fiintNo" bindLabel="fiintNo" [virtualScroll]="true"
                    placeholder="เลือกอัตราดอกเบี้ย">
                    <ng-template ng-option-tmp let-item="item">
                     <b>ดอกเบี้ย {{item.fiintNo}}%</b><br>
                      <ng-container *ngFor="let com of item.leasingComList">
                        <small>
                          <i style="padding-left: 14px;">เงื่อนไข</i>
                          <ol style="padding-left: 26px;">
                            <li>ดาวน์ {{com.minDown}} - {{com.maxDown}}%, ผ่อนชำระตั้งแต่ {{com.minCtNo}} - {{com.maxCtNo}} งวด</li>
                            <ul style="padding-left: 24px;">
                              <li>ค่าส่งเสริมการขาย {{com.comPrice}}</li>
                            </ul>
                          </ol>
                        </small>
                      </ng-container>
                      <hr class="hr-dashed m-t-xs m-b-xs">
                    </ng-template>
                  </ng-select>
                </div>
              </div>

              <div class="row form-group">
                <label for="" class="col-md-4 control-label is-required">
                  ระยะเวลาผ่อนชำระ
                </label>
                <div class="col-md-8">
                  <div class="input-group">
                    <input type="number" id="" class="form-control" required formControlName="instalmentEnd"
                      (keyup)="instalmentCalculate()">
                    <span class="input-group-addon">&nbsp;งวด</span>
                  </div>
                </div>
              </div>

              <div class="row form-group">
                <label for="" class="col-md-4 control-label is-required">
                  ชำระงวดแรก
                </label>

                <div class="col-md-8">
                  <thai-mat-datepicker id="dp1" formControlName="firstPayment" (change)="instalmentCalculate();"
                    required></thai-mat-datepicker>
                </div>
              </div>

              <div class="row form-group ">
                <label for="" class="col-md-4 control-label is-required">
                  ชำระทุกวันที่
                </label>
                <div class="col-md-8">
                  <ng-select [items]="dueDate" bindValue="value" bindLabel="text" required formControlName="dueDate"
                    (change)="instalmentCalculate()">
                  </ng-select>
                </div>
              </div>

              <div class="row form-group">
                <label for="" class="col-md-4 control-label">Vat ณ วันที่ทำสัญญา</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <input type="text" formControlName="nowVat" class="form-control number" readonly>
                    <span class="input-group-addon">&nbsp;&nbsp;%&nbsp;&nbsp;</span>
                  </div>
                </div>
              </div>

              <div class="row form-group">
                <label for="" class="col-md-4 control-label">ดอกเบี้ย (รวม VAT)</label>
                <div class="col-md-8">
                  <span
                    class="form-control disabled">{{formCalculate.get('interestPrice').value | number:'1.2-2':'en-US'}}</span>
                </div>
              </div>

              <div class="row form-group">
                <label for="" class="col-md-4 control-label">ยอดจัด (รวม VAT)</label>
                <div class="col-md-8">
                  <span
                    class="form-control disabled">{{formCalculate.get('remain').value | number:'1.2-2':'en-US'}}</span>
                </div>
              </div>

              <div class="row form-group">
                <label for="" class="col-md-4 control-label">ค่างวด (รวม VAT)</label>
                <div class="col-md-8">
                  <span
                    class="form-control disabled">{{formCalculate.get('instalmentPrice').value | number:'1.2-2':'en-US'}}</span>
                </div>
              </div>

              <div class="row form-group">
                <label for="" class="col-md-4 control-label">
                  ค่าส่งเสริมการขาย
                </label>
                <div class="col-md-8">
                  <span
                    class="form-control disabled">{{formCalculate.get('comPrice').value | number:'1.0-0':'en-US'}}</span>
                </div>
              </div>

              <!-- <div class="row form-group">
                <label for="" class="col-md-4 control-label">อัตราดอกเบีย/ปี</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span
                      class="form-control disabled">{{formCalculate.get('mrr').value | number:'1.2-2':'en-US'}}</span>
                    <span class="input-group-addon">&nbsp;&nbsp;%&nbsp;&nbsp;</span>
                  </div>
                </div>
              </div> -->

              <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                  <button type="button" (click)="onSubmit()" [disabled]="formCalculate.invalid"
                    class="btn btn-primary pull-right">
                    <i class="fa fa-save"></i>&nbsp;&nbsp;บันทึก
                  </button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-sm-6 pull-right text-right">
            <h4 class="m-b-xs">เลขที่ใบจอง</h4>
            <h2 class="no-margins text-navy" style="font-weight: normal">{{bookingNo}}</h2>
          </div>
        </div>

        <div class="ibox none-ibox float-e-margins">
          <div class="ibox-title">
            <h5>ข้อมูลผู้จอง</h5>
            <iboxtools></iboxtools>
          </div>
          <div class="ibox-content">
            <app-ex-detail-customer></app-ex-detail-customer>
          </div>
        </div>


        <div class="ibox none-ibox float-e-margins">
          <div class="ibox-title">
            <h5>ข้อมูลรถ</h5>
            <iboxtools></iboxtools>
          </div>
          <div class="ibox-content">
            <app-ex-detail-motobike></app-ex-detail-motobike>
          </div>
        </div>

        <div class="ibox none-ibox float-e-margins">
          <div class="ibox-title">
            <h5>ของแถม</h5>
            <iboxtools></iboxtools>
          </div>
          <div class="ibox-content">
            <div class="table-responsive">
              <app-ex-detail-accessory></app-ex-detail-accessory>
            </div>
          </div>
        </div>

        <div class="ibox none-ibox float-e-margins">
          <div class="ibox-title">
            <h5>รายการฟรี</h5>
            <iboxtools></iboxtools>
          </div>
          <div class="ibox-content">
            <app-ex-detail-free></app-ex-detail-free>
          </div>
        </div>
      </div>
    </div>
    <app-contract-item [contractItemModel]="contractItemModel"></app-contract-item>
  </div>
</div>