<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>บันทึกรับคืนเรื่องจากการดำเนินการ</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">หน้าแรก</a>
      </li>
      <li>งานทะเบียน</li>
      <li class="active">
        <strong>รายการ</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2 text-right pull-right">
    <h3>&nbsp;</h3>
    <a [routerLink]="['/ris/clear-money', ActionMode.Create]" class="btn btn-primary">
      <i class="fa fa-paper-plane-o"></i> บันทึกรับคืนเรื่อง
    </a>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <table class="table table-stripped table-hover display nowrap set-dataTable" style="width: 100%;">
        <thead>
          <tr>
            <th class="text-center">ลำดับ</th>
            <th></th>
            <th>เลขที่เอกสาร</th>
            <th>วันที่ส่งเรื่อง</th>
            <th>ผู้ดำเนินการ</th>
            <th>สถานะ</th>
            <th class="text-right">ค่าดำเนินการ</th>
            <th>หมายเหตุ</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="RevList.length == 0; else else_tr;">
            <td colspan="9" class="text-center">
              <div [ngSwitch]="loading">
                <div *ngSwitchCase="1">
                  <i class="fa fa-exclamation-circle fa-2x" aria-hidden="true"></i>
                  <br>
                  <p>ไม่มีข้อมูล</p>
                </div>
                <div *ngSwitchCase="2">
                  <i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i>
                  <br>
                  <p>มีบางอย่างผิดพลาด</p>
                </div>
                <div *ngSwitchDefault>
                  <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                  <br>
                  <p>รอสักครู่...</p>
                </div>
              </div>
            </td>
          </tr>
          <ng-template #else_tr>
            <tr *ngFor="let item of RevList; let i = index">
              <td class="text-center" [attr.data-order]="i">{{i+1}}</td>
              <td class="text-center">
                <button class="btn btn-xs" [ngClass]="{'btn-info': item.status != RevStatus.Cancel}"
                  [routerLink]="['/ris/clear-money', ActionMode.Edit, item.revNo]"
                  [disabled]="item.status == RevStatus.Cancel">
                  <i class="fa fa-pencil"></i>
                  แก้ไข
                </button>&nbsp;
                <a class="btn btn-info btn-outline btn-xs" [routerLink]="['/ris/clear-money-detail', item.revNo]">
                  <i class="fa fa-info-circle"></i>
                  รายละเอียด
                </a>
              </td>
              <td>{{item.revNo}}</td>
              <td [attr.data-order]="item.revId">
                {{displayLocalDate(item.createDate)}}
              </td>
              <td>{{item.createName}}</td>
              <td [ngClass]="{
                    'text-danger': item.status == RevStatus.Cancel,
                    'text-navy': item.status == RevStatus.Normal,
                    'text-muted': item.status == RevStatus.Borrowed
                  }">
                {{item.statusDesc}}
              </td>
              <td class="text-right" [attr.data-order]="item.totalPrice2">
                {{item.totalPrice2 | number:'1.2-2'}}
              </td>
              <td>{{item.remark}}</td>
            </tr>
          </ng-template>

        </tbody>
      </table>
    </div>
  </div>
</div>