<div *ngIf="path === 'selling'; else elseBlock">
    <form form class="form-horizontal">

        <h4>ค่างวด/ผ่อนชำระ</h4>
        <div class="row">
          <label for="" class="col-lg-2 col-md-2 control-label">
            สถาบันการเงิน :
            <span class="required">*</span>
          </label>
          <div class="col-md-3 form-group m-b-sm">
            <ng-select 
              [items]="modelSellActivity" 
              groupBy="sellTypeName" 
              [(ngModel)]="model.sellAcitvityId" 
              bindLabel="activityName" 
              bindValue="activityId"
              name="sellActivity">
                <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                    <strong>{{item.sellTypeName}}</strong>
                </ng-template>
            </ng-select>
          </div>
        </div>
      
        <div class="hr-line-dashed m-t-xs"></div>
      
        <div class="row">
      
          <label for="" class="col-md-2 control-label">
            เงินดาวน์ :
            <span class="required">*</span>
          </label>
          <div class="form-group col-md-2">
            <div class="input-group">
              <input type="text" name="" id="" class="form-control number" appInputmask>
              <span class="input-group-addon">%</span>
            </div>
          </div>
      
          <label for="" class="col-md-2 control-label">
            จำนวนงวด :
            <span class="required">*</span>
          </label>
          <div class="form-group col-md-2">
            <ng-select [items]="instalment" bindValue="value" bindLabel="text" placeholder="" [(ngModel)]="model.instalmentEnd"
              name="payStatus">
            </ng-select>
          </div>
          <label for="" class="col-md-2 control-label">
            ดอกเบี้ย/ปี :
            <span class="required">*</span>
          </label>
          <div class="form-group col-md-2">
            <div class="input-group">
              <input type="text" name="" id="" class="form-control number" appInputmask>
              <span class="input-group-addon">%</span>
            </div>
          </div>
        </div>
      
        <div class="row">
          <label for="" class="col-md-2 control-label">
            เงินดาวน์ :
            <span class="required">*</span>
          </label>
          <div class="form-group col-md-2">
            <input type="text" name="" id="" class="form-control number" appInputmask>
          </div>
      
          <label for="" class="col-md-2 control-label">
            ยอดจัด :
            <span class="required">*</span>
          </label>
          <div class="form-group col-md-2">
            <input type="text" name="" id="" class="form-control number" appInputmask>
          </div>
      
          <label for="" class="col-md-2 control-label">
            ค่างวด :
            <span class="required">*</span>
          </label>
          <div class="form-group col-md-2">
            <input type="text" name="" id="" class="form-control number" appInputmask>
          </div>
        </div>
      
        <div class="row">
          <label for="" class="col-md-2 control-label">
            ชำระงวดแรก :
            <span class="required">*</span>
          </label>
          <div class="form-group col-md-2">
            <input type="date" name="" id="" class="form-control">
          </div>
      
          <label for="" class="col-md-2 control-label">
            ชำระทุกวันที่ :
            <span class="required">*</span>
          </label>
          <div class="form-group col-md-2">
            <input type="text" name="" id="" class="form-control">
          </div>
      
          <label for="" class="col-md-2 control-label">
            Vat ณ วันที่ทำสัญญา :
            <span class="required">*</span>
          </label>
          <div class="form-group col-md-2">
            <div class="input-group">
              <input type="text" name="" id="" class="form-control number" appInputmask>
              <span class="input-group-addon">%</span>
            </div>
          </div>
        </div>
      </form>
</div>
<ng-template #elseBlock>
    <form form class="form-horizontal">

        <h4>ค่างวด/ผ่อนชำระ</h4>
        <div class="row">
          <label for="" class="col-lg-2 col-md-2 control-label">
            สถาบันการเงิน :
            <span class="required">*</span>
          </label>
          <div class="col-md-3 form-group m-b-sm">
            <ng-select 
              [items]="modelSellActivity" 
              groupBy="sellTypeName" 
              [(ngModel)]="model.sellAcitvityId" 
              bindLabel="activityName" 
              bindValue="activityId"
              name="sellActivity">
                <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                    <strong>{{item.sellTypeName}}</strong>
                </ng-template>
            </ng-select>
          </div>
        </div>
      
        <div class="hr-line-dashed m-t-xs"></div>
      
        <div class="row">
      
          <label for="" class="col-md-2 control-label">เงินดาวน์ :</label>
          <div class="form-group col-md-2">
            <div class="input-group">
              <input type="text" name="" id="" class="form-control number" appInputmask>
              <span class="input-group-addon">%</span>
            </div>
          </div>
      
          <label for="" class="col-md-2 control-label">จำนวนงวด :</label>
          <div class="form-group col-md-2">
            <ng-select [items]="instalment" bindValue="value" bindLabel="text" placeholder="" [(ngModel)]="model.instalmentEnd"
              name="payStatus">
            </ng-select>
          </div>
          <label for="" class="col-md-2 control-label">ดอกเบี้ย/ปี :</label>
          <div class="form-group col-md-2">
            <div class="input-group">
              <input type="text" name="" id="" class="form-control number" appInputmask>
              <span class="input-group-addon">%</span>
            </div>
          </div>
        </div>
      
        <div class="row">
          <label for="" class="col-md-2 control-label">เงินดาวน์ :</label>
          <div class="form-group col-md-2">
            <input type="text" name="" id="" class="form-control number" appInputmask>
          </div>
      
          <label for="" class="col-md-2 control-label">ยอดจัด :</label>
          <div class="form-group col-md-2">
            <input type="text" name="" id="" class="form-control number" appInputmask>
          </div>
      
          <label for="" class="col-md-2 control-label">ค่างวด :</label>
          <div class="form-group col-md-2">
            <input type="text" name="" id="" class="form-control number" appInputmask>
          </div>
        </div>
      
        <div class="row">
          <label for="" class="col-md-2 control-label">ชำระงวดแรก :</label>
          <div class="form-group col-md-2">
            <input type="date" name="" id="" class="form-control">
          </div>
      
          <label for="" class="col-md-2 control-label">ชำระทุกวันที่ :</label>
          <div class="form-group col-md-2">
            <input type="text" name="" id="" class="form-control">
          </div>
      
          <label for="" class="col-md-2 control-label">Vat ณ วันที่ทำสัญญา :</label>
          <div class="form-group col-md-2">
            <div class="input-group">
              <input type="text" name="" id="" class="form-control number" appInputmask>
              <span class="input-group-addon">%</span>
            </div>
          </div>
        </div>
      </form>
</ng-template>
