<div class="modal-dialog modal-md">
  <div class="modal-content animated fadeIn">
    <form class="form-horizontal" action="" #fmPrompt="ngForm">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">ยกเลิกใบเสร็จ</h4>
      </div>

      <div class="modal-body">

        <form action="" [formGroup]="cancelReceiptFormGroup">
          <div class="row form-group">
            <label for="" class="col-md-3 control-label is-required">เลขที่ใบเสร็จ</label>
            <div class="col-md-9">
              <input type="text" formControlName="contractId" [(ngModel)]="contractId" hidden>
              <ng-select [items]="receiptList" bindValue="receiptNo" bindLabel="receiptNo" formControlName="slipNo">
                <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                  {{item.receiptNo}}<span *ngIf="item.disabled">&nbsp;(ยกเลิก)</span>
                </ng-template>
              </ng-select>
            </div>
          </div>
          <div class="row form-group">
            <label for="" class="col-md-3 control-label is-required">สาเหตุในการยกเลิก</label>
            <div class="col-md-9">
              <ng-select [items]="reasonDropdown | async" bindValue="text" bindLabel="text" formControlName="reason">
              </ng-select>
            </div>
          </div>
          <div class="row form-group" *ngIf="cancelReceiptFormGroup.get('confirm').value == false">
            <div class="col-md-12 text-right">
              <button type="button" class="btn btn-primary btn-outline btn-sm"
                [disabled]="cancelReceiptFormGroup.invalid" (click)="onConfirmCancelReceipt(true)">
                <i class="fa fa-check" aria-hidden="true"></i>
                ตกลง
              </button>
            </div>
          </div>
        </form>

        <ng-container *ngIf="cancelReceiptFormGroup.get('confirm').value == true">
          <hr class="hr-dashed">
          <h4 class="m-b-md">ยืนยันการยกเลิก</h4>
          <form action="" [formGroup]="validCancelReceiptFormGroup">
            <div class="row form-group mb-sm">
              <label for="" class="col-md-3 control-label is-required">โดย</label>
              <div class="col-md-9">
                <div class="radio radio-info">
                  <input type="radio" formControlName="gid" id="posit1" value="GroupPage.MANAGER_SITE_DEPARTMENT">
                  <label for="posit1">ผู้จัดการสาขา</label>
                </div>
                <div class="radio radio-info">
                  <input type="radio" formControlName="gid" id="posit2" value="GroupPage.DEBTOR_DEPARTMENT">
                  <label for="posit2">เจ้าหน้าที่ฝ่ายลูกหนี้</label>
                </div>
              </div>
            </div>
            <div class="row form-group mb-sm">
              <label for="" class="col-md-3 control-label is-required">ชื่อผู้ใช้</label>
              <div class="col-md-9">
                <input type="text" formControlName="userName" class="form-control">
              </div>
            </div>
            <div class="row form-group">
              <label for="" class="col-md-3 control-label is-required">รหัสผ่าน</label>
              <div class="col-md-9">
                <input type="password" formControlName="password" class="form-control">
              </div>
            </div>
          </form>
        </ng-container>
      </div>
      <div class="modal-footer" *ngIf="cancelReceiptFormGroup.get('confirm').value == true">
        <button type="button" class="btn btn-primary" [disabled]="validCancelReceiptFormGroup.invalid"
          (click)="onCancelReceipt()">
          <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
          ยืนยัน
        </button>
        &nbsp;
        <button type="button" class="btn btn-default" (click)="onConfirmCancelReceipt(false)">
          <i class="fa fa-undo" aria-hidden="true"></i>
          ยกเลิก
        </button>
      </div>
    </form>
  </div>
</div>