<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>เช่าซื้อ</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">หน้าแรก</a>
            </li>
            <li>
                <a>เช่าซื้อ</a>
            </li>
            <li class="active">
                <strong>รายงานปิดสัญญา</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2 text-right pull-right">
        <button type="button" class="btn btn-primary m-t-md" [disabled]="!f.valid" (click)="onPrint(f.value)">
            <i class="fa fa-print"></i>
            พิมพ์
        </button>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="jumbotron">
        <form action="" #f="ngForm" (ngSubmit)="onSubmit(f.value)">
            <div class="row form-group">
                <label for="sDate" class="col-sm-2">ปิดสัญญาวันที่ :</label>
                <div class="col-sm-3">
                    <my-date-picker-th name="endContractDateStart" ngModel [options]="myDatePickerOptions" required></my-date-picker-th>
                    <!-- <input type="date" name="endContractDateStart" id="sDate" ngModel class="form-control from-control-sm" required> -->
                </div>
            </div>
            <div class="row form-group">
                <label for="eDate" class="col-sm-2">ถึงวันที่ :</label>
                <div class="col-sm-3">
                    <my-date-picker-th name="endContractDateEnd" ngModel [options]="myDatePickerOptions" required></my-date-picker-th>
                    <!-- <input type="date" name="endContractDateEnd" id="eDate" ngModel class="form-control from-control-sm" required> -->
                </div>
            </div>
            <div class="row form-group">
                <label for="branch" class="col-sm-2">สาขา :</label>
                <div class="col-sm-3">
                    <select name="branchId" id="branch" ngModel class="form-control from-control-sm" required>
                        <option value="" selected disabled></option>
                        <option *ngFor="let item of branchDropDown" [value]="item.value">{{item.text}}</option>
                    </select>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-primary btn-md" [disabled]="!f.valid">ค้นหา</button>
                </div>
            </div>
        </form>
    </div>

    <table class="table table-striped" style="width: 100%;">
        <thead>
            <tr>
                <th>ลำดับ</th>
                <th>เลขที่สัญญา</th>
                <th>วันที่ทำสัญญา</th>
                <th>งวดสุดท้ายวันที่</th>
                <th>ชื่อผู้เช่าซื้อ</th>
                <th>วันปิดสัญญา</th>
                <th>ผู้ดูแลสัญญา</th>
                <th>ยอดลูกหนี้</th>
                <th>หมายเหตุ</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of prtSumCloseContract; let i=index;">
                <td>{{i+1}}</td>
                <td>{{item.contractNo}}</td>
                <td>{{item.contractDate}}</td>
                <td>{{item.endDueDate}}</td>
                <td>{{item.hireFullName}}</td>
                <td>{{item.endContractDate}}</td>
                <td>{{item.keeperByFullName}}</td>
                <td>{{item.remainTotal | number:'1.2-2':'en-US'}}</td>
                <td>{{item.contractStatusDesc}}</td>
            </tr>
        </tbody>
    </table>
</div>