/* Import main Inspinia style */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~datatables.net-bs/css/dataTables.bootstrap.css";

@import "assets/styles/style";

// ICheck
// @import "../node_modules/icheck/skins/square/green";
span.required {
    color:red !important;
}
.form-control.ng-invalid.ng-touched:not(:focus) {
   border-color: red !important;
}

.line-dashed {
    border-style: dashed dashed none;
    padding-right: 0px;
    padding-bottom: 0px;
    border-color: #ddd;
    background-color: transparent;
}

.hr-dashed {
    border-top: 1px dashed rgba(0, 0, 0, 0.14) !important
}

.none-ibox {
    margin-bottom: unset;
    .ibox-title {
        border-style: unset;
        min-height: unset;
        padding-left: 0px;
        padding-right:  0px; 
        background-color: transparent;      
        
       h1, h2, h3, h4, h5, h6 {
            margin-bottom: 5px;
        }
    }

    .ibox-tools a{
        color: teal !important;
    }

    .ibox-content {
        border-style: dashed dashed none;
        padding-right: 0px;
        padding-bottom: 0px;
        border-color: #ddd;
        background-color: transparent; 
    }
}

.form-group-md {
    margin-bottom: 5px;
}

.form-horizontal .radio {
    padding-top: unset !important;
}

// .ng-invalid.ng-touched:not(.ng-select-focused) {
//    .ng-select .ng-select-container {
//       border-color: red !important;
//    }
// }
  