/* Import main Inspinia style */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~datatables.net-bs/css/dataTables.bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "assets/styles/style";

$fontSize: 14px;
$fontColor: #676a6c;

.payment-type {
  margin: auto;
  padding: 5px;
  color: #fff;
}

.menu-divider {
  margin: 10px !important;
  border-top: 1px solid #a7b1c2 !important;
}

.cash {
  background-color: #32CD32;
}

.leasing {
  background-color: #FF1493;
}

.hier-purchase {
  background-color: #1E90FF;
}

.credit {
  background-color: #6A5ACD;
}


span.required {
  color: red !important;
}

.form-horizontal .checkbox {
  padding-top: unset !important;
}

.control-label::after {
  content: ':';
  position: absolute;
  right: 6px;
}

.control-label.is-required::before {
  content: '*';
  position: absolute;
  right: -8px;
  color: red;
}

.form-control.ng-invalid.ng-touched:not(:focus) {
  border-color: red !important;
}

.form-control.disabled {
  background-color: #eee;
  opacity: 1;
}

.line-dashed {
  border-style: dashed dashed none;
  padding-right: 0px;
  padding-bottom: 0px;
  border-color: #ddd;
  background-color: transparent;
}

.hr-dashed {
  border-top: 1px dashed rgba(0, 0, 0, 0.14) !important
}

.none-ibox {
  margin-bottom: unset;

  .ibox-title {
    border-style: unset;
    min-height: unset;
    padding-left: 0px;
    padding-right: 0px;
    background-color: transparent;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 5px;
    }
  }

  .ibox-tools a {
    color: teal !important;
  }

  .ibox-content {
    border-style: dashed dashed none;
    padding-right: 0px;
    padding-bottom: 0px;
    border-color: #ddd;
    background-color: transparent;
  }
}

.form-group-md {
  margin-bottom: 5px;
}

.form-horizontal .radio {
  padding-top: unset !important;
}

.mydp {
  border-radius: unset !important;
  border: 1px solid #e5e6e7 !important;

  input {
    width: 98% !important;
  }

  input,
  table * {
    font-family: "open sans", "Helvetica Neue";
  }

  .btnpicker {
    border-radius: unset !important;
  }

  .mydpicon {
    color: $fontColor !important;
  }

}


.ng-select {
  font-size: 14px !important;

  .ng-select-container {
    border: 1px solid #e5e6e7 !important;
    color: #555 !important;
  }
}

.fixed_header {
  table-layout: fixed;
  border-collapse: collapse;
}

.fixed_header tbody {
  display: block;
  width: 100%;
  overflow: auto;
  height: 50px;
}

.fixed_header thead tr {
  display: block;
}

.fixed_header thead {
  // background: black;
  // color:#fff;
}

.fixed_header th,
.fixed_header td {
  padding: 5px;
  width: 200px;
}

._dialog {
  left: 0 !important;
  width: 80%;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-middle {
  vertical-align: middle !important;
}
