<form class="form-horizontal">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <label for="" class="control-label col-lg-3">ค้นหา</label>
                <div class="group col-lg-9">
                    <select name="" id="" class="control search-customer" placeholder="ค้นหา ชื่อ-นามสกุล/เลขที่บัตร ปชช."></select>
                </div>
            </div>
            <div class="row">
                <label for="" class="control-label col-lg-3">รหัสบัตร ปชช.</label>
                <div class="group col-md-9">
                    <input type="text" name="card_id" id="customer_idcard" class="control control-sm">
                </div>
            </div>
            <div class="row">
                <label for="" class="control-label col-lg-3">ชื่อลูกค้า</label>
                <div class="group col-md-4">
                    <input type="text" name="customer_code" id="customer_code" class="control control-sm" placeholder="รหัสลูกค้า">
                </div>
                <div class="group col-md-5">
                    <input type="text" name="customer_prename" id="customer_prename" class="control control-sm" placeholder="คำนำหน้า">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="group col-md-4">
                    <input type="text" name="customer_name" id="customer_name" class="control control-sm" placeholder="ชื่อ">
                </div>
                <div class="group col-md-5">
                    <input type="text" name="customer_surname" id="customer_surname" class="control control-sm" placeholder="นามสกุล">
                </div>
            </div>
            <div class="row">
                <label for="" class="control-label col-lg-3">เบอร์โทร</label>
                <div class="group col-md-9">
                    <input type="text" name="customer_phone" id="customer_phone" class="control control-sm">
                </div>
            </div>
            <div class="row">
                <label for="" class="control-label col-lg-3">อีเมล์</label>
                <div class="group col-md-9">
                    <input type="text" name="customer_email" id="customer_email" class="control control-sm">
                </div>
            </div>
            <div class="row">
                <label for="" class="control-label col-lg-3">ที่อยู่ปัจจุบัน</label>
                <div class="group col-md-9">
                    <textarea name="address" id="address" rows="3" class="control control-sm"></textarea>
                </div>
            </div>
        </div>
    </div>
</form>
