<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>สรุปส่งเรื่องดำเนินการ</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">หน้าแรก</a>
      </li>
      <li>งานทะเบียน</li>
      <li class="active">
        <strong>สรุปส่งเรื่องดำเนินการ</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2 text-right pull-right">
    <button class="btn btn-success m-t-md" type="button" (click)="printSed()">
      <i class="fa fa-print"></i> ใบส่งเรื่องดำเนินการ</button>
    <h3>&nbsp;</h3>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

  <form class="form-horizontal" style="margin-bottom: 15em;" [formGroup]="formGroup" (ngSubmit)="onSubmit()">

    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <div class="hr-line-dashed"></div>
        <div class="row">
          <div class="col-xs-6 col-lg-6">
            <div class="form-group">
              <label class="col-md-4 control-label">เลขที่ใบส่งเรื่อง</label>
              <div class="col-md-8">
                <span class="form-control disabled">{{formGroup.get('sedNo').value}}</span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">วันที่ทำรายการ</label>
              <div class="col-md-8">
                <span class="form-control disabled">
                  {{displayLocalDate(formGroup.get('createDate').value)}}
                </span>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-lg-6">
            <div class="form-group">
              <label class="col-md-4 control-label">ผู้ดำเนินการ (ส่งเรื่อง)</label>
              <div class="col-md-8">
                <span class="form-control disabled">{{formGroup.get('createName').value}}</span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">สถานะ</label>
              <div class="col-md-8">
                <span class="form-control disabled">{{formGroup.get('statusDesc').value}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <label class="col-md-4 control-label">หมายเหตุ</label>
              <div class="col-md-8">
                <textarea formControlName="remark" disabled rows="2" class="form-control"></textarea>
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <ng-container *ngIf="formGroup.get('status').value == SedStatus.Normal; else elseReason">
                <label class="col-md-4 control-label is-required">สาเหตุในการยกเลิก</label>
                <div class="col-md-8">
                  <ng-select required [items]="reasonDropdown" bindValue="text" bindLabel="text"
                    formControlName="reason">
                  </ng-select>
                </div>
              </ng-container>
              <ng-template #elseReason>
                <label class="col-md-4 control-label">สาเหตุในการยกเลิก</label>
                <div class="col-md-8">
                  <span class="form-control disabled">{{formGroup.get('reason').value}}</span>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-content">
            <table class="table table-stripped table-hover display nowrap" width="100%">
              <thead>
                <tr>
                  <th>ลำดับ</th>
                  <th>
                    <div class="checkbox checkbox-primary">
                      <input type="checkbox" id="select" [checked]="checkedAll" disabled>
                      <label for="select"></label>
                    </div>
                  </th>
                  <th>เลขที่ใบรับเรื่อง</th>
                  <th>วันที่รับเรื่อง</th>
                  <th>สาขา</th>
                  <th>เลขทะเบียน</th>
                  <th>จังหวัด</th>
                  <th>หมายเลขตัวถัง</th>
                  <th>เงินรับฝาก</th>
                  <th>ค่าใช้จ่าย</th>
                  <th>หมายเหตุ</th>
                </tr>
              </thead>
              <tbody formArrayName="conList">
                <tr *ngIf="ConList.length == 0; else else_tr;">
                  <td colspan="11" class="text-center">
                    <div [ngSwitch]="loading">
                      <div *ngSwitchCase="1">
                        <i class="fa fa-exclamation-circle fa-2x" aria-hidden="true"></i>
                        <br>
                        <p>ไม่มีข้อมูล</p>
                      </div>
                      <div *ngSwitchCase="2">
                        <i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i>
                        <br>
                        <p>มีบางอย่างผิดพลาด</p>
                      </div>
                      <div *ngSwitchDefault>
                        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                        <br>
                        <p>รอสักครู่...</p>
                      </div>
                    </div>
                  </td>
                </tr>
                <ng-template #else_tr>
                  <tr *ngFor="let item of ConList.controls; let i = index" [formGroupName]="i">
                    <td class="text-center" [attr.data-order]="i">{{i+1}}</td>
                    <td [attr.data-order]="i">
                      <div class="checkbox checkbox-primary">
                        <input type="checkbox" id="select{{i}}" formControlName="IS_CHECKED" disabled>
                        <label for="select{{i}}"></label>
                      </div>
                    </td>
                    <td [attr.data-order]="i">{{item.get('bookingNo')?.value}}</td>
                    <td [attr.data-order]="i">{{displayLocalDate(item.get('createDate').value)}}</td>
                    <td>{{item.get('branchName')?.value}}</td>
                    <td>{{item.get('tagNo')?.value}}</td>
                    <td>{{item.get('branchProvince')?.value}}</td>
                    <td>{{item.get('fNo')?.value}}</td>
                    <td class="text-right" [attr.data-order]="item.get('netPrice1')?.value">
                      {{item.get('netPrice1')?.value | number:'1.2-2'}}
                    </td>
                    <td class="text-right" [attr.data-order]="item.get('price2')?.value">
                      {{item.get('price2')?.value | number:'1.2-2'}}
                    </td>
                    <td>{{item.get('remark').value}}</td>
                  </tr>
                </ng-template>

              </tbody>
            </table>
            <hr>
            <div class="row">
              <div class="col-lg-5"></div>
              <div class="col-lg-7">
                <div class="form-group">
                  <label class="col-lg-6 control-label">ยอดรวมเงินรับฝาก</label>
                  <div class="col-lg-6">
                    <span class="form-control disabled">
                      {{formGroup.get('price1').value | number:'1.2-2'}}</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-6 control-label">ยอดรวมภาษี</label>
                  <div class="col-lg-6">
                    <span class="form-control disabled">
                      {{formGroup.get('vatPrice1').value | number:'1.2-2'}}</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-6 control-label">จำนวนเงินค่าใช้จ่าย</label>
                  <div class="col-lg-6">
                    <span class="form-control disabled">
                      {{formGroup.get('price2').value | number:'1.2-2'}}</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-6 control-label">จำนวนเงินยืม</label>
                  <div class="col-lg-6">
                    <span class="form-control disabled">
                      {{formGroup.get('borrowMoney').value | number:'1.2-2'}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 text-right">
        <ng-container *ngIf="formGroup.get('status').value == SedStatus.Normal">
          <button class="btn btn-danger" type="submit" [disabled]="formGroup.invalid">
            ยกเลิกงาน
          </button>
        </ng-container>
      </div>
    </div>
  </form>
</div>