<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>รายงานสินค้าคงเหลือขาย (อะไหล่)</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">หน้าแรก</a>
            </li>
            <li class="active">
                <strong>รายงานสินค้าคงเหลือขาย (อะไหล่)</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2 text-right pull-right">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <form class="form-horizontal" action="" #fm="ngForm" (ngSubmit)="onPrint(fm)" style="margin-bottom: 15em;">
        <div class="form-group">
            <label for="01" class="col-sm-2 control-label">สาขา</label>
            <div class="col-sm-4">
                <div class="radio radio-info">
                    <input id="branch1" type="radio" name="branchType" value="1" [(ngModel)]="formModel.branchType">
                    <label for="branch1">ทั้งหมด</label>
                </div>
                <div class="radio radio-info">
                    <input id="branch2" type="radio" name="branchType" value="2" [(ngModel)]="formModel.branchType">
                    <label for="branch2">สาขา</label>
                </div>
                <ng-select [items]="ACBranch" [hideSelected]="true" multiple="true" bindLabel="name" name="branchId"
                    [(ngModel)]="formModel.branchId" placeholder="เลือกสาขา" [disabled]="formModel.branchType == '1'">
                </ng-select>
            </div>
        </div>

        <div class="form-group">
            <label for="02" class="col-sm-2 control-label">ยี่ห้อ รุ่น แบบ สี</label>
            <div class="col-sm-8">
                <div class="radio radio-info">
                    <input id="type1" type="radio" name="brandType" value="1" checked [(ngModel)]="formModel.brandType">
                    <label for="type1">ทั้งหมด</label>
                </div>
                <div class="radio radio-info">
                    <input id="type2" type="radio" name="brandType" value="2" [(ngModel)]="formModel.brandType">
                    <label for="type2">เฉพาะ</label>
                </div>
                <div class="form-group">
                    <label for="txtProductType" class="col-md-1 control-label">ยี่ห้อ</label>
                    <div class="col-md-4">
                        <ng-select [items]="ACProductType" [hideSelected]="true" multiple="true" bindLabel="name" name="brandTypeId"
                            [(ngModel)]="formModel.brandTypeId" placeholder="เลือกยี่ห้อ" [disabled]="formModel.brandType == '1'">
                        </ng-select>
                    </div>

                    <label for="txtVersion" class="col-md-1 control-label">รุ่น</label>
                    <div class="col-md-4">
                        <ng-select [items]="ACVersion" [hideSelected]="true" multiple="true" bindLabel="name" name="version"
                            [(ngModel)]="formModel.version" placeholder="เลือกรุ่น" [disabled]="formModel.brandType == '1'">
                        </ng-select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtDesign" class="col-md-1 control-label">แบบ</label>
                    <div class="col-md-4">
                        <ng-select [items]="ACDesign" [hideSelected]="true" multiple="true" bindLabel="name" name="design"
                            [(ngModel)]="formModel.design" placeholder="เลือกแบบ" [disabled]="formModel.brandType == '1'">
                        </ng-select>
                    </div>

                    <label for="txtColor" class="col-md-1 control-label">สี</label>
                    <div class="col-md-4">
                        <ng-select [items]="ACColor" [hideSelected]="true" multiple="true" bindLabel="name" name="color"
                            [(ngModel)]="formModel.color" placeholder="เลือกสี" [disabled]="formModel.brandType == '1'">
                        </ng-select>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="btnReport" type="submit" class="btn btn-success">พิมพ์</button>
            </div>
        </div>
    </form>
</div>